<%- include('../partials/header'); %>

    <body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-chartbg" data-col="2-columns">
        <%- include('../partials/nav'); %>
            <%- include('../partials/left'); %>


             
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <div class="blocks userDetails">
                    <div class="userIcon">
                        <!-- <i class="ft-home"></i> -->
                        <img src="./assets/images/ic_dashboard.png" class="img-fluid" alt="">
                    </div>
                    <div class="details">
                        <h4 class="m-0">Dashboard</h4>
                        <p class="m-0">View Key indicator At-A-Glance.</p>
                    </div>
                    <ul class="d-flex topInputs">
                        <li>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="la la-calendar-o"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" placeholder="2021-05-30 - 2021-06-28" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="blocks">
                            <div class="d-flex justify-content-between align-items-center mt-1">
                                <h4 class="m-0">Today's Attendance</h4>
                                <h5 class="m-0 text-center">17 <small class="d-block">Users</small></h5>
                            </div>
                            <div class="chart doughnut">
                                <div class=" position-relative">
                                    <canvas id="myCanvas" class="w-100"></canvas>
                                    <h3><span>Present</span>82.35%</h3>
                                </div>
                                <ul>
                                    <li><data value="1" data-color="#2c9fee">14</data> <span>Present</span></li>
                                    <li><data value=".2" data-color="#f27b37">3</data> <span>Absent</span></li>
                                    <li><data value=".0" data-color="#f7e35c">0</data> <span>Leave</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="blocks">
                            <div class="d-flex justify-content-between align-items-center mt-1">
                                <h4 class="m-0 mb-2"><i class="la la-sort-asc"></i> Top 5 Users</h4>
                            </div>
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">User</th>
                                        <th scope="col">Working</th>
                                        <th scope="col">Productivity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"><span class="fname">RC</span> Ritesh C.</th>
                                        <td>08:55</td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 92%" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            92.20%
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><span class="fname">RC</span> Ritesh C.</th>
                                        <td>08:55</td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 92%" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            92.20%
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><span class="fname">RC</span> Ritesh C.</th>
                                        <td>08:55</td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 92%" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            92.20%
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><span class="fname">RC</span> Ritesh C.</th>
                                        <td>08:55</td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 92%" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            92.20%
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><span class="fname">RC</span> Ritesh C.</th>
                                        <td>08:55</td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 92%" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            92.20%
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="blocks">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h4 class="m-0 mb-1">Productivity Trend</h4>
                                    <ul class="trendTile">
                                        <li>
                                            <p>Current Period</p>
                                            <h4>64.22% <span><i class="la la-caret-down"></i> 0.28%</span></h4>
                                        </li>
                                        <li>
                                            <p>Current Period</p>
                                            <h4>64.22% <span><i class="la la-caret-down"></i> 0.28%</span></h4>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-8">
                                    <canvas id="myChart"></canvas>
                                </div>
                            </div>
                        </div>

                        <div class="blocks">
                            <div class="d-flex justify-content-between align-items-center mt-1">
                                <h4 class="m-0">Today's Attendance</h4>
                                <h5 class="m-0 text-center">17 <small class="d-block">Users</small></h5>
                            </div>

                            <div class="chart doughnut2 d-flex align-items-center justify-content-between">
                                <div class="cchart w-50 position-relative">
                                    <canvas id="myCanvas2" class="w-100"></canvas>
                                    <h3><span>Total Hrs.</span>82.35</h3>
                                </div>
                                <ul class="flex-column">
                                    <li><data value="1.0" data-color="green">35.23</data> <span class="ml-1">Chrome</span></li>
                                    <li><data value="0.65" data-color="orange">57.58</data> <span class="ml-1">Code</span></li>
                                    <li><data value="0.55" data-color="red">04.46</data> <span class="ml-1">Msedge</span></li>
                                    <li><data value="0.45" data-color="blue">03.21</data> <span class="ml-1">Photoshop</span></li>
                                    <li><data value="0.30" data-color="orange">03.18</data> <span class="ml-1">Code-Insiders</span></li>
                                    <li><data value="0.10" data-color="pink">02.45</data> <span class="ml-1">Google-Chrome</span></li>
                                    <li><data value="0.05" data-color="sky">02.19</data> <span class="ml-1">MyZen</span></li>
                                </ul>
                            </div>
                            <!-- <div class="chart doughnut2 d-flex align-items-center justify-content-between">
                                    <div class="cchart w-50">
                                        <canvas id="myCanvas2" class="w-100"></canvas>
                                        <h3><span>Present</span>82.35%</h3>
                                    </div>
                                    <ul class="flex-column">
                                        <li><data value="1.0" data-color="#ec4d4d">14</data> <span>Present</span></li>
                                        <li><data value="0.2" data-color="#ec64e1">3</data> <span>Absent</span></li>
                                        <li><data value="0.2" data-color="#7464ec">5</data> <span>Leave</span></li>
                                        <li><data value="0.4" data-color="#64d1ec">3</data> <span>Leave</span></li>
                                        <li><data value="0.1" data-color="#64ec91">10</data> <span>Leave</span></li>
                                        <li><data value="0.2" data-color="#caec64">2</data> <span>Leave</span></li>
                                        <li><data value="0.5" data-color="#f7e35c">1</data> <span>Leave</span></li>
                                        <li><data value="0.5" data-color="#ec9e64">4</data> <span>Leave</span></li>
                                        <li><data value="0.5" data-color="#a03328">6</data> <span>Leave</span></li>
                                    </ul>
                                </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->

           



                <%- include('../partials/footer'); %>