body.vertical-layout[data-color=bg-gradient-x-purple-blue] .navbar-container,
body.vertical-layout[data-color=bg-gradient-x-purple-blue] .content-wrapper-before {
    background: #6b6f80 !important;
    font-family: 'Roboto', sans-serif ; 
}

p,
li,
span,
input,
.form-control,
label,
select,
button,
select,
td,
tr,
a {
    font-size: .75rem !important;
    margin: 0px;
    font-family: 'Roboto', sans-serif ;
}

h1, h2, h3, h4, h5, h6, div, p, a, span, table, td, th, b, em, i, ul, li {
    font-family: 'Roboto', sans-serif ;
}

.apexcharts-toolbar {
    display: none !important;
}


/* width */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #8888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.form-control {
    padding: .5rem !important;
    height: 35px !important;
}

.input-group-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    display: flex;
    margin-bottom: 0px;
    text-align: center;
    white-space: nowrap;
    color: rgb(78, 81, 84);
    background-color: rgb(249, 250, 253);
    -webkit-box-align: center;
    align-items: center;
    padding: 0.75rem 1.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(186, 191, 199);
    border-image: initial;
    border-radius: 0.25rem;
}

.input-group-text,
.form-control {
    padding: .5rem .5rem !important;
    height: 35px !important;
}

.downloadButton {
    padding: .5rem .5rem;
    border: 1px solid #ccc;
    color: #333;
    margin-right: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    height: 35px;
    display: flex;
    align-items: center;
    color: #333;
}

.productivityContainer form .row .col-md-6,
.productivityContainer form .row .col-md-12 {
    margin-bottom: 15px;
}

.productivityContainer form .row .col-md-6 label {
    margin-bottom: 10px;
}

.productivityContainer form .row .col-md-12 p {
    font-size: 18px !important;
    font-weight: 700;
    color: #ed4724;
    margin-bottom: 0px;
    margin-top: 10px;
}

.table .thead-dark th {
    color: #333;
    border-color: transparent;
    background-color: #fffdeb;
}

.progress-bar {
    background-color: #579239 !important;
}

.fname {
    background: #ed4724;
    height: 24px;
    width: 24px;
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    font-size: 10px !important;
    margin-right: 10px;
}

.table th,
.table td {
    padding: .5rem !important;
    font-size: .785rem !important;
}

.alert-success {
    color: #317029 !important;
    border-color: #d2f4ce !important;
    background-color: #dff7dc !important;
}

.alert-danger {
    color: #823338 !important;
    border-color: #fed3d6 !important;
    background-color: #fee0e1 !important;
}

.alert-warning {
    color: #846001 !important;
    border-color: #feebb8 !important;
    background-color: #fff1cc !important;
}

.alert-info {
    color: #155b6c !important;
    border-color: #c3e9f2 !important;
    background-color: #d4eff6 !important;
}

html body .content .content-wrapper {
    padding: 15px !important;
    padding-bottom: 60px !important;
}

.main-menu.menu-fixed {
    z-index: 999;
}

.fixed-top {
    z-index: 99;
}

.topInputs .input-group-text,
.topInputs .form-control {
    padding: .5rem .5rem !important;
    height: 35px !important;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.productivityContainer .dataTables_length,
.productivityContainer #zero_config_filter,
.dataTables_length,
#zero_config2_filter,
#zero_config3_filter,
.dataTables_filter {
    display: none;
}

#zero_config_wrapper,
#zero_config2_wrapper {
    padding-left: 0px;
    padding-right: 0px;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: calc(100% - 60px) !important;
    z-index: 9;
}

html body .content {
    position: relative;
    min-height: -webkit-calc(100% - 45px) !important;
    min-height: -moz-calc(100% - 45px) !important;
    min-height: calc(100% - 45px) !important;
}

.blocks {
    background: #fff;
    box-shadow: 0 4px 13px -8px rgb(31 45 61 / 15%);
    border: 1px solid #f8f8f8;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.userDetails {
    display: flex;
    align-items: center;
}

.userDetails .userIcon {
    height: 50px;
    width: 50px;
    background: #ed4724;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 15px;
}

.userDetails .userIcon img {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userDetails .details {
    flex: 1;
}

.userDetails .details h4 {
    font-size: 18px;
    font-weight: 700;
}

.tabContainers ul.nav.nav-pills {
    border-bottom: 1px solid #ccc;
}

.tabContainers li.nav-item a {
    color: #333;
}

.tabContainers li.nav-item a.active {
    color: #ed4724;
    background: none;
    position: relative;
}

.tabContainers li.nav-item a.active:after {
    content: '';
    height: 2px;
    width: 100%;
    background: #ed4724;
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0px;
}

.tabContainers .nav.nav-pills .nav-item .nav-link {
    line-height: normal;
    padding: 0px 15px;
    border-radius: 0px;
    border-radius: 0px;
    padding-bottom: 10px;
}

.tabContainers .userProfilez {
    border: 1px solid #ccc8;
    width: 300px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.tabContainers .userProfilez.snapShotLeft {
    padding: 0px;
    justify-content: flex-start;
    align-items: flex-start;
}

.tabContainers .userProfilez.snapShotLeft h4 {
    font-size: 14px !important;
    font-weight: 700;
    margin: 0px !important;
    padding: 10px;
}

.tabContainers .innerLeft {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
    padding: 0px 10px;
    border: 1px solid #ccc8;
}

.tabContainers .userProfilez .dp {
    height: 120px;
    width: 120px;
    background: #ed4724;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 10px;
    font-size: 30px;
}

.tabContainers .snaps {
    border: 1px solid #ccc8;
    flex: 1;
    padding-left: 15px;
    align-items: center;
    height: calc(100vh - 302px) !important;
    overflow: auto;
}

.tabContainers .snaps .snapHourly {
    margin-left: 80px;
    padding: 15px;
    border-left: 1px solid #ccc8;
    position: relative;
}

.tabContainers .snaps .snapHourly:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #2f86d3;
    border-radius: 50%;
    position: absolute;
    left: -5.5px;
    top: 20px;
}

.tabContainers .snaps .snapHourly .snapTime {
    background: #ed4724;
    color: #fff;
    position: absolute;
    left: -80px;
    top: 23px;
    padding: 5px 10px;
    border-radius: 20px 0px 20px 20px;
    font-size: 10px !important;
    width: 70px;
    text-align: center;
}

.tabContainers .scrollbar {
    overflow-y: scroll;
}

.tabContainers .force-overflow {
    min-height: 450px;
}

.tabContainers #style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #f2f1f1;
    background-color: #F5F5F5;
}

.tabContainers #style-3::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.tabContainers #style-3::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.button-cover,
.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r,
.button.r .layer {
    border-radius: 100px;
}

.button.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}


/* Button 4 */

.productivityContainer .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
}

.productivityContainer .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.productivityContainer .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.productivityContainer .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.productivityContainer input:checked+.slider {
    background-color: #2196F3;
}

.productivityContainer input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.productivityContainer input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.productivityContainer .slider.round {
    border-radius: 34px;
}

.productivityContainer .slider.round:before {
    border-radius: 50%;
}

.productivityContainer .form-check .form-check-label {
    padding: 15px;
}

.productivityContainer .form-check {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 30px;
    margin-right: 20px;
    margin-top: 20px;
}

.form-check-input {
    margin-top: 17px;
}

.infoRadio {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    margin-left: 190px;
    flex: 1;
}

.submitButton {
    background: #ed4724;
    border: none;
    padding: 10px 30px;
    color: #fff;
    border-radius: 5px;
}

.changePass {
    background: #3694e0;
    color: #fff !important;
    padding: 10px 15px;
    border-radius: 5px;
}

.addPopup {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    background: #0008;
    z-index: 99999;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.addPopup .popContent {
    background: #fff;
    max-width: 400px;
    width: 100%;
    border-radius: 5px;
}

.addPopup .popContent h5 {
    font-size: 12px;
    margin: 0px !important;
}

.addPopup .popContent a i {
    font-size: 12px;
}

.addPopup .popContent button {
    font-size: 12px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 4px 8px;
    border-radius: 5px;
    margin-left: auto;
}

.addPopup .popContent input[type="submit"] {
    font-size: 12px;
    background: #ed4724;
    border: 1px solid #ed4724;
    padding: 4px 8px;
    border-radius: 5px;
    color: #fff;
}

.showHide .addPopup {
    display: flex;
}

.settingContainers .settingTiles {
    color: #333;
    margin: 15px;
    border: 1px solid #ccc8;
    padding: 15px;
}

.settingContainers .settingTiles p {
    margin-bottom: 0px;
}

.settingContainers .settingTiles p b {
    margin-bottom: 10px;
    display: block;
}

.settingContainers .settingTiles img {
    width: 50px;
    margin-right: 15px;
}


/* .modal {
    z-index: 9999;
}

.settingModal .modal {
    z-index: 999;
} */

.settingModal .modal-dialog {
    max-width: 60%;
    margin: 0;
    margin-left: auto;
    height: 100vh;
}

.settingModal .modal.fade .modal-dialog {
    transition: inherit !important;
}

.settingModal .modal-header {
    border: 1px solid #ccc8;
}

.settingModal .modal-body {
    padding: 1rem 0px;
}

.settingModal .modal-content {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    height: 100vh;
    border-radius: 0px;
    /* overflow-y: auto; */
    margin: 0px;
    border: none;
    outline: none;
    padding: 15px;
}

.settingModal .modal-title {
    font-size: 18px;
    font-weight: 700;
    color: #ed4724;
}

.settingModal td a {
    padding: .2rem .5rem;
    font-size: 12px;
}

.settingModal .close {
    position: absolute;
    left: -30px;
    width: 30px;
    height: 30px;
    background: #fff;
    line-height: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    opacity: 1;
}

.settingModal .close:focus {
    outline: none;
}

.settingModal .close span {
    font-size: 1.2rem !important;
    line-height: 1;
}

.settingModal td img {
    width: 24px
}

.innerLeft ul {
    border-top: 1px solid #ccc8;
    padding: 5px 0px;
}

.innerLeft h5 {
    font-size: 16px;
    font-weight: 700;
    color: #ed4724;
    margin-bottom: 0px;
}

.innerLeft a {
    padding: 3px 8px;
    border: 1px solid #ccc8;
    font-size: 10px !important;
    font-weight: 700;
    color: #ed4724;
}

.innerLeft a i {
    font-size: 14px !important;
}

.assignList li {
    font-size: 12px !important;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 28px;
    width: 28px;
}

.assignList {
    display: flex;
    border-top: 0px;
}

.assignList li {
    font-size: 10px !important;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    text-align: center;
    line-height: 26px;
    background: #ccc;
    color: #fff;
    margin-left: -10px;
}

.assignList li:nth-child(1) {
    background: rgb(150, 181, 40);
}

.assignList li:nth-child(2) {
    background: rgb(204, 100, 31);
}

.assignList li:nth-child(3) {
    background: rgb(20, 131, 172);
}

.assignList li:nth-child(4) {
    background: rgb(45, 62, 129);
}

.assignList li:nth-child(5) {
    background: rgb(170, 30, 147);
}

.taskDesription {
    margin-bottom: 15px;
}

.taskDesription h4,
h4 {
    color: #ed4724;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

.productivityContainer h4 {
    color: #ed4724;
    font-size: 16px;
    font-weight: 700;
}

.userListsPopup {
    padding: 15px;
}

.userListsPopup ul {
    margin-bottom: 1px solid #ccc8;
}

.userListsPopup .userName {
    font-size: 10px !important;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    text-align: center;
    line-height: 36px;
    background: #ccc;
    color: #fff;
    margin-right: 15px;
}

.userListsPopup {
    height: 50vh;
    overflow: auto;
}

.userListsPopup ul {
    padding: 10px;
    border-bottom: 1px solid #ccc8;
}

.modal-header .close:focus {
    outline: none;
}


/*  */

.line-chart {
    -webkit-animation: fadeIn 600ms cubic-bezier(0.57, 0.25, 0.65, 1) 1 forwards;
    animation: fadeIn 600ms cubic-bezier(0.57, 0.25, 0.65, 1) 1 forwards;
    opacity: 0;
    max-width: 640px;
    width: 100%;
}

.aspect-ratio {
    height: 0;
    padding-bottom: 50%;
}

@-webkit-keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.grapgss {
    padding: 15px;
    border: 1px solid #ccc8;
    margin: 30px 0px;
}

.modal .form-check-input {
    margin-top: 4px;
}

.impoSelect {
    padding: .5rem !important;
    height: 35px !important;
    width: 140px;
}

.employeeName {
    font-size: 10px !important;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    text-align: center;
    line-height: 36px;
    background: #ed4724;
    color: #fff;
    margin-right: 15px;
    display: block;
}


/* dashboard */

.chart.doughnut,
.chart.doughnut2 {
    width: 100%;
    margin: 0;
    padding-bottom: 0;
    position: relative;
    z-index: 1;
}

.chart.doughnut .canvas-container,
.chart.doughnut2 .canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 50%;
    text-align: center;
}

.chart.doughnut .canvas-container canvas,
.chart.doughnut2 .canvas-container canvas {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.chart.doughnut ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart.doughnut2 ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 200px;
    overflow-y: auto;
}

.chart.doughnut ul li {
    line-height: 1rem;
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
    margin-bottom: 0;
    padding-left: 0;
    position: relative;
    border: 1px solid #ccc8;
    text-align: center;
    padding: 5px 15px;
    margin: -15px 10px 10px;
}

.chart.doughnut2 ul li {
    line-height: initial;
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
    margin-bottom: 0;
    padding-left: 0;
    position: relative;
    border: none;
    text-align: center;
    padding: 0px 15px;
    margin: 0px 10px 0px;
    display: flex;
    align-items: center;
}

.chart.doughnut3 ul li {
    line-height: initial;
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
    margin-bottom: 0;
    padding-left: 0;
    position: relative;
    border: none;
    text-align: center;
    padding: 0px 15px;
    margin: 0px 10px 0px;
    display: flex;
    align-items: center;
}

.chart.doughnut2 ul li:before {
    content: "• ";
    position: absolute;
    left: -11px;
    top: 7px;
    vertical-align: middle;
    font-size: 4rem;
    line-height: 1rem;
}

.chart.doughnut3 ul li:before {
    content: "• ";
    position: absolute;
    left: -11px;
    top: 7px;
    vertical-align: middle;
    font-size: 4rem;
    line-height: 1rem;
}

.chart.doughnut ul li data,
.chart.doughnut2 ul li data,
.chart.doughnut3 ul li data {
    font-weight: 700;
    display: block;
    margin: 0.5rem 0;
    color: #333;
}

.chart.doughnut ul li span,
.chart.doughnut2 ul li span,
.chart.doughnut3 ul li span {
    color: #777;
    font-size: 0.8rem;
}

.chart.doughnut h3,
.chart.doughnut2 h3,
.chart.doughnut3 h3 {
    position: absolute;
    top: 42%;
    left: 0;
    right: 0px;
    margin: auto;
    margin-right: 0px;
    transform: inherit;
    padding: 0;
    font-family: helvetica, sans-serif;
    color: #555;
    text-align: center;
}

.chart.doughnut h3 span,
.chart.doughnut2 h3 span,
.chart.doughnut3 h3 span {
    display: block;
}

.trendTile li {
    border: 1px solid #ccc8;
    margin-bottom: 15px;
    padding: 15px;
}

.trendTile li p {
    font-size: 12px;
    margin: 0px;
}

.trendTile li h4 {
    font-size: 16px;
    margin: 0px;
}

.trendTile li h4 span {
    font-size: 12px;
    color: #317029;
    margin: 0px;
    margin-left: 15px;
}

.trendTile li h4 span i {
    font-size: 12px;
}

.dashboardSS {
    overflow-x: auto;
}

.dashboardSS .ssTile {
    margin-right: 15px;
}

.dashboardSS .ssTile:last-child {
    margin-right: 0px;
}

.ssModalPopup h5.modal-title {
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.ssModalPopup h5.modal-title img {
    width: 20px;
}

.ssModalPopup .modal-lg {
    max-width: 1140px;
}

.ssSoft {
    border: 1px solid #ccc8;
}

.ssSoft li {
    padding: 10px;
    border-bottom: 1px solid #ccc8;
}

.ssSoft li:last-child {
    padding: 10px;
    border-bottom: none;
}

.ssPart {
    height: 300px;
    overflow: hidden;
}

.ssModalPopup .ssSoft {
    height: 435px;
    overflow-y: auto;
}

.ssModalPopup .ssSoft img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    border-radius: 50%;
}

.ssModalPopup .ssSoft .ssSoftDetail {
    flex: 1;
}

.ssModalPopup .ssSoft .ulHeading h4 {
    margin: 0px !important;
    font-size: 14px !important;
}

.ssModalPopup .ssSoft .ssSoftDetail p {
    margin: 0px;
    padding-bottom: 0;
    font-size: 11px !important;
}

.ssActivity {
    border: 1px solid #ccc8;
    padding: 10px;
    margin-top: 20px;
}

.ssActivity h4 {
    margin: 0px !important;
    font-size: 14px !important;
}

.activities {
    padding: 5px;
}

.activities .activityTile {
    flex: 1;
    border-right: 1px solid #ccc8;
    text-align: center;
    color: #ed4724;
}

.activities .activityTile:last-child {
    flex: 1;
    border-right: none;
}

.activities .activityTile span {
    display: block;
    color: #333;
}

.ssFooter li a {
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    font-size: 11px !important;
    margin: 0px 10px;
    margin-bottom: 15px;
    padding: 5px 20px;
    border-radius: 50px;
}

.ssFooter {
    padding: 0px 5px;
}

.ssFooter li i {
    font-size: 11px !important;
}


/* Leave Page */

.leavesheader .nav.nav-pills .nav-item .nav-link {
    line-height: normal;
    padding: 0.8rem;
    border-radius: 5px;
    color: #333;
}

.leavesheader .nav-pills .nav-link.active {
    line-height: normal;
    padding: 0.8rem;
    border-radius: 2rem;
    background-color: #ed4724 !important;
    color: #fff !important;
}

.leaveTile {
    box-shadow: 0px 0px 10px 0px #0001;
    background: #fff;
}

.leaveTile .tileHeader {
    padding: 10px;
    border-bottom: 1px solid #ccc8;
}

.leaveTile .tileHeader h4 {
    margin: 0px;
    text-align: left;
}

.leaveTile .tileHeader h4 span {
    display: block;
    font-size: .75rem;
    color: #333;
}

.leaveTile h5 {
    display: block;
    color: #666;
    font-size: .75rem;
    text-align: center;
    font-weight: bold;
}

.leaveTile h5 span {
    display: block;
    font-size: 2rem !important;
    color: #666;
    padding: 5px 0px;
}

.blocks.leavesbody {
    padding: 20px;
}

.leaveTile .leaveTypee {
    background: #fff;
}

.leaveTile .leaveTypee h6 {
    background: #ccc2;
    padding: 5px;
    text-align: center;
    color: #2196F3;
    font-size: .75rem;
}

.leaveTile .descriptions {
    padding: 10px;
}

.leaveTile .approved {
    background: #fff;
}

.leaveTile .approved h6 {
    background: #ccc2;
    padding: 5px;
    text-align: center;
    color: #1fca16;
    font-size: .75rem;
}

.taskTable .alert-success {
    color: #317029 !important;
    border-color: #d2f4ce !important;
    background-color: #dff7dc !important;
    display: inline-block;
    padding: 5px;
    margin-bottom: 0px;
}

.taskTable .btn.dropdown-toggle {
    background: none;
    padding: 0px;
}

.taskTable .assignList {
    margin-left: 20px;
}

.commentInputContainer {
    border: 1px solid #ccc8;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.commentInputContainer input {
    border: none;
}

.commentInputContainer button {
    border: none;
    background: #ed4724;
    height: 35px;
    color: #fff
}

.cmntss {
    padding-top: 15px;
    border-top: 1px solid #ccc8;
    margin-bottom: 15px;
    min-height: 100px;
}

.cmntss p {
    color: #ed4724;
    font-weight: 700;
}

.attendanceTile {
    margin-right: 20px !important;
}

.attendanceTile li {
    text-align: center;
}

.attendanceTile p {
    margin-bottom: 5px !important;
}

.ssModalPopup .owl-prev,
.ssModalPopup .owl-next {
    margin-bottom: 15px !important;
}

.ssModalPopup .owl-prev span,
.ssModalPopup .owl-next span {
    font-size: 14px !important;
    background: none;
    padding: 2px 15px !important;
    border: 1px solid #ccc8;
    border-radius: 50px;
    margin-bottom: 15px;
}


/* .ssModalPopup .button:hover {
    background: none;
} */

.ssModalPopup .owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #333;
}

.ssModalPopup .owl-theme .owl-nav [class*=owl-]:focus {
    outline: none;
}

.ssModalPopup .owl-prev span:after {
    content: "Prev";
    padding-left: 5px;
    font-size: 12px !important;
}

.ssModalPopup .owl-next span:before {
    content: "Next";
    padding-right: 5px;
    font-size: 12px !important;
}

.ssModalPopup .owl-theme .owl-nav {
    margin-top: 0px;
    z-index: 999;
    position: relative;
}

.ssModalPopup .close span {
    font-size: 20px !important;
}


/* Timeline List */

.timeline_b .indication ul li {
    margin-right: 15px;
    font-size: .8rem;
    font-weight: 500;
    list-style: none;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.timeline_b .indication ul li .color {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    display: grid;
}

.timeline_b,
.timeline_b .indication ul {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 15px 0px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.timeline_b .indication ul li:first-child .color {
    background: #f44336;
}

.timeline_b .indication ul li:nth-child(2) .color {
    background: #fbb040;
}

.timeline_b .indication ul li:nth-child(3) .color {
    background: #0052cc;
}

.timeline_b .indication ul li:nth-child(4) .color {
    background: #37c977;
}


/* Daily Attendance */

.firstName {
    font-size: 10px !important;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    text-align: center;
    line-height: 26px;
    color: #fff;
    margin-right: 10px;
    display: inline-block;
}

.timelineTable tr t5 {
    padding: .5rem !important;
}

.timelineTable tr td {
    padding: .5rem 0px !important;
}

table td a {
    color: #2196F3;
}

.timelineTable .progress-bar {
    background-color: #fff!important;
    border-radius: 0px !important;
}

.timelineTable .progress {
    background-color: #3694e0 !important;
    border-radius: 0px !important;
    margin-bottom: 0px;
}

.timelineTable .progress .bg-success {
    background-color: #26bd12 !important;
    border-radius: 0px !important;
}

.timelineTable .progress .bg-warning {
    background-color: #e4c515 !important;
    border-radius: 0px !important;
}

.timelineTable .progress .bg-danger {
    background-color: #d8230f !important;
    border-radius: 0px !important;
}


/* Snap Shots */

.ssUserList {
    border: 1px solid #ccc8;
    overflow-y: scroll;
    width: 100%;
    height: calc(100vh - 325px) !important;
}

.ssUserList li a {
    padding: 8px 10px;
    display: block;
}

.snapContainer .tabContainers .snaps {
    border: 1px solid #ccc8;
    flex: 1;
    padding-left: 15px;
    align-items: center;
    height: calc(100vh - 252px) !important;
    overflow: auto;
}


/* Daily In Out */

.timelineTable tr th {
    position: sticky;
    top: 0;
    left: -1px;
    z-index: 4;
    background: #fff;
}

.timelineTable tr th:first-child {
    left: 0;
    z-index: 5;
    border-left: 1px solid #ccc8;
    border-right: 1px solid #ccc8;
}

.dailyInOutTable .w_50t {
    flex: 1;
    padding: 5px;
    border-top: 1px solid #ccc8;
}

.dailyInOutTable .br-r {
    border-right: 1px solid #ccc8;
}

.dailyInOutTable .inout {
    margin-top: 5px;
}

.dailyInOutTable th,
.dailyInOutTable td {
    padding: 0px !important;
}

.dailyInOutTable .t_date {
    padding: 5px !important;
}

.dailyInOutTable tr th {
    position: sticky;
    top: 0;
    left: -1px;
    z-index: 4;
    background: #fff;
}

.dailyInOutTable tr th:first-child {
    left: 0;
    z-index: 5;
    border-left: 1px solid #ccc8;
    border-right: 1px solid #ccc8;
}

.dailyInOutTable tbody .w_50t {
    flex: 1;
    padding: 5px;
    border-top: none !important;
    text-align: center;
}

.details p {
    text-transform: capitalize;
}

.applicationTileContainer .applicationTile {
    padding: 5px;
    width: 20%;
    min-width: 200px;
}

.applicationTileContainer .applicationTile .tileContent {
    padding: 10px;
    border: 1px solid #ccc8;
    width: 100%;
    display: flex;
}

.applicationTileContainer .applicationTile .tileContent img {
    width: 30px;
    margin-right: 10px;
}

.apTile {
    box-sizing: border-box;
    width: 25%;
    min-width: 150px;
    text-align: center;
}

.apTile .appTileContent {
    border: 1px solid #ccc8;
    padding: 10px 10px;
    margin: 5px;
}

.pperesnt span {
    background: #0cbf22;
    padding: 5px;
    color: #fff;
    min-width: 24px;
    display: inline-block;
    text-align: center;
}

.aabsent span {
    background: #ba1919;
    padding: 5px;
    color: #fff;
    min-width: 24px;
    display: inline-block;
    text-align: center;
}

.reportTiles a {
    border: 1px solid #ccc8;
    padding: 8px;
    padding-right: 10px;
    color: #333;
}

.reportTiles a svg {
    width: 120px;
}


/* drawer Menu */

body.vertical-layout.vertical-menu.menu-expanded .main-menu.menu-light .navigation>li>a>i {
    line-height: inherit;
    display: inline-block;
    width: auto !important;
    height: auto !important;
    margin-right: 8px;
    text-align: center;
    vertical-align: middle;
    border-radius: 12%;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #999;
}

.main-menu.menu-light .navigation>li>a {
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.main-menu.menu-light .navigation>li.hover a i {
    background: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.navbar-header .navbar-brand .brand-logo.logoLarge {
    width: 120px;
    display: none;
}

.logoIcon {
    display: block;
}

.navbar-header .navbar-brand {
    margin-right: 0;
    padding: 3px 0;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu {
    width: 60px;
}

.main-menu.menu-light .navigation>li a i svg {
    font-size: 18px;
    margin-top: 10px;
    height: 1em !important;
    width: 1em !important;
}

body.vertical-layout.vertical-menu.menu-expanded .navbar .navbar-container {
    margin-left: 60px;
}

body.vertical-layout.vertical-menu.menu-expanded .content,
body.vertical-layout.vertical-menu.menu-expanded .footer {
    margin-left: 60px;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu:hover {
    width: 220px;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu:hover .navbar-brand .brand-logo.logoLarge {
    display: block;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu:hover .navbar-brand .brand-logo.logoIcon {
    display: none;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation li.has-sub>a:not(.mm-next):after {
    top: 4px;
    position: static;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu.menu-light .navigation .hover>a>i,
body.vertical-layout.vertical-menu.menu-expanded .main-menu.menu-light .navigation:hover>a>i,
body.vertical-layout.vertical-menu.menu-expanded .main-menu.menu-light .navigation .open>a>i {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.main-menu.menu-light .navigation>li.active>a {
    font-weight: 400;
    color: #333;
    background: #f4794820;
    position: relative;
}
.main-menu.menu-light .navigation>li.active>a i {
    color: #333 !important;
}

.main-menu.menu-light .navigation>li.active>a:before {
    content: '';
    height: 100%;
    width: 3px;
    background: #f47948;
    position: absolute;
    left: 0px;
}

.main-menu.menu-light .navigation>li.open .hover>a:before {
    position: absolute;
    top: 28%;
    left: 20px;
    display: block;
    width: 7px;
    height: 7px;
    content: '';
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform: translate(10px, 50%);
    -moz-transform: translate(10px, 50%);
    -ms-transform: translate(10px, 50%);
    -o-transform: translate(10px, 50%);
    transform: translate(10px, 50%);
    opacity: 1;
    border-color: #f47948;
    border-radius: 50%;
    background-color: #f47948;
    z-index: 99;
}

.main-menu.menu-light .navigation>li ul li>a {
    padding: 10px 18px 10px 65px;
}

.main-menu.menu-light .navigation>li ul li:after {
    content: '';
    width: 1px;
    height: 100%;
    background: #ccc;
    position: absolute;
    left: 33px;
    top: 0px;
    z-index: 1;
}

.main-menu.menu-light .navigation>li.open .hover>a {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu .open ul {
    display: none !important;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu:hover .open ul {
    display: block !important;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation>li>a>i:before {
    font-size: 18px;
}


/* body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation li.has-sub>a:not(.mm-next):after {
    display: none;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu .open .navigation li.has-sub>a:not(.mm-next):after {
    display: block !important;
} */

.main-menu.menu-light .navigation li a span {
    flex: 1;
    color: #999;
    font-weight: 600;
    display:none;
}

.main-menu.menu-light .navigation li.active a span {
    flex: 1;
    color: #333;
    font-weight: 600;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu:hover .navigation li a span {
    display: block;
}

svg .group-container {
    display: none !important;
}

.ssUserList li a {
    color: #333;
    font-weight: 400;
}

.ssUserList li .active {
    background: #f4794840;
    position: relative;
}

.ssUserList li .active:before {
    content: '';
    width: 4px;
    background: #f47948;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0;
}


/* Popup Css */
#leaveModal, #breakModal, #departmentsModal, #taskModal {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    display: none;
    background: #0002;
}

.openPopups #leaveModal, .openPopups1 #departmentsModal, .openPopups2 #breakModal, .openPopups3 #taskModal  {
    display: block;
}    