<%- include('../partials/front/header'); %>
    <!-- inner-headerSlider-start -->
    <section id="innerHeadSliderSec">
        <img src="/theme-assets/front/images/elementHead1.png" alt="element" class="element1 hang">
        <img src="/theme-assets/front/images/elementHead02.png" alt="element" class="element2 hang">
        <img src="/theme-assets/front/images/elementHead2.png" alt="element" class="element3 hang">
        <img src="/theme-assets/front/images/elementHead4.png" alt="element" class="element4 hang">
        <img src="/theme-assets/front/images/elementHead5.png" alt="element" class="element5 hang">
        <div class="innerHeadSliderSecinner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <div class="innerHeadCnt">
                            <h1>About Us
    
    
                            </h1>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                      <li class="breadcrumb-item"><a href="<%= process.env.APP_URL %>">Home</a></li>
                                     
                                      <li class="breadcrumb-item active" aria-current="page">About Us
    
    
                                    </li>
                                    </ol>
                                  </nav>
                        </div>
                    </div>
                    <!-- col-md-6 -->
    
                    <div class="col-md-6 align-self-center text-center">
    <div class="innerHeadImg">
        <img src="/theme-assets/front/images/aboutUsImg.png" alt="About Us">
    </div>
                    </div>
                    <!-- col-md-6 -->
                </div>
            </div>
        </div>
    </section>
        <!-- inner-headerSlider-end -->
    
    
    <!-- aboutPg_section-start -->
    <section id="aboutPg_sec">
        <div class="aboutPg_secinner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="aboutPgImg">
                            <div class="dotsdv hang"></div>
    <img src="/theme-assets/front/images/aboutPgsecImg.jpg" alt="">
    
    <!--  -->
    <!-- <div class="about_quote">
        <div class="about_quoteinner">
            <span class="flaticon-quote hang
            "></span>
            <div class="shadowDown">
               
            </div>
        <h6>At iDS Tutor Home Tuitions, children learn, grow, and achieve.
        </h6>
    </div>
    </div> -->
    <!--  -->
                        </div>
                    </div>
                    <!-- col-md-6 -->
    
    
                    <div class="col-md-6 align-self-center">
    <div class="aboutPg_cnt">
        <hgroup class="site_heading mb-5">
          
            <h2>Our Company
            </h2>
    
           
          
    </hgroup>
    
    <p>While we absolutely love monitoring software, we believe monitoring, in general, is broken. There's just too many tools to keep track of, too many things in entirely separate ecosystems. There has to be a better way to work - that's why we created Myproject-Desk, first an internal tool now with complete end to end project management tools , kanban boards , Task management , business intelligence reports and more.
    
    
    </p>
    
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
                    </div>
                    <!-- col-md-6 -->
                </div>
            </div>
        </div>
    </section>
    <!-- aboutPg-section-end -->
    
    
    <section id="missionVissionSec">
    
        <div class="missionDv">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <div class="missionVisonInner">
                        <hgroup class="lightW">
          
                            <h2>Our Mission
                            </h2>
                    
                           
                          
                    </hgroup>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    </div>
                    </div>
                    <!--  -->
    
                    <div class="col-md-6 align-self-center">
    <img src="/theme-assets/front/images/ourMissionImg.jpg" alt="Our Mission">
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
    
    
    
    
        
        <div class="missionDv vissionDv">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <img src="/theme-assets/front/images/ourMissionImg.jpg" alt="Our Mission">
                                        </div>
                                        <!--  -->
    
                    <div class="col-md-6 align-self-center">
                        <div class="missionVisonInner">
                        <hgroup class="lightW">
          
                            <h2>Our Vission
                            </h2>
                    
                           
                          
                    </hgroup>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    
    </p>
    </div>
                    </div>
                    <!--  -->
    
                   
                </div>
            </div>
        </div>
    </section>
    
    
    <!-- testimonials-section-start -->
    
    <section id="our_verticlesec" class="bg-light">
        <div class="our_verticlesectop">
          <div class="container">
         <hgroup>
             <h2>What Our Clients Say ?</h2>
         </hgroup>
          </div>
        </div>
    
    
        <div class="our_verticlesecbottom">
          <div class="container">
            <div class="our_verticlesecbottominner">
              <div class="owl-carousel owl-theme owl-loaded our_verticlowl">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        <div class="owl-item">
                          <div class="verticle_bx">
                            <div class="verticle_bxinner">
                            <div class="text-center">
                              <img src="/theme-assets/front/images/testimonial_user.jpg">
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                         <h5>Maria Kloop</h5>
                         <h6>Developer</h6>
                          </div>
                        </div>
                      </div>
    
                      <div class="owl-item">
                        <div class="verticle_bx">
                          <div class="verticle_bxinner">
                          <div class="text-center">
                            <img src="/theme-assets/front/images/testimonial_user.jpg">
                          </div>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                       <h5>Maria Kloop</h5>
                       <h6>Developer</h6>
                        </div>
                      </div>
                    </div>
    
                    <div class="owl-item">
                      <div class="verticle_bx">
                        <div class="verticle_bxinner">
                        <div class="text-center">
                          <img src="/theme-assets/front/images/testimonial_user.jpg">
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                     <h5>Maria Kloop</h5>
                     <h6>Developer</h6>
                      </div>
                    </div>
                  </div>
    
                  <div class="owl-item">
                    <div class="verticle_bx">
                      <div class="verticle_bxinner">
                      <div class="text-center">
                        <img src="/theme-assets/front/images/testimonial_user.jpg">
                      </div>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                   <h5>Maria Kloop</h5>
                   <h6>Developer</h6>
                    </div>
                  </div>
                </div>
                        
                    </div>
                </div>
                </div>
            </div>
          </div>
        </div>
      </section>
    
    <!-- testimonials-section-end -->
    

    
    
    <!-- get-in-touch-section-start -->
    <section id="getInTouchSec">
        <div class="getInTouchSecinner">
            <div class="container">
                <hgroup>
                    <h2>
                        Get in Touch
                    </h2>
                    <p>Know How You Can Increase Employee Productivity with Myproject-Desk.
        
                    </p>
                </hgroup>
                <div class="row">
                    <div class="col-md-4">
                        <div class="getTouchBx wow fadeInUp">
        <div class="text-center">
            <span class="flaticon-location-1
        
            "></span>
        </div>
        <!--  -->
        <h4>Address</h4>
        <p>
            <a href="javascript:void(0);">A-3 Maal Road, Vidhyadhar Nagar, Jaipur</a>
        </p>
                          </div>
                    </div>
                    <!--  -->
        
        
                    <div class="col-md-4">
                        <div class="getTouchBx wow fadeInUp">
        <div class="text-center">
            <span class="flaticon-phone-call
        
            "></span>
        </div>
        <!--  -->
        <h4>Phone</h4>
        <p>
            <a href="tel:++91 9828732221">+91 9828732221</a>
        </p>
        
        
                        </div>
                    </div>
                    <!--  -->
        
                    <div class="col-md-4">
                        <div class="getTouchBx wow fadeInUp">
        <div class="text-center">
            <span class="flaticon-email
        
            "></span>
        </div>
        <!--  -->
        <p>
            <a href="mailto:sales@doomshell.com">sales@doomshell.com</a>
        </p>
        
        <p>
            <a href="mailto:contact@doomshell.com">contact@doomshell.com</a>
        </p>
                        </div>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
        
        <!-- form -->
        
        <div class="sendYourMessageSec">
            <div class="sendYourMessageSecinner">
                <hgroup>
                    <h2>Send Your Message</h2>
                </hgroup>
        
                <form action="">
                    <div class="row">
                        <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput1" placeholder="Your Name">
                        <label for="floatingInput1">Your Name</label>
                      </div>
                    </div>
                    <!--  -->
        
                    <div class="col-md-6">
                      <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput2" placeholder="Email Address">
                        <label for="floatingInput2">Email Address</label>
                      </div>
                    </div>
                    <!--  -->
        
        
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput3" placeholder="Your Subject">
                            <label for="floatingInput3">Your Subject</label>
                          </div>
                        </div>
                        <!--  -->
            
                        <div class="col-md-6">
                          <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInput4" placeholder="Your Phone">
                            <label for="floatingInput4">Your Phone</label>
                          </div>
                        </div>
                        <!--  -->
        
                        <div class="col-md-12">
                            <div class="form-floating">
                              <textarea class="form-control" id="floatingInput5" placeholder="Write Message"></textarea>
                              <label for="floatingInput5">Write Message</label>
                            </div>
                          </div>
                          <!--  -->
                        
                    </div>
                    <!--  -->
                    <div class="text-center mt-3">
                        <button type="submit" class="site_btn2 border-0">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
        
        </section>
        <!-- get-in-touch-section-end -->
             
        <%- include('../partials/front/footer'); %>    