<%- include('../partials/front/header'); %>
    <!-- inner-headerSlider-start -->
   
    <!-- inner-headerSlider-start -->
<section id="innerHeadSliderSec">
    <img src="/theme-assets/front/images/elementHead1.png" alt="element" class="element1 hang">
    <img src="/theme-assets/front/images/elementHead02.png" alt="element" class="element2 hang">
    <img src="/theme-assets/front/images/elementHead2.png" alt="element" class="element3 hang">
    <img src="/theme-assets/front/images/elementHead4.png" alt="element" class="element4 hang">
    <img src="/theme-assets/front/images/elementHead5.png" alt="element" class="element5 hang">
    <div class="innerHeadSliderSecinner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <div class="innerHeadCnt">
                        <h1>Affiliate Program



                        </h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                                 
                                  <li class="breadcrumb-item active" aria-current="page">Affiliate Program



                                </li>
                                </ol>
                              </nav>
                    </div>
                </div>
                <!-- col-md-6 -->

                <div class="col-md-6 align-self-center text-center">
<div class="innerHeadImg">
    <img src="/theme-assets/front/images/affiliateBannerImg.png" alt="Affiliate">
</div>
                </div>
                <!-- col-md-6 -->
            </div>
        </div>
    </div>
</section>
    <!-- inner-headerSlider-end -->


<section id="whyAffiliateSec">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
<div class="whyAffiliateImg">
    <img src="/theme-assets/front/images/affiliateMnImg.png" alt="Why Affiliate">
</div>
            </div>
            <!-- col-md-6 -->

            <div class="col-md-6 align-self-center">
<div class="whyAffiliateCnt">
    <hgroup class="lightW">
        <h2>
            Why Become an Affiliate?

        </h2>
    </hgroup>

    <p>My Project-desk is a cloud-based employee engagement tool that helps organizations improve employee productivity by providing the visual representation of factual workspace data to help you make better and well-informed decisions for your organization.

    </p>
    <p>While working with My Project-desk, you get unlimited learning opportunities by working in one of the fastest-growing industries in the world.

    </p>
</div>
            </div>
            <!-- col-md-6 -->

        </div>
    </div>
</section>


<section id="howToAffiliateSec">
<div class="container">
    <hgroup class="lightW">
        <h6>Schedule a call to connect with our team.<br>We’d love to connect with you!

        </h6>
        <h2>How to become an Affiliate?
        </h2>
    </hgroup>

    <div class="row">
<div class="col-md-4">
    <div class="howToAffiliateBx">
        <div class="howToAffiliateBxImg">
<img src="/theme-assets/front/images/signUpAffiliatIco.png" alt="">
</div>
<h4>Sign Up</h4>
    </div>
</div>
<!-- col-md-4 -->

<div class="col-md-4">
    <div class="howToAffiliateBx">
        <div class="howToAffiliateBxImg">
<img src="/theme-assets/front/images/promoteAffiliateIco.png" alt="">
</div>
<h4>Promote and Bring Leads</h4>
    </div>
</div>
<!-- col-md-4 -->

<div class="col-md-4">
    <div class="howToAffiliateBx">
        <div class="howToAffiliateBxImg">
<img src="/theme-assets/front/images/getPaidAffiliateIco.png" alt="">
</div>
<h4>Get Paid</h4>
    </div>
</div>
<!-- col-md-4 -->
    </div>
    <!--  -->
</div>    
</section>




<section id="whyAffiliateSec">
    <div class="container">
        <div class="row">
            
            <div class="col-md-6 align-self-center">
                <div class="whyAffiliateCnt">
                    <hgroup class="lightW">
                        <h2>
                            Your Earnings

                
                        </h2>
                    </hgroup>
                
                    <p>We offer excellent commission rates for affiliates who promote My Project-desk. The commission rates being representative of Industry benchmarks will assist you to unlock your earning potential. When your customer/lead purchases our product, you will be entitled to receive commissions on the same. There are no boundaries as to how much you can earn. The higher the number of customers you send us, the higher is the incentive you receive.

                
                    </p>
                   
                </div>
                            </div>
                            <!-- col-md-6 -->

            <div class="col-md-6">
<div class="whyAffiliateImg">
    <img src="/theme-assets/front/images/affiliateEarningImg.png" alt="Your Earning">
</div>
            </div>
            <!-- col-md-6 -->


        </div>
    </div>
</section>


<section id="uniquBenfitsSec" class="bg-light">
    <div class="container">
        <hgroup>
            
            <h2>My Project-desk’s Unique Benefits

            </h2>
        </hgroup>
        <div class="row">
            <div class="col-md-6">
                <div class="uniquBenefitsImg">
<img src="/theme-assets/front/images/affiliateBenefits.png" alt="Benefits">
                </div>
            </div>
            <!-- col-md-6 -->

            <div class="col-md-6">
                <div class="uniquBenefitsCnt">
<ul class="list-unstyled">
    <li>
        <h4>Trusted, High Demand Product
        </h4>
        <p>Our award-winning employee monitoring software makes it easy to profit while promoting the best employee engagement is very high in demand.
        </p>
    </li>

    <li>
        <h4>On-Time Affiliate Payment
        </h4>
        <p>We know you put in all efforts to earn an income, and we value the relationship and partnership with our affiliates. We believe our affiliates are entitled to receive the benefits every time they bring us results. Thus, we focus on paying on time, every time!
        </p>
    </li>

    <li>
        <h4>Get the Necessary Support to Succeed
        </h4>
        <p>We offer dedicated assistance from our experienced Business Development Executives. Any questions or queries, our team is always there to guide you.
        </p>
    </li>

    <li>
        <h4>Full-Time Job Opportunity
        </h4>
        <p>We appreciate our affiliates’ hard work, and that’s why as a reward, we also offer full-time opportunities to deserving candidates
        </p>
    </li>
</ul>
                </div>
            </div>
            <!-- col-md-6 -->
        </div>
    </div>
</section>


<section id="affiliateFrmSec">
    <div class="affiliateFrmSecInner">
    <div class="container">
<hgroup class="lightW">
    <h2>My Project-desk Affiliate Program
    </h2>
    <p>Promote the best Indian SaaS industry leading Employee Monitoring Product and enjoy
        the best commission rates in the industry!</p>
</hgroup>


<form>
    <div class="row">
    <div class="col">
        <div class=" form-floating mb-3">
                                         
        <input type="text" class="form-control" id="nameField" placeholder="Name">
        <label for="nameField">Name</label>
      </div>

    </div>
    <!--  -->

    <div class="col">
        <div class=" form-floating mb-3">
                                         
        <input type="email" class="form-control" id="emailField" placeholder="Email">
        <label for="emailField">Email</label>
      </div>

    </div>
    <!--  -->

    <div class="col">
        <div class=" form-floating mb-3">
                                         
        <input type="text" class="form-control" id="phoneField" placeholder="Phone">
        <label for="phoneField">phone</label>
      </div>

    </div>
    <!--  -->

    <div class="col">
<input type="submit" value="Sign Up" class="site_btn2 ">
    </div>
<!--  -->
</div>
</form>

    </div>
</div>
</section>


<!-- faq-section-start -->
<section id="faqSec" class="affiliateFaq">
    <div class="faqSecinner">
        <div class="container">
            <hgroup>
                <h6>Get Help (Help Center)</h6>
                <h2>Frequently Asked Questions</h2>
            </hgroup>
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <div class="faqImg wow fadeInLeft">
    <img src="/theme-assets/front/images/faqImg.png" alt="FAQ">
                    </div>
                </div>
                <!-- col-md-6 -->
    
    <div class="col-md-6 align-self-center">
        <div class="faqCnt wow fadeInRight">
   
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                How do I join the My Project-desk Affiliates Program?

            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Registering with the My Project-desk Affiliate Program is easy. Just sign up, get approved by an email and start working with us.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Do I qualify for the My Project-desk Affiliate Program?

    
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                To become a My Project-desk Associate, you must have excellent written and verbal communication skills, except that we require you to possess any specific level of educational qualification. We would appreciate some prior knowledge about SaaS products, but it is not a prerequisite. 
            </div>
          </div>
        </div>
    
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                How do I get paid?

    
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                You will be paid via a bank transfer.
            </div>
          </div>
        </div>
        <!--  -->
    
    
    
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                When will I receive my commission payment?

    
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                We automatically issue payment when the client makes the payment. We believe in paying on time, every time as soon as we receive the payment. 
              </div>
            </div>
          </div>
          <!--  -->


 
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Can I get paid for referring to myself?


    
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                No, You will get paid only when you influence or refer to others, and they make a payment.
              </div>
            </div>
          </div>
          <!--  -->


          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Will I still be paid if a customer commits a fraud/ defaults on the payment after paying once?


    
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                No. We will not pay any commission in case a customer is fraudulent or defaults on the payment. Moreover, we do not desire to associate with any such customers.  
              </div>
            </div>
          </div>
          <!--  -->



          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Whom should an affiliate contact for queries about the affiliate program?


    
              </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                You are welcome to reach out through email. Drop us an email on marketing@My Project-desk we will be happy to assist you and get back to you as soon as possible.
              </div>
            </div>
          </div>
          <!--  -->


      </div>
      <!--  -->
        </div>
    </div>
    <!-- col-md-6 -->
    
            </div>
        </div>
    </div>
    </section>
    <!-- faq-section-end -->
    

<!-- testimonials-section-start -->

<section id="our_verticlesec" class="bg-light">
    <div class="our_verticlesectop">
      <div class="container">
     <hgroup>
         <h2>What Our Clients Say ?</h2>
     </hgroup>
      </div>
    </div>


    <div class="our_verticlesecbottom">
      <div class="container">
        <div class="our_verticlesecbottominner">
          <div class="owl-carousel owl-theme owl-loaded our_verticlowl">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <div class="owl-item">
                      <div class="verticle_bx">
                        <div class="verticle_bxinner">
                        <div class="text-center">
                          <img src="/theme-assets/front/images/testimonial_user.jpg">
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                     <h5>Maria Kloop</h5>
                     <h6>Developer</h6>
                      </div>
                    </div>
                  </div>

                  <div class="owl-item">
                    <div class="verticle_bx">
                      <div class="verticle_bxinner">
                      <div class="text-center">
                        <img src="/theme-assets/front/images/testimonial_user.jpg">
                      </div>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                   <h5>Maria Kloop</h5>
                   <h6>Developer</h6>
                    </div>
                  </div>
                </div>

                <div class="owl-item">
                  <div class="verticle_bx">
                    <div class="verticle_bxinner">
                    <div class="text-center">
                      <img src="/theme-assets/front/images/testimonial_user.jpg">
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                 <h5>Maria Kloop</h5>
                 <h6>Developer</h6>
                  </div>
                </div>
              </div>

              <div class="owl-item">
                <div class="verticle_bx">
                  <div class="verticle_bxinner">
                  <div class="text-center">
                    <img src="/theme-assets/front/images/testimonial_user.jpg">
                  </div>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
               <h5>Maria Kloop</h5>
               <h6>Developer</h6>
                </div>
              </div>
            </div>
                    
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </section>

<!-- testimonials-section-end -->

    
    <!-- testimonials-section-end -->
    

    
    
    <!-- get-in-touch-section-start -->
    <section id="getInTouchSec">
        <div class="getInTouchSecinner">
            <div class="container">
                <hgroup>
                    <h2>
                        Get in Touch
                    </h2>
                    <p>Know How You Can Increase Employee Productivity with Myproject-Desk.
        
                    </p>
                </hgroup>
                <div class="row">
                    <div class="col-md-4">
                        <div class="getTouchBx wow fadeInUp">
        <div class="text-center">
            <span class="flaticon-location-1
        
            "></span>
        </div>
        <!--  -->
        <h4>Address</h4>
        <p>
            <a href="javascript:void(0);">A-3 Maal Road, Vidhyadhar Nagar, Jaipur</a>
        </p>
                          </div>
                    </div>
                    <!--  -->
        
        
                    <div class="col-md-4">
                        <div class="getTouchBx wow fadeInUp">
        <div class="text-center">
            <span class="flaticon-phone-call
        
            "></span>
        </div>
        <!--  -->
        <h4>Phone</h4>
        <p>
            <a href="tel:++91 9828732221">+91 9828732221</a>
        </p>
        
        
                        </div>
                    </div>
                    <!--  -->
        
                    <div class="col-md-4">
                        <div class="getTouchBx wow fadeInUp">
        <div class="text-center">
            <span class="flaticon-email
        
            "></span>
        </div>
        <!--  -->
        <p>
            <a href="mailto:sales@doomshell.com">sales@doomshell.com</a>
        </p>
        
        <p>
            <a href="mailto:contact@doomshell.com">contact@doomshell.com</a>
        </p>
                        </div>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
        
        <!-- form -->
        
        <div class="sendYourMessageSec">
            <div class="sendYourMessageSecinner">
                <hgroup>
                    <h2>Send Your Message</h2>
                </hgroup>
        
                <form action="">
                    <div class="row">
                        <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput1" placeholder="Your Name">
                        <label for="floatingInput1">Your Name</label>
                      </div>
                    </div>
                    <!--  -->
        
                    <div class="col-md-6">
                      <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput2" placeholder="Email Address">
                        <label for="floatingInput2">Email Address</label>
                      </div>
                    </div>
                    <!--  -->
        
        
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput3" placeholder="Your Subject">
                            <label for="floatingInput3">Your Subject</label>
                          </div>
                        </div>
                        <!--  -->
            
                        <div class="col-md-6">
                          <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInput4" placeholder="Your Phone">
                            <label for="floatingInput4">Your Phone</label>
                          </div>
                        </div>
                        <!--  -->
        
                        <div class="col-md-12">
                            <div class="form-floating">
                              <textarea class="form-control" id="floatingInput5" placeholder="Write Message"></textarea>
                              <label for="floatingInput5">Write Message</label>
                            </div>
                          </div>
                          <!--  -->
                        
                    </div>
                    <!--  -->
                    <div class="text-center mt-3">
                        <button type="submit" class="site_btn2 border-0">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
        
        </section>
        <!-- get-in-touch-section-end -->
             
        <%- include('../partials/front/footer'); %>    