<%- include('../partials/front/header'); %>
   

    <!-- inner-headerSlider-start -->
<section id="innerHeadSliderSec">
  <img src="/theme-assets/front/images/elementHead1.png" alt="element" class="element1 hang">
  <img src="/theme-assets/front/images/elementHead02.png" alt="element" class="element2 hang">
  <img src="/theme-assets/front/images/elementHead2.png" alt="element" class="element3 hang">
  <img src="/theme-assets/front/images/elementHead4.png" alt="element" class="element4 hang">
  <img src="/theme-assets/front/images/elementHead5.png" alt="element" class="element5 hang">
  <div class="innerHeadSliderSecinner">
      <div class="container">
          <div class="row">
              <div class="col-md-6 align-self-center">
                  <div class="innerHeadCnt">
                      <h1>Engagement Tacking





                      </h1>
                          <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="<%= process.env.APP_URL %>/">Home</a></li>
                               
                                <li class="breadcrumb-item active" aria-current="page">Engagement Tacking





                              </li>
                              </ol>
                            </nav>
                  </div>
              </div>
              <!-- col-md-6 -->

              <div class="col-md-6 align-self-center text-center">
<div class="innerHeadImg">
  <img src="/theme-assets/front/images/featuresImg.png" alt="Price Plan">
</div>
              </div>
              <!-- col-md-6 -->
          </div>
      </div>
  </div>
</section>
  <!-- inner-headerSlider-end -->



<!-- features-section-start -->
<section id="featuresPgSec">
<div class="featuresPgSecInner">
  <div class="container">
      <hgroup>
          
          <h2>
              Engagement Tacking






          </h2>
      </hgroup>
      <div class="row">
          <div class="col-md-6 align-self-center">
              <div class="featureImgDv">
<img src="/theme-assets/front/images/engagmentTrackingImg.png" alt="">
              </div>
          </div>
          <!-- col-md-6 -->

          <div class="col-md-6 align-self-center">
              <div class="features_cnt">
<p>Myproject-Desk, with the help of Ai, can monitor every keystroke and mouse click your employee completes and can detect if the employee was idle or doing productive work.










</p>


<h5>Benefit</h5>
<ul class="list-unstyled dotsUl">
<li>  The more engaged the employee is, the higher is his productivity.</li>
<li>
  This helps in more accurate monitoring of employee performance.</li>
  <li>
  This complements time tracking</li>
  <li>
  More productivity of the employee means more profit to the business.</li>
</ul>
              </div>
          </div>
          <!-- col-md-6 -->
      </div>
  </div>
</div>
</section>
<!-- features-section-end -->


<!-- testimonials-section-start -->
    
    <section id="our_verticlesec" class="bg-light">
        <div class="our_verticlesectop">
          <div class="container">
         <hgroup>
             <h2>What Our Clients Say ?</h2>
         </hgroup>
          </div>
        </div>
    
    
        <div class="our_verticlesecbottom">
          <div class="container">
            <div class="our_verticlesecbottominner">
              <div class="owl-carousel owl-theme owl-loaded our_verticlowl">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        <div class="owl-item">
                          <div class="verticle_bx">
                            <div class="verticle_bxinner">
                            <div class="text-center">
                              <img src="/theme-assets/front/images/testimonial_user.jpg">
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                         <h5>Maria Kloop</h5>
                         <h6>Developer</h6>
                          </div>
                        </div>
                      </div>
    
                      <div class="owl-item">
                        <div class="verticle_bx">
                          <div class="verticle_bxinner">
                          <div class="text-center">
                            <img src="/theme-assets/front/images/testimonial_user.jpg">
                          </div>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                       <h5>Maria Kloop</h5>
                       <h6>Developer</h6>
                        </div>
                      </div>
                    </div>
    
                    <div class="owl-item">
                      <div class="verticle_bx">
                        <div class="verticle_bxinner">
                        <div class="text-center">
                          <img src="/theme-assets/front/images/testimonial_user.jpg">
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                     <h5>Maria Kloop</h5>
                     <h6>Developer</h6>
                      </div>
                    </div>
                  </div>
    
                  <div class="owl-item">
                    <div class="verticle_bx">
                      <div class="verticle_bxinner">
                      <div class="text-center">
                        <img src="/theme-assets/front/images/testimonial_user.jpg">
                      </div>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                   <h5>Maria Kloop</h5>
                   <h6>Developer</h6>
                    </div>
                  </div>
                </div>
                        
                    </div>
                </div>
                </div>
            </div>
          </div>
        </div>
      </section>
    
    <!-- testimonials-section-end -->
    
    
    
    
    
    <!-- get-in-touch-section-start -->
    <section id="getInTouchSec">
        <div class="getInTouchSecinner">
            <div class="container">
                <hgroup>
                    <h2>
                        Get in Touch
                    </h2>
                    <p>Know How You Can Increase Employee Productivity with Myproject-Desk.
        
                    </p>
                </hgroup>
                <div class="row">
                    <div class="col-md-4">
                        <div class="getTouchBx wow fadeInUp">
        <div class="text-center">
            <span class="flaticon-location-1
        
            "></span>
        </div>
        <!--  -->
        <h4>Address</h4>
        <p>
            <a href="javascript:void(0);">A-3 Maal Road, Vidhyadhar Nagar, Jaipur</a>
        </p>
                          </div>
                    </div>
                    <!--  -->
        
        
                    <div class="col-md-4">
                        <div class="getTouchBx wow fadeInUp">
        <div class="text-center">
            <span class="flaticon-phone-call
        
            "></span>
        </div>
        <!--  -->
        <h4>Phone</h4>
        <p>
            <a href="tel:++91 9828732221">+91 9828732221</a>
        </p>
        
        
                        </div>
                    </div>
                    <!--  -->
        
                    <div class="col-md-4">
                        <div class="getTouchBx wow fadeInUp">
        <div class="text-center">
            <span class="flaticon-email
        
            "></span>
        </div>
        <!--  -->
        <p>
            <a href="mailto:sales@doomshell.com">sales@doomshell.com</a>
        </p>
        
        <p>
            <a href="mailto:contact@doomshell.com">contact@doomshell.com</a>
        </p>
                        </div>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
        
        <!-- form -->
        
        <div class="sendYourMessageSec">
            <div class="sendYourMessageSecinner">
                <hgroup>
                    <h2>Send Your Message</h2>
                </hgroup>
        
                <form action="">
                    <div class="row">
                        <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput1" placeholder="Your Name">
                        <label for="floatingInput1">Your Name</label>
                      </div>
                    </div>
                    <!--  -->
        
                    <div class="col-md-6">
                      <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput2" placeholder="Email Address">
                        <label for="floatingInput2">Email Address</label>
                      </div>
                    </div>
                    <!--  -->
        
        
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput3" placeholder="Your Subject">
                            <label for="floatingInput3">Your Subject</label>
                          </div>
                        </div>
                        <!--  -->
            
                        <div class="col-md-6">
                          <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInput4" placeholder="Your Phone">
                            <label for="floatingInput4">Your Phone</label>
                          </div>
                        </div>
                        <!--  -->
        
                        <div class="col-md-12">
                            <div class="form-floating">
                              <textarea class="form-control" id="floatingInput5" placeholder="Write Message"></textarea>
                              <label for="floatingInput5">Write Message</label>
                            </div>
                          </div>
                          <!--  -->
                        
                    </div>
                    <!--  -->
                    <div class="text-center mt-3">
                        <button type="submit" class="site_btn2 border-0">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
        
        </section>
        <!-- get-in-touch-section-end -->
             
        <%- include('../partials/front/footer'); %>