<%- include('../partials/front/header'); %>



    <section id="featurePage">
        <div class="features_slider">
            <!-- <div class="serv_elemento1">
                <img src="images/section-bg.png" alt="">
            </div> -->

            <div class="container">
                <div class="featureListContainer">
                    <div class="featureSideBarContaner">
                        <div id="style-4" class="featureSideBar sticky-top">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-mobile-alt"></i> Calls
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="#">Tracking Call Logs</a></li>
                                   
                                </ul>
                            </div>

                           

                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="far fa-eye"></i> Live Viewing
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="#"> Screen Capture</a></li>
                                </ul>
                            </div>

                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-map-marker-alt"></i> GPS Location
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="#">GPS Position History</a></li>
                                 
                                </ul>
                            </div>

                          

                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-file-code"></i> Applications
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="#">Monitoring Installed Applications</a></li>
                                    
                                </ul>
                            </div>

                            
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="/theme-assets/images/remote-control.png" style="width: 15px; margin-right: 10px;" /> Listening Surroundings
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="#">Audio Recording</a></li>
                                   
                                  
                                </ul>
                            </div>
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="/theme-assets/images/remote-control.png" style="width: 15px; margin-right: 10px;" /> Taking Picture
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="#">Front Camera</a></li>
                                    <li><a class="dropdown-item" href="#">Rear Camera</a></li>
                                   
                                  
                                </ul>
                            </div>
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-comments"></i> SMS 
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="#">SMS Tracking</a></li>
                            
                                </ul>
                            </div>

                          

                           

                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-chart-line"></i> Analysis Tools
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="#">Statistics</a></li>
                                    <li><a class="dropdown-item" href="#">Report PDF / Excel / CSV</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="featureLists">
                        <div class="features_slider-contant">
                            <h1>Advanced & Easy-to-Use Monitoring for Phones and Tablets</h1>
                            <p>Are you looking for a powerful tool for parental or employee monitoring? Look no further! Spy My Cell is the internet’s favorite mobile monitoring application. Our software is easy to use, even for a beginner, while offering a full set of monitoring features, from call history, recording, and live GPS location to text messages monitoring apps tracking and many more!</p>

                            <ul class="d-flex mt-4">
                                <li>
                                    <a href="<%= process.env.APP_URL %>/pricing" class="site_a" >Buy Now</a>
                                </li>
                                
                               
                            </ul>
                        </div>

                        <div class="listSingle">
                            <div class="row align-items-center">

                                <div class="col-8">
                                    <div class="listDescription">
                                        <h5>Monitor Calls</h5>
                                        <p>View all incoming, outgoing, and missed calls, including the duration, the date and time, and the call recording.</p>
                                        <p>Learn more about features like</p>
                                        <ul>
                                            <li><a href="#"><i class="fas fa-angle-double-right"></i> Tracking Call Logs</a></li>
                                          <li><a href="#"><i class="fas fa-angle-double-right"></i> and Deleted Calls</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-4 text-end">
                                    <img src="/theme-assets/images/f_1.png" alt="" class="img-fluid" />
                                </div>
                            </div>
                        </div>


                      

                        <div class="listSingle">
                            <div class="row align-items-center">
                                <div class="col-4 text-end">
                                    <img src="/theme-assets/images/f_3.png" alt="" class="img-fluid" />
                                </div>
                                <div class="col-8">
                                    <div class="listDescription">
                                        <h5>Live Viewing</h5>
                                        <p>Get a real-time feed from the monitored device’s screen to check the current activity on the phone. Or, activate audio and video viewing to understand what’s around the device.</p>
                                        <p>Learn more about our live.</p>
                                        <ul>
                                            
                                         
                                            <li><a href="#"><i class="fas fa-angle-double-right"></i> Screen viewing features</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="listSingle">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <div class="listDescription">
                                        <h5>GPS Location</h5>
                                        <p>Spy My Cell tracks the GPS location of the target device in realtime. You can also view location history for the target device and compare it to Google Maps data.</p>
                                        <p>Learn more about our</p>
                                        <ul>
                                        <li><a href="#"><i class="fas fa-angle-double-right"></i> GPS Position History</a></li>
                                        <li><a href="#"><i class="fas fa-angle-double-right"></i> Real-Time Tracking</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <img src="/theme-assets/images/f_4.png" alt="" class="img-fluid" />
                                </div>
                            </div>
                        </div>

                        

                        <div class="listSingle">
                            <div class="row align-items-center">
                                <div class="col-4">
                                    <img src="/theme-assets/images/f_6.png" alt="" class="img-fluid" />
                                </div>
                                <div class="col-8">
                                    <div class="listDescription">
                                        <h5>Applications</h5>
                                        <p>View all applications installed on the device. Review them and blacklist the ones that are harmful to your child. Or prevent employees from using apps that weaken productivity.</p>
                                        <p>Learn more about features like.</p>
                                        <ul>
                                            <li><a href="#"><i class="fas fa-angle-double-right"></i> Monitoring Installed Applications</a></li>
                                 
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                     

                        <div class="listSingle">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <div class="listDescription">
                                        <h5>Listening Surroundings</h5>
                                        <p>Remotely access the target phone or tablet from your convenient user dashboard, available through any internet-connected browser.</p>
                                        <p>Read more about</p>
                                        <ul>
                                            <li><a href="#"><i class="fas fa-angle-double-right"></i> Audio Recording</a></li>
                                            
                                            <li><a href="#"><i class="fas fa-angle-double-right"></i> Front Camera Picture</a></li>
                                            <li><a href="#"><i class="fas fa-angle-double-right"></i> Rear Camera Picture</a></li>
                                        
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <img src="/theme-assets/images/f_9.png" alt="" class="img-fluid" />
                                </div>
                            </div>
                        </div>

                        <div class="listSingle">
                            <div class="row align-items-center">
                                <div class="col-4">
                                    <img src="/theme-assets/images/f_10.png" alt="" class="img-fluid" />
                                </div>
                                <div class="col-8">
                                    <div class="listDescription">
                                        <h5>SMS</h5>
                                        <p>Monitor all SMS messages sent or received by the user on the target phone or tablet.</p>
                                        <p>Learn more about</p>
                                        <ul>
                                            <li><a href="#"><i class="fas fa-angle-double-right"></i> SMS Tracking</a></li>
                                            <li><a href="#"><i class="fas fa-angle-double-right"></i> SMS Alerts</a></li>
                                          
                                            <li><a href="#"><i class="fas fa-angle-double-right"></i> Other Features</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                     
                        <div class="listSingle">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <div class="listDescription">
                                        <h5>Analysis Tools</h5>
                                        <p>Generate PDF and Excel reports to gain detailed insight into your child or employee’s activity. View the most-used games and apps, for example, or check which contacts are contacted more than others.</p>
                                        <p>Learn more about</p>
                                        <ul>
                                            <li><a href="#"><i class="fas fa-angle-double-right"></i> Statistics</a></li>
                                            <li><a href="#"><i class="fas fa-angle-double-right"></i> Reports</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <img src="/theme-assets/images/f_13.png" alt="" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="selectPackage">
        <div class="container">
            <div class="row align-items-lg-center">
                <div class="col-sm-5">
                    <h3 class="sectionHeading">Chose your Plan</h3>
                    <p>Start Monitoring & Stop Worrying Now!</p>
                </div>
                <div class="col-sm-7">
                    <ul class="d-flex justify-content-end h-100 align-items-center">
                        <li class="tryButton"><a href="<%= process.env.APP_URL %>/pricing">Buy Now</a></li>
        
                    </ul>
                </div>
            </div>
        </div>
    </section>
                <%- include('../partials/front/footer'); %>
