<%- include('../partials/front/header'); %>



    <section id="priceSlider">
        <div class="container">
            <div class="innerHeadingContainer">
                <h3>Choose Plan</h3>
            </div>
        </div>
    </section>

    <section id="pricingPage">
        <div class="container">
            <article class="course-pricing-table">

                <ul class="course-pricing-table">
                    <li class="bg-green course-pricing-table">
                        <button>Basic</button>
                    </li>
                    <li class="bg-green course-pricing-table active">
                        <img src="/theme-assets/popular.png" alt="" class="popular" />
                        <button>Xtreme</button>
                    </li>
                    <li class="bg-green course-pricing-table">
                        <button>Premium</button>
                    </li>
                </ul>

                <table class="course-pricing-table">
                    <thead class="course-pricing-table">
                        <tr class="course-pricing-table">
                            <th class="hide course-pricing-table"></th>
                            <th class="bg-green course-pricing-table border-0 tab basic">Basic</th>
                            <th class="bg-green course-pricing-table default border-0 tab xtrime position-relative" style="padding-top: 20px;">
                                <!-- <p class="popular">Most Popular</p> -->
                                <img src="/theme-assets/popular.png" alt="" class="popular" /> Xtreme
                            </th>
                            <!-- <th class="bg-green course-pricing-table border-0 tab premium">Premium</th> -->
                        </tr>
                    </thead>
                    <tbody class="course-pricing-table">

                        <tr class="course-pricing-table">
                            <td class="hide course-pricing-table"></td>
                            <td class="course-pricing-table border-start-0 bg-white border-end">
                                <div class="detail">
                                    <p class="tablePrice">$4.92/M <del>($19.99 /M)</del></p>
                                    <ul class="d-flex justify-content-around">
                                        <li>
                                            <a href="#">
                                                <p>1 Months</p>
                                                <strong>$19.99</strong>
                                                <del>---</del>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <p>3 Months</p>
                                                <strong>$29.00</strong>
                                                <del>$59.97</del>
                                            </a>
                                        </li>
                                        <li class="planActive">
                                            <a href="#">
                                                <p>12 Months</p>
                                                <strong>$59.00</strong>
                                                <del>$239.00</del>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="">
                                   
                                        <a href="#" class="planBuyButton bg-dark"><i class="fas fa-shopping-cart"></i> Buy Now</a>
                                    </div>
                                </div>
                            </td>
                            <td class="course-pricing-table default border-start-0 bg-white border-end">
                                <div class="detail">
                                    <p class="tablePrice">$16.58/M <del>($59.00 /M)</del></p>
                                    <ul class="d-flex justify-content-around">
                                        <li>
                                            <a href="#">
                                                <p>1 Months</p>
                                                <strong>$19.99</strong>
                                                <del>---</del>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <p>3 Months</p>
                                                <strong>$29.00</strong>
                                                <del>$59.97</del>
                                            </a>
                                        </li>
                                        <li class="planActive">
                                            <a href="#">
                                                <p>12 Months</p>
                                                <strong>$59.00</strong>
                                                <del>$239.00</del>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="">
                                        <a href="#" class="planBuyButton bg-dark"><i class="fas fa-shopping-cart"></i> Buy Now</a>
                                    </div>
                                </div>
                            </td>
                            <!-- <td class="course-pricing-table border-end-0 bg-white">
                            <div class="detail">
                                <p class="tablePrice">$9.92/M <del>($99.00 /M)</del></p>
                                <ul class="d-flex justify-content-around">
                                    <li>
                                        <a href="#">
                                            <p>1 Months</p>
                                            <strong>$19.99</strong>
                                            <del>---</del>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <p>3 Months</p>
                                            <strong>$29.00</strong>
                                            <del>$59.97</del>
                                        </a>
                                    </li>
                                    <li class="planActive">
                                        <a href="#">
                                            <p>12 Months</p>
                                            <strong>$59.00</strong>
                                            <del>$239.00</del>
                                        </a>
                                    </li>
                                </ul>
                                <div>
                                    <span>Device(s) </span><input type="number" value="1" class="priceListNumber" />
                                    <a href="#" class="planBuyButton bg-dark"><i class="fas fa-shopping-cart"></i> Buy Now</a>
                                </div>
                            </div>
                        </td> -->
                        </tr>

                        <tr class="course-pricing-table">
                            <td class="course-pricing-table">Live Screen Viewing</td>
                            <td class="course-pricing-table"><i class="fas fa-times"></i></td>
                            <td class="course-pricing-table default"><i class="fas fa-check"></i></td>
                            <!-- <td class="course-pricing-table "><i class="fas fa-times"></i></td> -->
                        </tr>
                       
                        <tr class="course-pricing-table">
                            <td class="course-pricing-table">Listening Surroundings</td>
                            <td class="course-pricing-table"><i class="fas fa-times"></i></td>
                            <td class="course-pricing-table default"><i class="fas fa-check"></i></td>
                            <!-- <td class="course-pricing-table "><i class="fas fa-times"></i></td> -->
                        </tr>
                        <tr class="course-pricing-table">
                            <td class="course-pricing-table">Taking Picture</td>
                            <td class="course-pricing-table"><i class="fas fa-check"></i></td>
                            <td class="course-pricing-table default"><i class="fas fa-check"></i></td>
                            <!-- <td class="course-pricing-table "><i class="fas fa-times"></i></td> -->
                        </tr>
                        <tr class="course-pricing-table">
                            <td class="course-pricing-table">Call Logs</td>
                            <td class="course-pricing-table"><i class="fas fa-check"></i></td>
                            <td class="course-pricing-table default"><i class="fas fa-check"></i></td>
                            <!-- <td class="course-pricing-table "><i class="fas fa-times"></i></td> -->
                        </tr>

                        <tr class="course-pricing-table">
                            <td class="course-pricing-table">SMS Messages</td>
                            <td class="course-pricing-table"><i class="fas fa-check"></i></td>
                            <td class="course-pricing-table default"><i class="fas fa-check"></i></td>
                            <!-- <td class="course-pricing-table "><i class="fas fa-check"></i></td> -->
                        </tr>
                      
                        <tr class="course-pricing-table">
                            <td class="course-pricing-table">GPS Locations</td>
                            <td class="course-pricing-table"><i class="fas fa-check"></i></td>
                            <td class="course-pricing-table default"><i class="fas fa-check"></i></td>
                            <!-- <td class="course-pricing-table "><i class="fas fa-check"></i></td> -->
                        </tr>
                       
                     
                        <tr class="course-pricing-table">
                            <td class="course-pricing-table">Installed Apps View </td>
                            <td class="course-pricing-table"><i class="fas fa-check"></i></td>
                            <td class="course-pricing-table default"><i class="fas fa-check"></i></td>
                            <!-- <td class="course-pricing-table "><i class="fas fa-check"></i></td> -->
                        </tr>
                        <tr class="course-pricing-table">
                            <td class="course-pricing-table">Unlimited Device Change</td>
                            <td class="course-pricing-table"><i class="fas fa-check"></i></td>
                            <td class="course-pricing-table default"><i class="fas fa-check"></i></td>
                            <!-- <td class="course-pricing-table "><i class="fas fa-check"></i></td> -->
                        </tr>
                        <tr class="course-pricing-table">
                            <td class="course-pricing-table">Online Support</td>
                            <td class="course-pricing-table"><i class="fas fa-check"></i></td>
                            <td class="course-pricing-table default"><i class="fas fa-check"></i></td>
                            <!-- <td class="course-pricing-table "><i class="fas fa-check"></i></td> -->
                        </tr>
                    </tbody>
                </table>

            </article>
        </div>
    </section>

    <section id="selectPackage">
        <div class="container">
            <div class="row align-items-lg-center">
                <div class="col-md-7 col-sm-6">
                    <h3 class="sectionHeading">Chose your Plan</h3>
                    <p>Start Monitoring & Stop Worrying Now!</p>
                </div>
                <div class="col-md-5 col-sm-6">
                    <ul class="d-flex justify-content-end">

                        <li class="demoButton"><a href="<%= process.env.APP_URL %>/pricing">Buy Now</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <%- include('../partials/front/footer'); %>