<%- include('../partials/front/header'); %>
    <!-- inner-headerSlider-start -->
    
   

    <!-- inner-headerSlider-start -->
<section id="innerHeadSliderSec">
    <img src="/theme-assets/front/images/elementHead1.png" alt="element" class="element1 hang">
    <img src="/theme-assets/front/images/elementHead02.png" alt="element" class="element2 hang">
    <img src="/theme-assets/front/images/elementHead2.png" alt="element" class="element3 hang">
    <img src="/theme-assets/front/images/elementHead4.png" alt="element" class="element4 hang">
    <img src="/theme-assets/front/images/elementHead5.png" alt="element" class="element5 hang">
    <div class="innerHeadSliderSecinner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <div class="innerHeadCnt">
                        <h1>Pricing Plan</h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="<%= process.env.APP_URL %>/">Home</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">Price Plan </li>
                                </ol>
                              </nav>
                    </div>
                </div>
                <!-- col-md-6 -->

                <div class="col-md-6 align-self-center text-center">
<div class="innerHeadImg">
    <img src="/theme-assets/front/images/pricePlanHeadImg.png" alt="Price Plan">
</div>
                </div>
                <!-- col-md-6 -->
            </div>
        </div>
    </div>
</section>
    <!-- inner-headerSlider-end -->

<!-- price-plan-section-start -->
<section id="pricePlanSec">
    <img src="/theme-assets/front/images/elementHead02.png" alt="element" class="element1 hang">
<div class="pricePlanSecinner">
    <div class="container">
        <hgroup class="lightW">
            <h2>
                Get employee monitoring and time tracking software at the best price!
            </h2>
            <p>All features in one price, no hidden charges</p>
        </hgroup>
        <div class="row g-0">
            <div class="col-md-3">
<div class="pricePBx">
<div class="pricePBXHeadFeild">
    <div class="priceBxHead">
        <h4>Powerfull<br>
            Features<br>
            Plan</h4>
    </div>

    <ul class="list-unstyled">
   <li>     Time Tracking</li>
   <li>Automated Attendance</li>
    <li>Productivity Measurements</li>
        <li>BI reports</li>
            <li>Engagement Tracking</li>
                <li>Automated Screenshots</li>
                    <li>Project Management</li>
                        <li>Presence (Attendance Pattern)</li>
                            <li>Jots (Notes)</li>
                                <li>Kanban Task Management</li>
                                    <li>Quick User Import</li>
                                        <li>Leave Management</li>
                                            <li>Dedicated Account Manager</li>
                                                <li>Live Product Training</li>
                                                    <li>User Logs</li>
                                                        <li>24x7 Technical Support</li>
                                                            <li>Cross Platform</li>
    </ul>
</div>
</div>
<!-- pricePBx -->
            </div>
            <!-- col-md-3 -->

<div class="col-md-9">
<div class="priceBxDataFeildmn">
    <div class="priceBxDataFeildinnermn">
        <div class="row g-0">
<div class="col">
<div class="priceBxDataFeild">
    <div class="priceBxDataHead">
        <h6>Monthly</h6>
        <h3> <sup><i class="fas fa-rupee-sign"></i></sup> 249 <sub> /mo</sub></h3>
    </div>
    <!--  -->
<ul class="list-unstyled">
    <li><span class="flaticon-checked
        "></span></li>

        <li><span class="flaticon-checked
            "></span></li>
            <li><span class="flaticon-checked
                "></span></li>
                <li><span class="flaticon-checked
                    "></span></li>
                    <li><span class="flaticon-checked
                        "></span></li>
                        <li><span class="flaticon-checked
                            "></span></li>
                            <li><span class="flaticon-checked
                                "></span></li>
                                <li><span class="flaticon-checked
                                    "></span></li>
                                    <li><span class="flaticon-checked
                                        "></span></li>
                                        <li><span class="flaticon-checked
                                            "></span></li>
                                            <li><span class="flaticon-checked
                                                "></span></li>
                                                <li><span class="flaticon-checked
                                                    "></span></li>
                                                    <li><span class="flaticon-checked
                                                        "></span></li>
                                                        <li><span class="flaticon-checked
                                                            "></span></li>
                                                            <li><span class="flaticon-checked
                                                                "></span></li>
                                                                <li><span class="flaticon-checked
                                                                    "></span></li>
                                                                    <li><span class="flaticon-checked
                                                                        "></span></li>
</ul>
<div class="text-center">
    <a href="javascript:void(0);" class="site_btn2"> <span>Order Now</span></a>
</div>
</div>
</div>
<!-- col -->


<div class="col">
    <div class="priceBxDataFeild">
        <div class="priceBxDataHead priceBxDataHead2">
            <h6>Quarterly
            </h6>
            <h3> <sup><i class="fas fa-rupee-sign"></i></sup> 222 <sub> /mo</sub></h3>
        </div>
        <!--  -->
    <ul class="list-unstyled">
        <li><span class="flaticon-checked
            "></span></li>
    
            <li><span class="flaticon-checked
                "></span></li>
                <li><span class="flaticon-checked
                    "></span></li>
                    <li><span class="flaticon-checked
                        "></span></li>
                        <li><span class="flaticon-checked
                            "></span></li>
                            <li><span class="flaticon-checked
                                "></span></li>
                                <li><span class="flaticon-checked
                                    "></span></li>
                                    <li><span class="flaticon-checked
                                        "></span></li>
                                        <li><span class="flaticon-checked
                                            "></span></li>
                                            <li><span class="flaticon-checked
                                                "></span></li>
                                                <li><span class="flaticon-checked
                                                    "></span></li>
                                                    <li><span class="flaticon-checked
                                                        "></span></li>
                                                        <li><span class="flaticon-checked
                                                            "></span></li>
                                                            <li><span class="flaticon-checked
                                                                "></span></li>
                                                                <li><span class="flaticon-checked
                                                                    "></span></li>
                                                                    <li><span class="flaticon-checked
                                                                        "></span></li>
                                                                        <li><span class="flaticon-checked
                                                                            "></span></li>
    </ul>
    <div class="text-center">
        <a href="javascript:void(0);" class="site_btn2"> <span>Order Now</span></a>
    </div>
    </div>
    </div>
    <!-- col -->


    <div class="col">
        <div class="priceBxDataFeild">
            <div class="priceBxDataHead priceBxDataHead3">
                <h6>Half Yearly
                </h6>
                <h3> <sup><i class="fas fa-rupee-sign"></i></sup> 200 <sub> /mo</sub></h3>
            </div>
            <!--  -->
        <ul class="list-unstyled">
            <li><span class="flaticon-checked
                "></span></li>
        
                <li><span class="flaticon-checked
                    "></span></li>
                    <li><span class="flaticon-checked
                        "></span></li>
                        <li><span class="flaticon-checked
                            "></span></li>
                            <li><span class="flaticon-checked
                                "></span></li>
                                <li><span class="flaticon-checked
                                    "></span></li>
                                    <li><span class="flaticon-checked
                                        "></span></li>
                                        <li><span class="flaticon-checked
                                            "></span></li>
                                            <li><span class="flaticon-checked
                                                "></span></li>
                                                <li><span class="flaticon-checked
                                                    "></span></li>
                                                    <li><span class="flaticon-checked
                                                        "></span></li>
                                                        <li><span class="flaticon-checked
                                                            "></span></li>
                                                            <li><span class="flaticon-checked
                                                                "></span></li>
                                                                <li><span class="flaticon-checked
                                                                    "></span></li>
                                                                    <li><span class="flaticon-checked
                                                                        "></span></li>
                                                                        <li><span class="flaticon-checked
                                                                            "></span></li>
                                                                            <li><span class="flaticon-checked
                                                                                "></span></li>
        </ul>
        <div class="text-center">
            <a href="javascript:void(0);" class="site_btn2"> <span>Order Now</span></a>
        </div>
        </div>
        </div>
        <!-- col -->


        <div class="col">
            <div class="priceBxDataFeild">
                <div class="priceBxDataHead priceBxDataHead4">
                    <h6>Yearly
                    </h6>
                    <h3> <sup><i class="fas fa-rupee-sign"></i></sup> 185 <sub> /mo</sub></h3>
                </div>
                <!--  -->
            <ul class="list-unstyled">
                <li><span class="flaticon-checked
                    "></span></li>
            
                    <li><span class="flaticon-checked
                        "></span></li>
                        <li><span class="flaticon-checked
                            "></span></li>
                            <li><span class="flaticon-checked
                                "></span></li>
                                <li><span class="flaticon-checked
                                    "></span></li>
                                    <li><span class="flaticon-checked
                                        "></span></li>
                                        <li><span class="flaticon-checked
                                            "></span></li>
                                            <li><span class="flaticon-checked
                                                "></span></li>
                                                <li><span class="flaticon-checked
                                                    "></span></li>
                                                    <li><span class="flaticon-checked
                                                        "></span></li>
                                                        <li><span class="flaticon-checked
                                                            "></span></li>
                                                            <li><span class="flaticon-checked
                                                                "></span></li>
                                                                <li><span class="flaticon-checked
                                                                    "></span></li>
                                                                    <li><span class="flaticon-checked
                                                                        "></span></li>
                                                                        <li><span class="flaticon-checked
                                                                            "></span></li>
                                                                            <li><span class="flaticon-checked
                                                                                "></span></li>
                                                                                <li><span class="flaticon-checked
                                                                                    "></span></li>
            </ul>
            <div class="text-center">
                <a href="javascript:void(0);" class="site_btn2"> <span>Order Now</span></a>
            </div>
            </div>
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </div>
</div>
</div>
<!-- col-md-9 -->

        </div>
    </div>
</div>
</section>
<!-- price-plan-section-end -->




<!--  -->
<section id="yourProductivitySec">
    <div class="yourProductivitySecinner">
        <div class="container">
            <div class="d-flex justify-content-between">
                <hgroup class="align-self-center">
                    <h3>Want to talk long term? </h3>
                    <p>We have got many lucrative offers for your organisation</p>
                </hgroup>
    
                <div class="align-self-center">
                    <a href="contact-us.html" class="site_btn">Contact Sales</a>
                </div>
                <!--  -->
            </div>
        </div>
    </div>
    </section>
<!--  -->



<!-- faq-section-start -->
<section id="faqSec">
    <div class="faqSecinner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <div class="faqImg wow fadeInLeft">
    <img src="/theme-assets/front/images/faqImg.png" alt="FAQ">
                    </div>
                </div>
                <!-- col-md-6 -->
    
    <div class="col-md-6 align-self-center">
        <div class="faqCnt wow fadeInRight">
    <hgroup>
        <h6>Get Help (Help Center)</h6>
        <h2>Frequently Asked Questions</h2>
    </hgroup>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
             How Much Does it Cost?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                You can see this at the <a href="price-plan.html"> pricing </a> page.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                How much time will it take to use Myproject-Desk?
    
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                The initial set up will take around 10 minutes for the admin and 3-5 minutes for the users of the software plus a few minutes to <strong> watch training videos</strong>. After that it takes very little time each day (a few minutes)
            </div>
          </div>
        </div>
    
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Can Myproject-Desk monitor the websites that I or my team visit?
    
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Yes. Myproject-Desk’s reports will give you detailed insights into which websites are being used and for how long. You can access these reports online, and can also receive them weekly by email.
            </div>
          </div>
        </div>
        <!--  -->
    
    
    
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Is my data stored in a secure environment?
    
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                For Myproject-Desk , Your privacy will always remain our utmost priority!
    
    All communication to the server is secured by SSL encryption. The files on the server are encrypted to provide an extra level of security for company data. The servers are located in secure enterprise data center facilities with 24/7 monitoring and hosting support.
              </div>
            </div>
          </div>
          <!--  -->
      </div>
      <!--  -->
        </div>
    </div>
    <!-- col-md-6 -->
    
            </div>
        </div>
    </div>
    </section>
    <!-- faq-section-end -->
    
        

<!-- testimonials-section-start -->

<section id="our_verticlesec" class="bg-light">
    <div class="our_verticlesectop">
      <div class="container">
     <hgroup>
         <h2>What Our Clients Say ?</h2>
     </hgroup>
      </div>
    </div>


    <div class="our_verticlesecbottom">
      <div class="container">
        <div class="our_verticlesecbottominner">
          <div class="owl-carousel owl-theme owl-loaded our_verticlowl">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <div class="owl-item">
                      <div class="verticle_bx">
                        <div class="verticle_bxinner">
                        <div class="text-center">
                          <img src="/theme-assets/front/images/testimonial_user.jpg">
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                     <h5>Maria Kloop</h5>
                     <h6>Developer</h6>
                      </div>
                    </div>
                  </div>

                  <div class="owl-item">
                    <div class="verticle_bx">
                      <div class="verticle_bxinner">
                      <div class="text-center">
                        <img src="/theme-assets/front/images/testimonial_user.jpg">
                      </div>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                   <h5>Maria Kloop</h5>
                   <h6>Developer</h6>
                    </div>
                  </div>
                </div>

                <div class="owl-item">
                  <div class="verticle_bx">
                    <div class="verticle_bxinner">
                    <div class="text-center">
                      <img src="/theme-assets/front/images/testimonial_user.jpg">
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                 <h5>Maria Kloop</h5>
                 <h6>Developer</h6>
                  </div>
                </div>
              </div>

              <div class="owl-item">
                <div class="verticle_bx">
                  <div class="verticle_bxinner">
                  <div class="text-center">
                    <img src="/theme-assets/front/images/testimonial_user.jpg">
                  </div>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
               <h5>Maria Kloop</h5>
               <h6>Developer</h6>
                </div>
              </div>
            </div>
                    
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </section>

<!-- testimonials-section-end -->





    
    
    
    <!-- get-in-touch-section-start -->
    <section id="getInTouchSec">
        <div class="getInTouchSecinner">
            <div class="container">
                <hgroup>
                    <h2>
                        Get in Touch
                    </h2>
                    <p>Know How You Can Increase Employee Productivity with Myproject-Desk.
        
                    </p>
                </hgroup>
                <div class="row">
                    <div class="col-md-4">
                        <div class="getTouchBx wow fadeInUp">
        <div class="text-center">
            <span class="flaticon-location-1
        
            "></span>
        </div>
        <!--  -->
        <h4>Address</h4>
        <p>
            <a href="javascript:void(0);">A-3 Maal Road, Vidhyadhar Nagar, Jaipur</a>
        </p>
                          </div>
                    </div>
                    <!--  -->
        
        
                    <div class="col-md-4">
                        <div class="getTouchBx wow fadeInUp">
        <div class="text-center">
            <span class="flaticon-phone-call
        
            "></span>
        </div>
        <!--  -->
        <h4>Phone</h4>
        <p>
            <a href="tel:++91 9828732221">+91 9828732221</a>
        </p>
        
        
                        </div>
                    </div>
                    <!--  -->
        
                    <div class="col-md-4">
                        <div class="getTouchBx wow fadeInUp">
        <div class="text-center">
            <span class="flaticon-email
        
            "></span>
        </div>
        <!--  -->
        <p>
            <a href="mailto:sales@doomshell.com">sales@doomshell.com</a>
        </p>
        
        <p>
            <a href="mailto:contact@doomshell.com">contact@doomshell.com</a>
        </p>
                        </div>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
        
        <!-- form -->
        
        <div class="sendYourMessageSec">
            <div class="sendYourMessageSecinner">
                <hgroup>
                    <h2>Send Your Message</h2>
                </hgroup>
        
                <form action="">
                    <div class="row">
                        <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput1" placeholder="Your Name">
                        <label for="floatingInput1">Your Name</label>
                      </div>
                    </div>
                    <!--  -->
        
                    <div class="col-md-6">
                      <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput2" placeholder="Email Address">
                        <label for="floatingInput2">Email Address</label>
                      </div>
                    </div>
                    <!--  -->
        
        
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput3" placeholder="Your Subject">
                            <label for="floatingInput3">Your Subject</label>
                          </div>
                        </div>
                        <!--  -->
            
                        <div class="col-md-6">
                          <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInput4" placeholder="Your Phone">
                            <label for="floatingInput4">Your Phone</label>
                          </div>
                        </div>
                        <!--  -->
        
                        <div class="col-md-12">
                            <div class="form-floating">
                              <textarea class="form-control" id="floatingInput5" placeholder="Write Message"></textarea>
                              <label for="floatingInput5">Write Message</label>
                            </div>
                          </div>
                          <!--  -->
                        
                    </div>
                    <!--  -->
                    <div class="text-center mt-3">
                        <button type="submit" class="site_btn2 border-0">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
        
        </section>
        <!-- get-in-touch-section-end -->
             
        <%- include('../partials/front/footer'); %>