<%- include('../partials/front/header'); %>


<section id="howItWorkPage">
    <!-- ------------------slider ------------------------>
    <div class="hiwSlider pb-0" >
        <div class="serv_elemento1 position-fixed">
            <img src="https://esmartech.ae/webroot/front/images/serv_elementright.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 align-self-center">
                    <div class="slider-contant">
                        <h1>Privacy Policy</h1>
                        <p>The SpyMyCell Monitoring Product or Service may only be used for legitimate and lawful purposes by authorized users, and you are hereby notified that installing or using the SpyMyCell Monitoring Product or Service for any other purpose may violate local, state, and/or federal law.</p>

                        <p>This Privacy Policy describes how your information is collected, used, and disclosed by SpyMyCell (”SpyMyCell.com,” “SpyMyCell, “we,” “us,” or “our”) in connection with your use of our website, located at www.SpyMyCell.com (“Website”) and our services.  It also describes the choices available to you regarding our use of your personal information.</p>

                        <h4 class="pt-4">Definitions</h4>
                        <p><b>Personal Data</b> Means any information relating to an identified or identifiable natural person (“data subject/user”). An identifiable natural person is one who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person.</p>

                        <p><b>Data subject/user</b> Refers to any identified or identifiable natural person, whose personal data is processed by SpyMyCell (the controller responsible for the processing).</p>

                        <p><b>Processing</b> Is any operation or set of operations which is performed on personal data or on sets of personal data, whether or not by automated means, such as collection, recording, organization, structuring, storage, adaptation or alteration, retrieval, consultation, use, disclosure by transmission, dissemination or otherwise making available, alignment or combination, restriction, erasure or destruction.</p>

                        <p><b>Consent of the data subject/user</b> Is any freely given, specific, informed and unambiguous indication of the data subject/user`s wishes by which he or she, by a statement or by specific affirmative action, signifies agreement to the processing of personal data relating to him or her</p>

                        <h4 class="pt-4">Information we Collect</h4>
                        <p>We or our service providers may collect Personal Data and data that does not specifically identify you when you use our Website or services.</p>

                        <p><b>Personal Data</b> We may collect Personal Data from you when you purchase our products or services, register to use our services, register to become an affiliate, or otherwise communicate with us.  The Personal Data that we collect through our Website may include, but is not limited to, your first and last name, mailing address, email address, phone number, payment card information, and any information contained in your communications with us.</p>

                        <p>We also collect Personal Data and other information from the devices you monitor using our services.  This information may include text messages sent from and to the device; information about calls made from and to the device; communications made using certain messaging applications; emails sent from and to the device; photos stored on the device; current and historical location data; information about any files stored on the device, information about any events in a calendar on the device, information about the contacts stored on the device, the applications on the device, information about the websites visited using the device; and analytics about device usage.  Our services also include certain functionalities that could enable you to collect Personal Data, including the ability to remotely control a device, view a live feed of the device’s screen, and remotely access the device’s camera and microphone.</p>

                        
                        <p><b>Information collected via Technology</b> We may automatically collect information about your use of our Website and services, such as the website you came from (known as the “referring URL”), the type of browser you use, the device from which you connected to our services, the time and date of access, and other information that may not personally identify you. We track this information using cookies, small text files, or other technologies. Cookies are sent to a user’s browser from our servers and are stored on the user’s computer hard drive. Sending a cookie to a user’s browser enables us to collect information about that user’s visit to our Website or use of our services and keep a record of the user’s preferences when visiting our Website or using our services, both on an individual and aggregate basis.</p>

                        <p>The Company may use both persistent and session cookies; persistent cookies remain on your computer after you close your session until you delete them, while session cookies expire when you close your browser.  You may be able to refuse or delete cookies using the appropriate settings on your browser. However, if you refuse or delete cookies, you may not be able to use the full functionality of our Website or services.  If you use another browser or device, you may need to review the settings for that browser or device to refuse or delete cookies on that browser or device.</p>

                        <p>We may also work with third parties that collect information about your use of the Website and other websites or applications over time for non-advertising purposes.  We use Google Analytics and other third-party services to monitor and improve the performance of our Website. For more information about how Google Analytics collects and uses information when you visit our Website, please visit www.google.com/policies/privacy/partners.</p>

                        <h4 class="pt-4 mb-3">How we use and share your information</h4>
                        <ul style="list-style: disc; padding-left:15px;">
                           <li class="p-1">with vendors who are performing services for the Company at our direction and in accordance with our Privacy Policy;</li>
                           <li class="p-1">with our parent company and any affiliates;</li>
                           <li class="p-1">where we have a good-faith belief that access, use, preservation or disclosure of the information is reasonably necessary to meet any applicable legal process or enforceable governmental request;</li>
                           <li class="p-1">to enforce our Terms of Use, including investigating potential violations;</li>
                           <li class="p-1">to address fraud, security or technical concerns;</li>
                           <li class="p-1">to protect against harm to the rights, property, or safety of our users or the public, as required or permitted by law;</li>
                           <li class="p-1">in the event we undergo a business transaction such as a merger, acquisition, or sale of all or a portion of our assets, including in bankruptcy; or</li>
                           <li class="p-1">pursuant to a subpoena, court order, governmental inquiry, or other legal process or as otherwise required by law, or to protect our rights or the rights of third parties.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="graphics_6"></div> -->
    </div>

    <div id="More_Features">
        <div class="container">
            <div class="features">
                <h2>Stop Worrying About Your Kids or Employees Activities</h2>
               
            </div>
        </div>
    </div>
</section>

 <section id="selectPackage">
        <div class="container">
            <div class="row align-items-lg-center">
                <div class="col-sm-5">
                    <h3 class="sectionHeading">Chose your Plan</h3>
                    <p>Start Monitoring & Stop Worrying Now!</p>
                </div>
                <div class="col-sm-7">
                    <ul class="d-flex justify-content-end h-100 align-items-center">
                        <li class="tryButton"><a href="<%= process.env.APP_URL %>/pricing">Buy Now</a></li>
        
                    </ul>
                </div>
            </div>
        </div>
    </section>
                <%- include('../partials/front/footer'); %>
