<%- include('../partials/front/header'); %>



    <!-- inner-headerSlider-start -->
    <section id="innerHeadSliderSec">
      <img src="/theme-assets/front/images/elementHead1.png" alt="element" class="element1 hang">
      <img src="/theme-assets/front/images/elementHead02.png" alt="element" class="element2 hang">
      <img src="/theme-assets/front/images/elementHead2.png" alt="element" class="element3 hang">
      <img src="/theme-assets/front/images/elementHead4.png" alt="element" class="element4 hang">
      <img src="/theme-assets/front/images/elementHead5.png" alt="element" class="element5 hang">
      <div class="innerHeadSliderSecinner">
          <div class="container">
              <div class="row">
                  <div class="col-md-6 align-self-center">
                      <div class="innerHeadCnt">
                          <h1>Privacy Policy</h1>
                              <nav aria-label="breadcrumb">
                                  <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                   
                                    <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
                                  </ol>
                                </nav>
                      </div>
                  </div>
                  <!-- col-md-6 -->
  
                  <div class="col-md-6 align-self-center text-center">
  <div class="innerHeadImg">
      <img src="/theme-assets/front/images/privacyPolicyImg.png" alt="VS Workplus">
  </div>
                  </div>
                  <!-- col-md-6 -->
              </div>
          </div>
      </div>
  </section>
      <!-- inner-headerSlider-end -->
  
  
      <section id="privacy_policySec">
          <div class="privacy_policyinner">
              <div class="container">
                  <h4>We are ISO 27001 certified, independently certified for protecting privacy of Personally Identifiable Information (PII) under GDPR readiness, and working on a few other major data privacy certifications.
                  </h4>
                 <p>When you use Myproject-Desk services, either via website or the desktop you are trusting us with some of your information. We understand this is a big responsibility on our shoulders and we are always working hard to keep your information safe and secure, and give you control over your data.
                  This Privacy Policy section is meant to help you understand what information Myproject-Desk collects, why we collect such information and how you have full control to update, manage or delete your information. The purpose of this privacy policy (“Policy”) is to explain how, when and why Myproject-Desk collects information about individuals, how, for what purposes and on what grounds these ‘personal data’ are subsequently processed, who processes them and what rights the individuals have in connection with their personal data. The Policy also explains Myproject-Desk’s practices in using cookies and other technologies for storing information on others’ devices and retrieving information from such devices. When we refer to “Myproject-Desk” or use the word “we”, “our” or “us”, we mean the Myproject-Desk entity that acts as the ‘controller’ of the information we hold about you or the ‘processor’ of the information that a customer has entrusted to us, as explained in more detail under the “identifying the data controller” part of this Policy. The phrase “Myproject-Desk entity” refers to each of the following companies: Zenstack Private Limited, registered in India, based in Bhopal, India. The contact details are set out at the end of this Policy. By “you” we mean the individual reading this text, i.e., you as a natural person (and not any company or other organisation that you may be associated with). Some words and phrases in this Policy are in single quotation marks (e.g., ‘controller’, ‘processor’ and ‘data subject’). These are legal terms, having the same meanings as given to them in the EU General Data Protection Regulation, i.e., Regulation (EU) 2016/679 (“GDPR”).</p>
              </div>
          </div>
        
        
        
          <div class="privacy_policyinner">
              <div class="container">
                  <h4> Application:
  
        </h4>
                  <ul class="list-unstyled">
              <li>   This Policy applies to the data processing that takes place through or in connection with the following: (a) your use of the software of Myproject-Desk or any of its subsidiaries (by “software” we mean computer programs in any form, including local installations such as desktop and mobile applications as well as software in the form of on-demand services such as web and cloud applications). We shall use the word “Service” in this Policy to designate the above software, and the same word will designate any service, resource or other benefit that Myproject-Desk or its subsidiary offers as a part of or in connection with such software; (b) your visiting, or accessing resources that form part of, any website of Myproject-Desk or its subsidiary (we shall use the word “Website” to designate any such site), including, for example, any site at Myproject-Desk; domains or (c) your communication or interaction with Myproject-Desk insofar as the above activities are not subject to another privacy policy or similar document.
        </li>
        <li>
          The Policy does not apply in relation to other parties’ products, services, websites, resources or activities.
  
        </li>
        <li>
          When we speak of “Personal Data”, we mean any information about a living individual from which that person can be identified (the proper legal definition of ‘personal data’ is “any information relating to an identified or identifiable natural person”, with the person to whom the information relates being referred to as the ‘data subject’). Personal Data do not include information from which no individual can reasonably be identified, that is to say, anonymous information or personal data rendered anonymous in such a manner that the individual is not, or no longer is, identifiable (de-identified or anonymised information). The Policy does not apply to such information.
  
        </li>
        <li>
          The Policy supplements our other terms and policies and is not intended to override them Identifying the data controller.
  
        </li>
             </ul>
              </div>
          </div>
        
        
        
          <div class="privacy_policyinner">
              <div class="container">
                  <h4>  Identifying the data controller:
  
        
        </h4>
                  <ul class="list-unstyled">
                <li>  We are a technology company and a lot of what we do involves data processing in one way or another. Various data need to be processed in a number of ways in order for us to carry on our business, including provide, maintain and develop the Service and Websites, and to communicate with you. Information is processed both for us as well as our customers, and customers themselves process information through the Service. Not all of this information constitutes Personal Data and much of the processing is controlled by parties other than Myproject-Desk.
  
                </li>
        <li>
          For instance, the user environment delivered via the Service has certain logically defined parts (each, a “Customer”) where an Employee (“User”) can enter, record, store, use, disclose and otherwise manipulate various data. The data thus processed are referred to as “Customer Data” and it is usually the User who created the Projects, Tasks, Customers etc that determines the purposes of, and otherwise controls, the processing of these data. That authority can be assigned to another User, but, at any rate, there is always one particular User, identified in the Customer as the “Account Owner”, that has legal control over, and is responsible for, Account Data. That User (the Account Owner) is also the ‘controller’ of all Personal Data maintained in the Account. Myproject-Desk processes these data on the Account Owner’s behalf and is thus considered to be the ‘processor’ of the said Personal Data. This means that any enquiry, request, objection or complaint that you as a ‘data subject’ may have in connection with the processing of Personal Data that form part of Account Data (i.e., where the information concerned relates to you) should be addressed to, and resolved by, the relevant Account Owner.
  
        </li>
        <li>
          Myproject-Desk is the ‘controller’ of the Personal Data that are collected by us or on our behalf through the activities listed in section 1 of this Policy, or which are otherwise processed for the purposes of our business. Specifically, it is Myproject-Desk that acts as the ‘controller’ of the said Personal Data. The following sections explain the collection and subsequent processing of these data in more detail.
  
            </li>
                </ul>
              </div>
          </div>
        
        
        
          <div class="privacy_policyinner">
              <div class="container">
                  <h4>  The information we collect and receive
  
  
        
        
        </h4>
                  <ul class="list-unstyled">
              <li>  Myproject-Desk collects, generates and receives information in a variety of ways. Some of this information constitutes Personal Data and the rest does not. We shall use the word “Information” to designate any and all of the data that are collected, generated or otherwise processed by us or on our behalf. This part of the Policy describes which Information and how is collected or generated through the activities listed in section
  
  
              </li>
        <li><strong>Profile Information :
      </strong>
          We collect Information about you in the course of negotiating, preparing, concluding and amending agreements between you and Myproject-Desk. The Information collected may include the data provided in such agreements and any data that you furnish for the purposes of negotiating, concluding or amending those agreements. For example, when you register for a Service user account (“User Account”), we ask you to give us your full name, email address, country of residence and time zone, and you may also upload a profile picture. In order to maintain a Account, i.e., act as a Account Owner, you need to provide us with your physical address and may give a telephone number at which you can be reached. During the sign-up procedure, we may automatically record your internet protocol address (IP address) and an application programming interface token (API token) is automatically generated and stored under your User Account (this is an authentication token that you can use for accessing the Service through other software). For validating human access to the User Account, you will create a user name and a password, which both will be stored in our data base along with the API token. You will also be assigned a user identifier (user ID), which is a certain alpha numeric value that we generate, store and can identify you by. The Service has a user invitation feature that can be used for inviting you to become a User. If a User elects to invite you, she will give us your email address and the Service will send you an invitation. We store this email address but not as part of your User profile (as you are not yet a User). It will only become such if you obtain a User Account.
  
  
        </li>
        <li>
       <strong>   Location (Applicable for Mobile Application): </strong>
          We collect Information about location in background if you are Punched IN. The Information is collected to provide fast travel expense approvals, see your route play backs, get near by fields job alerts on real time and check the real time location of your team members for better efficiency . For example, when you punch in using the Android or iOS , we ask you to give us consent to access your location in background. This is required In order to use all the features. The Service has a user invitation feature that can be used for inviting you to become a User. If a User elects to invite you, she will give us your email address and the Service will send you an invitation. We store this email address but not as part of your User profile (as you are not yet a User). It will only become such if you obtain a User Account.
  
        </li>
        <li>
      <strong>    Billing Information</strong>
  We ask user to supply us with the full name of the person or entity that will pay for the Service plan, their physical address and, optionally, email address and VAT/GST number (i.e., the registration number of a “taxable person” as respects value added tax). The payer may or may not be the User subscribing to the Service plan, so it is possible for us to receive the above Information about you from another User. In the case of a paid plan, you will supply a third-party payment service provider (who acts independently from us) with such information as they request from you to facilitate your payments to us. We do not collect any information about your methods or instruments of payment, except that, if you give the payment service provider credit card details, the last four digits of the credit card number are stored in the Account’s under subscription billing info. This piece of Information forms part of Account’s Data.
  
        </li> 
      
      
      <li>
          
  <strong> Usage Information</strong>
  As with most websites and on-demand software solutions (i.e., where software is delivered over the internet in the form of a “service”), certain data are automatically collected when you visit a Website or use a Service application and this Information is recorded in log files. For example, when you log in to the Service, the date and time of your login will be recorded along with your IP address (giving us your approximate location) and a limited user agent string (telling us what type of Service application, e.g., web, desktop or mobile, was used for the login). When you create a data entry via the Service, your Service application type and version may be recorded. The Information we receive depends on the type of Service (and, respectively, the device) you are using but will usually include some of your Profile Information (name, user ID and email address) as well as information about which Service application and what version you are running and the type and version of your device’s operating system. It may also include the name of your device and information as to your web browser type and version, Service settings and usage history, Account Service plan, and which Service release/update channel you have chosen (stable or beta). Certain features of the Service (specifically, GPS Tracking, Screen recording, Call Log and Automations), if enabled, will automatically record or monitor what other applications you use, GPS location or which websites you visit during your Service sessions and, based on these data, either provide you with Information as to your past activities, relating them to your interactions with the Service and the matters you have been working on, or make suggestions regarding your use of the Service. These features are strictly opt-in and can be easily disabled, and the information they record or generate is only available to the User whom it relates to. All this is controlled by the Account Owner. On a more general level, we collect (or have third parties collect for us) anonymous Information about the use of our Service and customer base. Such data may, e.g., include Information about the number of Users and their distribution (active, passive, paying, non-paying, etc.), User churn, Account team sizes, choices between application types, settings, modes of use and Service plans, Service performance, practices and trends in using specific features or components of the Service, the effectiveness of Service messages, and other Information that is not Personal Data. Accessing resources on Websites may (depending on the site visited, resource accessed, device used and your hardware and software settings), result in the following Information being collected: your IP address, approximate location, Website entry and exit pages, referral sites and keywords, session time and duration, activities on the Website (e.g., pages viewed, links followed, clicks made), web browser type, version and settings (including, e.g., language preferences), device type, name and settings as well as the type and version of its operating system, and your internet service provider or mobile network operator. Some of this Information is collected by the use of cookies, as described in the next section.
      </li>
  
  
      <li>
      <strong>    Cookie Information </strong>
  When you use our web or cloud applications, visit Websites or retrieve resources (e.g., files or other information) that form part of a Website, certain pieces of data known as cookies are sent to the device you are using and will be stored there. Your web browser stores them either at our request or the request of a third party whose services we use. Each cookie, in one way or another, distinguishes you from other Users and Website visitors. There are also other techniques, such as using web beacons or pixels, whose purpose can be similar to that of some cookies. In this Policy, the word “cookie” designates the objects delivered by those techniques as well. Cookies vary by nature and purpose. For instance, a “session cookie” only exists in the temporary memory of your device, i.e., while your Service session or visit to a Website lasts, and is usually deleted when your web browser is closed. A “persistent cookie”, on the other hand, has a longer lifespan: it remains on your device until you delete it (i.e., instruct your browser to do so) or until it expires. A “secure cookie” can only be sent over a “secure” (encrypted) connection, making it harder for others to intercept information. A “first-party cookie” belongs to us and a “third-party cookie” belongs to someone other than Myproject-Desk, e.g., a company providing us with Service or Website analysis services or delivering our messages (such as advertisements) across the internet. Some of the above cookies are associated with your User Account and certain of your Profile Information, allowing you to log in to the Service and remembering that you are logged in (which makes it possible for you to use the Service, enhances security and helps us to show you the right content). Other cookies allow us (or third parties we have engaged) to recognise and count the number of visitors to a Website, see how they move around the site when using it, which links they follow and who reads what, or to selectively record and analyse how and by what means Users are interacting with our applications (only specific pieces of information are collected, and without identifying the Users). Certain cookies are used to recognise you when you return to a Website, enabling us to personalise our content for you and remember your preferences, e.g., your choice of language. And, quite importantly from the privacy aspect, there are some third-party cookies that gather information about your browsing activities over time and across different websites following your use of ours (in other words, track your online behaviour), which may result in advertisements or other messages being displayed to you based on your browsing history. You will encounter all of these cookies when interacting with our online applications, Websites or web resources. Cookies are vital to the Service and Websites. You can, however, remove them (individually, in selections or all in one sweep) and it is possible to disallow their use altogether or refuse certain types of them (your browser tools or support pages will tell you how to do that). But, if you disallow first-party cookies, your copy or instance of the Service will not operate properly or may not operate at all and your experience at Websites will be notably poorer or at least not as we intended. Third-party cookies can usually be managed by the tools provided by those parties. Some of such tools are available here: https://adssettings.google.com/ (Google advertising settings); https://tools.google.com/dlpage/gaoptout (Google Analytics opt-out); We cannot give you an exhaustive list of the means for opting out of third-party cookies as the service providers who may set such cookies in connection with the Service and Websites change from time to time. Contact us, using the details at the end of this Policy, to learn which third-party cookies may currently be in use on a particular Website or Service application. The Service and Websites do not respond to web browsers’ “do not track” signals and our data processing practices are not altered upon our receipt of such a signal. We are not allowed to use cookies unless you agree to it, and by accepting this Policy you have. If the device you are using is not your own (e.g., if you are using the Service or displaying a Website on your employer’s computer or smart device), we expect you to have the owner’s authorisation to agree on her behalf with our storing cookies on the device and retrieving information from it as described in this Policy. By using the device you are confirming to us that you are so authorised.
      </li>
  
  
      <li>
        <strong>  “Third-Party Information”</strong>
  Account Owner can choose to permit third-party services for her copy or instance of the Service or in relation to certain aspects of the Service. Typically, a third-party service is software that integrates with the Service and a User can enable or disable this integration for her Service application, User Account. Once enabled, the relevant third-party service provider may share certain information with us. For example, if you choose to use a third-party service to validate your access to the Service, then the provider of such a service may send us your name, user name, email address and/or telephone number to perform the validation. Or if some other third-party application (e.g., a storage, development, communication, project or resource management or accounting service) is enabled to permit data to be imported into your Service user environment or otherwise exchanged between the application and the Service, we may receive your name, user name, email address, profile picture, location and/or such other information as you have elected to let the application make available to us, and we are authorised to access such of your data in that third-party application as you let us. You should check the privacy settings of these third-party services to understand what data may be disclosed to us.
      </li>
  
      <li>
        <strong>  “Other Information”</strong>
  We receive from you such Information as you provide us when filling in forms (e.g., applications or questionnaires) on a Website or via the Service or when you participate in our Service-related campaigns or programmes, sign up to receive notifications, newsletters or other communications from us, request support for the Service, interact with our social media accounts or correspond or otherwise communicate with Myproject-Desk. If you email us or send us a letter or a message, we may retain a record of such communication, including your name and address, email address or telephone number (as applicable), the content of your communication and our response. We may complement these data with other Information.
      </li>
      
      </ul>
              </div>
          </div>
        
        
          
          <div class="privacy_policyinner">
              <div class="container">
                  <h4> Purposes and grounds for Information processing
  
  
        
        
        
        </h4>
                  <ul class="list-unstyled">
             
            <li>     The purposes for which Information is processed and the legal grounds for such processing are varied and depend on the nature of the Information. If Information is anonymous or de-identified, we may collect, use, disclose and otherwise process it for any purpose. Our processing of Personal Data, however, is limited to the purposes set out in this Policy.
  
            </li>
        <li>
          Most commonly, we will process your Personal Data in the following circumstances: (a) if we need to perform an agreement you have with us or it is necessary to take pre-contractual steps at your request before entering into such an agreement (we shall refer to these grounds as “Contractual”); (b) where we need to comply with a legal obligation, e.g., one arising from a law or regulation concerning taxation, accounting, financial reporting, prevention of terrorism or money laundering, or judicial or administrative process (this would be a “Legal” ground); (c) if it is warranted by our legitimate interests or those of a third party and such interests are not overridden by yours or your fundamental rights and freedoms (here, the processing would be based on “Interest”); (d) where we have your unambiguous consent before processing your Personal Data in that specific situation (thus allowing us to process these data on the grounds of “Consent”).
  
        </li>
        <li>
          The communications that we initiate with you can broadly be classified as: (a) Service-related technical, administrative, business, legal and subscribed-to promotional messages that we address to Users and which you only receive if you are one (“Service Messages”); and (b) messages about products, services, events and other matters you have shown interest in or which we believe may be of interest to you (“Marketing Messages”).
  
        </li>  
      
      <li>
          You can unsubscribe from certain Service Messages by adjusting your User Account settings and from others by following the instructions provided in the message. There are, however, some Service Messages that form part of the Service and which you cannot opt out of receiving unless you unsubscribe from the Service. As for Marketing Messages, you can always opt out of receiving these, but the variety of procedures for doing so may depend on the nature of the message and whether you have a User Account. If you do, try adjusting your User Account settings, and whether you have an account or not, there should always be opt-out instructions in the message itself. If you have trouble unsubscribing, contact us and we shall opt you out. Our details, as noted, are at the end of this Policy.
  
      </li>
  
      
      </ul>
              </div>
          </div>
        
        
          <div class="privacy_policyinner">
              <div class="container">
                  <h4>  Failure to provide Information
  
        
        
        
        </h4>
                  <ul class="list-unstyled">
           <li>    Generally, no one is obliged to give us their Personal Data but failure to do so may, or, depending on the circumstances, will or is likely to, result in our not being able to achieve the data processing purpose(s) and the particular ‘data subject’ may, or, respectively, will or is likely to, miss the benefits corresponding to that purpose (or those purposes).
  
           </li>
        <li>
          Where we need to collect your Personal Data by law or under the terms of a contract we have with you, or in order to enter into such a contract, and you fail to provide those data when requested, we may not be able to perform or enter into the relevant contract (which may be a contract for the provision of the Service or some other benefit). Should that be the case, we may have to cancel a product or service you have with us, but we shall let you know at the time if that applies.
  
        </li>
        <li>
          If you limit the ability of a Service application or Website to set cookies, you may, and in some cases most definitely will, prevent yourself from using that application or site or certain of its features, or may worsen your user experience as the item in question will not be personalised to you. It may also stop you from saving customised settings and you may need to validate your access to the Service or the Website more frequently during your browsing session.
  
        </li> 
                </ul>
              </div>
          </div>
        
        
        
          
          <div class="privacy_policyinner">
              <div class="container">
                  <h4> Duration of Personal Data storage
  
        
        
        
        
        </h4>
                  <ul class="list-unstyled">
             <li>    We only store your Personal Data for as long as necessary in the light of, or compatible with, the purposes for which the data were collected (e.g., enjoying our rights and performing our obligations under the contract you have with us, if that was the sole purpose) and such additional period as may be required by law.
  
             </li>
        
        <li>
          Legal retention periods vary depending on the type of Information concerned, and they can be quite long. For instance, Personal Data relevant to our accounting or taxation (which is likely to be the case upon some of the Personal Data under the Profile Information and Billing Information categories, and may also apply to some other Personal Data) must be retained for at least seven years after the primary purpose for their processing ceases to apply (e.g., seven years following the financial year when our business relationship with you terminated and the last transaction between us occurred).
  
        </li>
  
            
        </ul>
              </div>
          </div>
        
        
        
          <div class="privacy_policyinner">
              <div class="container">
                  <h4> Disclosure of Personal Data
  
        
        
        
        
        
        </h4>
                  <ul class="list-unstyled">
            <li>    This part of the Policy describes the circumstances in which we may disclose or transmit your Personal Data to third parties. Please note that the sections below only address the disclosures and transmissions of Personal Data and not, for example, anonymous or de-identified Information (which we may transmit and disclose at any time to anyone anywhere, in any manner and for any purpose). Nor does this part deal with the transmission or disclosure of Account Data, which is at the discretion and responsibility of the Account Owner.
  
            </li>
        <li>
          If you invite another User to your Account or join someone else’s Account, you are instructing us to display certain of your Profile Information (which may include your name, address, email address, profile picture, country of residence, time zone and telephone number) and, if applicable, Billing Information (including your name, billing address, billing email address, Tax number and the last four digits of your credit card number) in the Account such that other Users may or will have access to them (depending on their User privileges).
  
        </li>
        <li>
          If you use the Service automated onboard feature to invite someone to become a User, we shall let the invitee know who you are by including some of your Profile Information (name, email address and perhaps your profile picture) in the invitation.
    
        </li>
  
        <li>
          When you share Account Data or other content from your User Account by distributing links to such data (e.g., to allow someone without a User Account to view something you have created with the Service), certain of your Profile Information (e.g., name, email address and/or profile picture) is likely to be disclosed to the addressee(s) along with the material you share (and you may also be disclosing other Users’ Personal Data).
  
        </li>
  
        <li>
          Your Profile Information and possibly Billing Information or certain of these data may also be shared when integrating third-party services with your User Account or Service application and when using such third-party services in conjunction with the Service. You can control which data are shared when enabling and/or while enjoying the integration (depending on the third-party service). At any rate, do check your privacy settings for both the Service as well as the third-party service prior to integration as well as during to determine which data may be shared. And please note that we are not responsible for the privacy practices (or other acts or omissions) of such third-party service providers, so it would be advisable for you to make sure, before the integration, that you trust the service and the provider in question and are satisfied with the provider’s policies.
  
        </li>
  
        <li>
          We have engaged and will continue to use third-party service providers to assist us in providing, maintaining, developing, protecting and promoting the Service and Websites. We may, for example, use such parties for hosting the Service or a Website, sending out Service Messages or Marketing Messages, providing or hosting customer support services, performing analyses related to the Service or a Website, or for processing payments. We may also store Personal Data in locations outside our direct control, e.g., on third-party cloud infrastructure or platforms (IaaS/PaaS) or cloud infrastructure whose operation we have entrusted to other parties. These service providers may have access to your Personal Data for the limited purpose of providing the service we have engaged them to provide. Importantly for you as a ‘data subject’, our use of such service providers may involve transmitting your Personal Data to jurisdictions other than the one you reside in. Where this is the case, section International transfers of Personal Data, Point 2 will apply.
  
        </li>
  
        <li>
          We may share your Personal Data with our corporate affiliates and outside accountants, legal counsels and auditors.
  
        </li>
  
        <li>
          If we engage in or are subject to a merger, acquisition, division, transformation, public offering of our securities, obtaining financing, divestiture of all or substantially all of our assets or a significant part of such assets, transfer of the enterprise or a part of the enterprise to which your agreement with us pertains, or a similar transaction or proceeding, or if we take steps in contemplation of such activities (e.g., submit to due diligence), your Personal Data may, subject to standard confidentiality arrangements, be shared with, or transferred to, our counterparties or other relevant participants in the respective transaction or proceeding.
  
        </li>
  
        <li>
          We may find ourselves in a situation where we are legally obliged to disclose some or all of your Personal Data or where we reasonably believe that we are so obliged. This may be the case if we receive an Information request from an authority or there is a law or regulation that requires us to make a disclosure without specific request (e.g., to comply with national or international measures against terrorism or money laundering). We may also be compelled to disclose your Personal Data by a judicial, arbitral, administrative or otherwise mandatory order or judgment. Where any of the foregoing applies, we shall make the disclosure, and we may not be permitted to tell you that your Personal Data have been disclosed.
  
        </li>
  
        <li>
          There may also be situations where we find the disclosure of your Personal Data to be necessary in order to exercise, enforce or defend our rights, freedoms or legitimate interests or to protect the rights, freedoms or legitimate interests of a third party (e.g., a ‘data subject’ or an intellectual property owner).
  
        </li>
  
        <li>
          We shall disclose your Personal Data at your request (unless legally prohibited, impracticable or involving unreasonable effort or expense) or may do so upon your Consent.
  
        </li>
        </ul>
              </div>
          </div>
        
        
          <div class="privacy_policyinner">
              <div class="container">
                  <h4>  International transfers of Personal Data
  
        
        </h4>
                  <ul class="list-unstyled">
              <li>
                  We may transfer your Personal Data to jurisdictions other than the one you reside in, subject to point 2.
  
              </li>
  
              <li>
                  We shall not transfer your Personal Data from countries participating in the European Economic Area (“EEA”) to those which do not, or from the EEA to international organisations, unless the recipient country or the particular person or entity receiving the data ensures an adequate level of protection for the data received, or, if it does not, then without applying such safeguards as legally required and/or without the transfer being subject to such other conditions as the law provides for these kinds of transfers. For instance, if we are to transfer your Personal Data from the EEA to a recipient in the India, we shall make sure that the recipient participates having thus self-certified itself as ensuring a level of protection of Personal Data that is essentially equivalent to the one guaranteed under the GDPR.
  
              </li>
        </ul>
              </div>
          </div>
        
        
          <div class="privacy_policyinner">
              <div class="container">
                  <h4>  Personal Data Security
        
        </h4>
                  <ul class="list-unstyled">
              <li>
                  We shall maintain adequate technical and organisational measures to ensure such level of security in our processing of Personal Data as appropriate in the given circumstances. Upon assessing whether a measure is adequate and which level of security is appropriate we consider the nature of the Personal Data we are processing and the nature of the processing operations we perform, the risks to which you are exposed by our processing of your Personal Data, the state of the art, the costs of implementation and such other matters as may be relevant in the particular circumstances.
  
        </li>
        <li>
          The measures referenced in the preceding section particularly address the following: (a) the protection of Personal Data against unauthorised or unlawful processing and against accidental loss, alteration or destruction; (b) the integrity and confidentiality of Personal Data; (c) the availability and resilience of the Service features pertinent to the processing of Personal Data; and (d) our ability to restore the availability and access to Personal Data in a timely manner after a Service failure.
  
            </li>
        <li>
          However, please be aware that no security measure is perfect. Our efforts notwithstanding, we cannot guarantee that your Personal Data, during transmission over the internet or while stored in our systems or those of our service providers or while otherwise in our care, will be absolutely safe from unauthorised or unlawful processing or accidental loss, alteration or destruction, or that they will indeed be intact and confidential at all times or shortly available after any Service incident. Note also that we cannot control, and are not responsible for, the actions of other parties with whom you share (or instruct us to share) your Personal Data.
  
            </li>    
        </ul>
              </div>
          </div>
        
        
          
          <div class="privacy_policyinner">
              <div class="container">
                  <h4>  Your rights as a Data subject
  
        
        
        
        
        
        
        
        
        </h4>
                  <ul class="list-unstyled">
        <li>     ‘Data subjects’ in the EEA have certain statutory rights under the GDPR concerning the Personal Data that we have on them. This part of the Policy aims to give you a general understanding of these rights and we encourage you to deepen this understanding by studying the GDPR yourself. To facilitate this, we have, in relation to each of the rights noted below, provided a reference to the specific provision of the GDPR from which that right arises.
  
       
            </li>
            <h6 class="mt-4">Specifically then, and subject to such statutory exceptions as may apply in your particular case, your ‘data subject’ rights include the following:
          </h6>
  
          <li>
           <strong>   Right of access / GDPR Article 15 </strong>
  You have the right to enquire and get a confirmation from us as to whether or not we process any of your Personal Data. Where we do, you may request access to those data and have us give you a copy of them. A User can access most of the Personal Data we have about her by logging in to her User Account and going to her profile page (we have what you see there), and it may well be that these are the only Personal Data we maintain on her. If you wish to be certain or have no User Account, please use the contact details at the end of this Policy to exercise your ‘right of access’.
          </li>
  
          <li>
            <strong>  Right to rectification / GDPR Article 16</strong>
  If the Personal Data we have about you is incorrect, you have the right to request that we correct those data, and, in some circumstances, you may have the right to require that your incomplete Personal Data be completed (but in each of these cases we may need to verify the accuracy of the information you provide to us). As with the ‘right of access’, Users can and are encouraged to update the Personal Data under their User Accounts themselves.
  
          </li>
  
  
          <li>
          <strong>    Right to erasure (right to be forgotten) / GDPR Article 17 </strong>
  You have the right to request that we delete or remove the Personal Data we have on you where there is no good reason for us continuing to process them. Please note that we may not always be able to comply with your request as there may be specific legal reasons which warrant the processing. Should this be the case, we shall inform you accordingly at the time of your request.
          </li>
  
  
          <li>
           <strong>   Right to object / GDPR Article 21 </strong>
  You have the right to object to our processing of your Personal Data where the processing is based on Interest and there is something about your particular situation that makes you want to object to processing on this ground as you feel it impacts your interests or fundamental rights and freedoms. There may, however, be occasions where we demonstrate that we have compelling legitimate grounds to process your Personal Data (i.e., that our legitimate interests or those of a third party override yours and your fundamental rights and freedoms) and thus dismiss your objection. In case we are processing your Personal Data for direct marketing purposes, you may object to that processing at any time and we shall no longer process your Personal Data for such purposes.
          </li>
  
          <li>
           <strong>   Right to restriction of processing / GDPR Article 18 </strong>
  You have the right to request that we suspend the processing of your Personal Data where any of the following applies: (a) you have contested the accuracy of the data and the same needs to be verified; (b) the processing is unlawful but you do not want us to erase the data that we are processing; (c) you need us to maintain the data even though we no longer require them as they are necessary for your establishment, exercise or defence of legal claims; or (d) you have objected to processing as described under relevant section but we need to verify whether we have overriding legitimate grounds for processing.
          </li>
  
          <li>
          <strong>    Right to data portability / GDPR Article 20 </strong>
  If our processing of your Personal Data which you have provided us is based on a Contractual ground or on Consent and the processing is carried out by automated means, you are entitled to have us make those data available to you in a structured, commonly used and machine-readable format so that you could transmit them to someone else (another ‘controller’). You may also ask us to transmit these data to that other ‘controller’ directly, and we shall do so, if technically feasible.
          </li>
  
          <li>
             <strong> Right to withdraw consent / GDPR subsection 13(2)(c)</strong>
  If we are processing your Personal Data based on Consent, you may withdraw that consent at any time (but this will not affect the lawfulness of any processing activities carried out based on your consent before its withdrawal).
          </li>
  
          <li>
              As noted above, you can exercise some of your ‘data subject’ rights (such as the ‘right of access’ and the ‘right to rectification’) through your User Account. If you are unable to do so, particularly if you have no User Account, or if the right in question cannot be thus exercised, then please use the contact details at the end of this Policy to get in touch with us and we shall do what we reasonably can to facilitate the exercise of your rights.
  
          </li>
  
          <li>
              We aim to respond to any legitimate request within a month of its receipt but it may take us longer if your request is particularly complex or you have made several requests. If that is the case, we shall let you know and keep you updated.
  
          </li>
  
          <li>
              We shall not charge you any fee for exercising the above rights unless your requests are clearly unfounded or excessive (e.g., because of their repetitive character), in which case we may charge a reasonable fee. Alternatively, we may decline your request in such circumstances.
  
          </li>
  
        </ul>
              </div>
          </div>
        
        
        
          <div class="privacy_policyinner">
              <div class="container">
                  <h4>   Right to lodge a complaint with a supervisory authority
  
        
        
        
        
        
        
        
        
        
        </h4>
                  <ul class="list-unstyled">
            <li>     In case you believe that we are processing your Personal Data in violation of the GDPR, you have the right to lodge a complaint with the ‘supervisory authority’ located in the EEA country where you reside or work or where the alleged infringement took
  
            </li>
                </ul>
        
              </div>
          </div>
        
        
          <div class="privacy_policyinner">
              <div class="container">
                  <h4>  Changes to this Policy
  
        </h4>
  <ul class="list-unstyled">
      <li>
          We may revise this Policy from time to time to reflect changes to the Service, Websites, applicable laws, regulations or standards or other changes that may occur in our business. We shall post the revised Policy (or, as the case may be, our new privacy policy) on the same webpage where we published this Policy or on such other webpage as we then may habitually use for publishing materials such as the Policy. We may also use the Service, email or other means for notifying Users of such policy changes. The revised Policy (or, as applicable, the new one) will be effective when posted as described unless the document itself specifies a later time for its entry into force.
  
      </li>
  </ul>
              </div>
          </div>
  
  
  
          <div class="privacy_policyinner">
              <div class="container">
                  <h4>  User privacy controls
  
  
        </h4>
  <p>
      This section describes key controls for managing your privacy across our platforms and services. In addition to this we also provide few other mechanisms by which users can reach out to us to modify or erase their information available with us. Managing, reviewing, and updating your information: When you’re signed in, you can always review and update information by visiting the services you use. For example, you can change your contact details such as your name, email and phone number. Choice to Opt-out: We provide all users with options to opt-out from receiving non-essential (promotional, marketing related etc.) communications from us. This can be done directly on our platforms or providing us with necessary information at DPO@Myproject-Desk Unsubscribing, removing and deleting your information: If you choose to unsubscribe from our platforms or delete any of all of your information, you can delete your SCREENSHOTS ,NAME . In addition to this you may also send an email to DPO@Myproject-Desk for specific information about your account or deletion of your account history. However, we may still retain some information and records of transaction for specific period as required by any law, contract with RWA or policy as applicable. Contacting Data Protection Officer: In subsequent sections covering “Role and details of Data Protection Officer(DPO)”, we have full disclosure of how users can reach out to Myproject-Desk  DPO to lodge complaints or communicate any privacy related grievances.
  
  </p>
              </div>
          </div>
  
  
  
          <div class="privacy_policyinner">
              <div class="container">
                  <h4> Role and details of Data Protection officer :
  
  
  
        </h4>
  <p>
      Myproject-Desk has employed a dedicated  <strong> data protection and grievance officer </strong> who will be responsible for overseeing the company’s data protection strategy and its implementation to ensure compliance with various Privacy law requirements.
  
  
  </p>
              </div>
          </div>
  
  
  
          
          <div class="privacy_policyinner">
              <div class="container">
                  <h4>Our DPO is responsible for the following:
  
  
  
  
        </h4>
  
  
  <ul class="list-unstyled">
    <li>  Constantly educating the company and employees on important Data Privacy compliances</li>
    <li>
  Training all staff involved in data processing</li>
  <li>
  Conduct regular audits to ensure compliance and address any gap or issues proactively</li>
  <li>
  Monitoring implementation and effectiveness of data protection efforts within company
  </li>
  <li>
  Maintaining comprehensive records of all data processing activities, including purposes and necessity of all processing activities, which must be produced on request.</li>
  <li>
  Interfacing with data subjects to address how their information is being used, their right to have their personal data amended or erased and what measures Myproject-Desk has put in place to protect your personal information.</li>
  </ul>
  
              </div>
          </div>
  
  
  
          <div class="privacy_policyinner">
              <div class="container">
                  <h4>If you have you have queries regarding your data and privacy, please refer to the FAQs listed here
  
  
  
  
  
        </h4>
        <h6>
          In case of any issue or grievance related to your data privacy, please contact our DPO at  <a href="mailto:dpo@myproject-desk">dpo@myproject-desk</a> or write to Data Protection Office:
  
        </h6>
  
              </div>
          </div>
  
  
  
          
          <div class="privacy_policyinner">
              <div class="container">
                  <h4>Contact details
  
  
  
  
  
        </h4>
       <p>
          Feel free to get in touch with us if you have any questions about this Policy or our data processing practices or if you would like to exercise any of your ‘data subject’ rights with respect to the Personal Data we maintain on you. Email us: <a href="mailto:support@myproject-desk">support@myproject-desk</a> Call us: <a href="tel:0124 6882 771">0124 6882 771</a> .
  
       </p>
  
              </div>
          </div>
        </section>
  
  
    
    
                <%- include('../partials/front/footer'); %>
