<%- include('../partials/front/header'); %>
    <!-- inner-headerSlider-start -->
   
    <!-- inner-headerSlider-start -->
<section id="innerHeadSliderSec">
    <img src="/theme-assets/front/images/elementHead1.png" alt="element" class="element1 hang">
    <img src="/theme-assets/front/images/elementHead02.png" alt="element" class="element2 hang">
    <img src="/theme-assets/front/images/elementHead2.png" alt="element" class="element3 hang">
    <img src="/theme-assets/front/images/elementHead4.png" alt="element" class="element4 hang">
    <img src="/theme-assets/front/images/elementHead5.png" alt="element" class="element5 hang">
    <div class="innerHeadSliderSecinner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <div class="innerHeadCnt">
                        <h1>Reseller Program



                        </h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                                 
                                  <li class="breadcrumb-item active" aria-current="page">Reseller Program



                                </li>
                                </ol>
                              </nav>
                    </div>
                </div>
                <!-- col-md-6 -->

                <div class="col-md-6 align-self-center text-center">
<div class="innerHeadImg">
    <img src="/theme-assets/front/images/resellerBnrImg.png" alt="Affiliate">
</div>
                </div>
                <!-- col-md-6 -->
            </div>
        </div>
    </div>
</section>
    <!-- inner-headerSlider-end -->


<section id="partneringWithSec">
    <div class="container">
      

        <div class="row">
            <div class="col-md-6 align-self-center">
                <div class="partnerWithImg">
                    <img src="/theme-assets/front/images/partnerShipImg.png" alt="">
                </div>
            </div>
            <!-- col-md-6 -->

<div class="col-md-6 align-self-center">
<div class="partnerShipCnt">
    <hgroup class="lightW">
        <h2>Partnering with My Project-desk
        </h2>
       
    </hgroup>
    <p>At My Project-desk, we aim to create mutually beneficial partnerships. We strongly believe in the principles of reliability, transparency, consistency, and accountability. Our partnerships firmly rely on these principles.
    </p>
    <p>We aim to motivate our partners to grow, joining hands with us, and achieve success together. We are committed to empowering our resellers, distributors worldwide with a structured program and clear expectations, making it easy to deliver My Project-desk’s industry-leading  Employee Productivity Software to customers.

    </p>
    <p>The My Project-desk Reseller and Distributor Program enables the resellers worldwide to sell My Project-desk with dedicated assistance, sales support, marketing tools, and all the other assistance.

    </p>
</div>
</div>
<!-- col-md-6 -->

        </div>
    </div>
</section>


<section id="howToAffiliateSec">
    <div class="container">
        <hgroup class="lightW">
            <h6>Schedule a call to connect with our team.<br> We’d love to connect with you!


    
            </h6>
            <h2>How it works

            </h2>
        </hgroup>
    
        <div class="row">
    <div class="col-md-3">
        <div class="howToAffiliateBx">
            <div class="howToAffiliateBxImg">
    <img src="/theme-assets/front/images/customerIco.png" alt="">
    </div>
    <h4>        Find customers and sell our Product
    </h4>
        </div>
    </div>
    <!-- col-md-4 -->
    
    <div class="col-md-3">
        <div class="howToAffiliateBx">
            <div class="howToAffiliateBxImg">
    <img src="/theme-assets/front/images/responsibleDealIco.png" alt="">
    </div>
    <h4>       Responsible for closing the deal
    </h4>
        </div>
    </div>
    <!-- col-md-4 -->
    
    <div class="col-md-3">
        <div class="howToAffiliateBx">
            <div class="howToAffiliateBxImg">
    <img src="/theme-assets/front/images/supportIco.png" alt="">
    </div>
    <h4>        Receive assistance and support from us
    </h4>
        </div>
    </div>
    <!-- col-md-4 -->

    <div class="col-md-3">
        <div class="howToAffiliateBx">
            <div class="howToAffiliateBxImg">
    <img src="/theme-assets/front/images/receiveComissionIco.png" alt="">
    </div>
    <h4>                Entitled to receive commissions

    </h4>
        </div>
    </div>
    <!-- col-md-4 -->
        </div>
        <!--  -->
    </div>    
    </section>



    <section id="partnerShipSec">

        

        <div class="partnerShipFrm mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 align-self-center">
                        <div class="partnerShipimgdv">
                            <img src="/theme-assets/front/images/partnerShipFrmImg.jpg" alt="PartnerShip">
                        </div>
                    </div>

                    <div class="col-md-7 align-self-center">
                        <div class="partnerShipfrminner">
                          

                            <hgroup class="site_heading">
                                <h6>Sign Up Request form

                                </h6>
                                <h2>Partnership</h2>
                       
                              
                    </hgroup>
                            <form>
                                <div class="row g-2">
                                    <div class="col-md-6">
                                     

                                        <div class=" form-floating mb-3">
                                         
                                            <input type="text" class="form-control" id="firstNameField" placeholder="First Name">
                                            <label for="firstNameField">First Name</label>
                                          </div>

                                    </div>

                                    <div class="col-md-6 ">
                                    

                                        <div class=" form-floating mb-3">
                                            
                                            <input type="text" class="form-control" id="lastNameField" placeholder="First Name">
                                            <label for="lastNameField">Last Name</label>
                                          </div>

                                    </div>
                                    


                                    <div class="col-md-6 ">
                                       

                                        <div class=" form-floating mb-3">
                                            
                                            <input type="text" class="form-control" id="emailField" placeholder="First Name">
                                            <label for="emailField">Email</label>
                                          </div>


                                    </div>


                                    <div class="col-md-6 ">
                                       

                                        <div class=" form-floating mb-3">
                                           
                                            <input type="text" class="form-control" id="phoneField" placeholder="First Name">
                                            <label for="phoneField">Phone</label>
                                          </div>


                                    </div>



                                    <div class="col-md-6 ">
                                       

                                        <div class=" form-floating mb-3">
                                            
                                            <input type="text" class="form-control" id="companyNameField" placeholder="First Name">
                                            <label for="companyNameField">Company Name</label>
                                          </div>


                                    </div>


                                    <div class="col-md-6 ">
                                       

                                        <div class=" form-floating mb-3">
                                           
                                            <input type="text" class="form-control" id="countryField" placeholder="First Name">
                                            <label for="countryField">Country</label>
                                          </div>


                                    </div>



                                    <div class="col-md-12 text-center">
                                        <input type="submit" value="Sign Up" class="btn btn-primary">
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<section id="processSec">
    <div class="container">
        <hgroup class="site_heading">
            
            <h2>Process</h2>
            <h6>Steps to be followed to Partner as a Reseller


            </h6>
            <p>Add My Project-desk to your product portfolio and sell it the same way you do sell your products!
            </p>
   
          
</hgroup>
        <div class="row">
            <div class="col-md-6">
                <div class="processImg">
                    <img src="/theme-assets/front/images/processImg.png" alt="Process">
                </div>
            </div>
            <!-- col-md-6 -->

<div class="col-md-6 align-self-center">
<div class="processCnt">
<ul class="list-unstyled dotsUl ">
    <li>
        Sign up as a Reseller/Distributor of My Project-desk. Our team will contact you to finalize the deal.

    </li>

    <li>You will be entitled to receive the appropriate training, onboarding, sales decks, and all the other tools required to get you going. You will receive complete guidance from our side.
    </li>

    <li>Start introducing My Project-desk to your customers and sell the software
    </li>

    <li>Collaborate, communicate, and coordinate anything you need with your My Project-desk manager.
    </li>

    <li>Close the deals, provide assistance to them and ask for the same from us, if any required!
    </li>

    <li>Lastly, you have earned commissions for your sale. You are entitled to receive a certain % of commission on the sales and recurring commissions as well.
    </li>

    <li>Keep selling and growing!
    </li>
</ul>
</div>
</div>
<!-- col-md-6 -->

        </div>
    </div>
</section>


<!-- testimonials-section-start -->

<section id="our_verticlesec" class="bg-light">
    <div class="our_verticlesectop">
      <div class="container">
     <hgroup>
         <h2>What Our Clients Say ?</h2>
     </hgroup>
      </div>
    </div>


    <div class="our_verticlesecbottom">
      <div class="container">
        <div class="our_verticlesecbottominner">
          <div class="owl-carousel owl-theme owl-loaded our_verticlowl">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <div class="owl-item">
                      <div class="verticle_bx">
                        <div class="verticle_bxinner">
                        <div class="text-center">
                          <img src="/theme-assets/front/images/testimonial_user.jpg">
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                     <h5>Maria Kloop</h5>
                     <h6>Developer</h6>
                      </div>
                    </div>
                  </div>

                  <div class="owl-item">
                    <div class="verticle_bx">
                      <div class="verticle_bxinner">
                      <div class="text-center">
                        <img src="/theme-assets/front/images/testimonial_user.jpg">
                      </div>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                   <h5>Maria Kloop</h5>
                   <h6>Developer</h6>
                    </div>
                  </div>
                </div>

                <div class="owl-item">
                  <div class="verticle_bx">
                    <div class="verticle_bxinner">
                    <div class="text-center">
                      <img src="/theme-assets/front/images/testimonial_user.jpg">
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                 <h5>Maria Kloop</h5>
                 <h6>Developer</h6>
                  </div>
                </div>
              </div>

              <div class="owl-item">
                <div class="verticle_bx">
                  <div class="verticle_bxinner">
                  <div class="text-center">
                    <img src="/theme-assets/front/images/testimonial_user.jpg">
                  </div>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
               <h5>Maria Kloop</h5>
               <h6>Developer</h6>
                </div>
              </div>
            </div>
                    
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
  </section>

<!-- testimonials-section-end -->

    <!-- testimonials-section-end -->
    

    
    
    <!-- get-in-touch-section-start -->
    <section id="getInTouchSec">
        <div class="getInTouchSecinner">
            <div class="container">
                <hgroup>
                    <h2>
                        Get in Touch
                    </h2>
                    <p>Know How You Can Increase Employee Productivity with Myproject-Desk.
        
                    </p>
                </hgroup>
                <div class="row">
                    <div class="col-md-4">
                        <div class="getTouchBx wow fadeInUp">
        <div class="text-center">
            <span class="flaticon-location-1
        
            "></span>
        </div>
        <!--  -->
        <h4>Address</h4>
        <p>
            <a href="javascript:void(0);">A-3 Maal Road, Vidhyadhar Nagar, Jaipur</a>
        </p>
                          </div>
                    </div>
                    <!--  -->
        
        
                    <div class="col-md-4">
                        <div class="getTouchBx wow fadeInUp">
        <div class="text-center">
            <span class="flaticon-phone-call
        
            "></span>
        </div>
        <!--  -->
        <h4>Phone</h4>
        <p>
            <a href="tel:++91 9828732221">+91 9828732221</a>
        </p>
        
        
                        </div>
                    </div>
                    <!--  -->
        
                    <div class="col-md-4">
                        <div class="getTouchBx wow fadeInUp">
        <div class="text-center">
            <span class="flaticon-email
        
            "></span>
        </div>
        <!--  -->
        <p>
            <a href="mailto:sales@doomshell.com">sales@doomshell.com</a>
        </p>
        
        <p>
            <a href="mailto:contact@doomshell.com">contact@doomshell.com</a>
        </p>
                        </div>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
        
        <!-- form -->
        
        <div class="sendYourMessageSec">
            <div class="sendYourMessageSecinner">
                <hgroup>
                    <h2>Send Your Message</h2>
                </hgroup>
        
                <form action="">
                    <div class="row">
                        <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput1" placeholder="Your Name">
                        <label for="floatingInput1">Your Name</label>
                      </div>
                    </div>
                    <!--  -->
        
                    <div class="col-md-6">
                      <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput2" placeholder="Email Address">
                        <label for="floatingInput2">Email Address</label>
                      </div>
                    </div>
                    <!--  -->
        
        
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput3" placeholder="Your Subject">
                            <label for="floatingInput3">Your Subject</label>
                          </div>
                        </div>
                        <!--  -->
            
                        <div class="col-md-6">
                          <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInput4" placeholder="Your Phone">
                            <label for="floatingInput4">Your Phone</label>
                          </div>
                        </div>
                        <!--  -->
        
                        <div class="col-md-12">
                            <div class="form-floating">
                              <textarea class="form-control" id="floatingInput5" placeholder="Write Message"></textarea>
                              <label for="floatingInput5">Write Message</label>
                            </div>
                          </div>
                          <!--  -->
                        
                    </div>
                    <!--  -->
                    <div class="text-center mt-3">
                        <button type="submit" class="site_btn2 border-0">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
        
        </section>
        <!-- get-in-touch-section-end -->
             
        <%- include('../partials/front/footer'); %>    