<%- include('../partials/front/header'); %>

    <!-- inner-headerSlider-start -->
    <section id="innerHeadSliderSec">
        <img src="/theme-assets/front/images/elementHead1.png" alt="element" class="element1 hang">
        <img src="/theme-assets/front/images/elementHead02.png" alt="element" class="element2 hang">
        <img src="/theme-assets/front/images/elementHead2.png" alt="element" class="element3 hang">
        <img src="/theme-assets/front/images/elementHead4.png" alt="element" class="element4 hang">
        <img src="/theme-assets/front/images/elementHead5.png" alt="element" class="element5 hang">
        <div class="innerHeadSliderSecinner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <div class="innerHeadCnt">
                            <h1>Terms and Conditions</h1>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                                     
                                      <li class="breadcrumb-item active" aria-current="page">Terms and Conditions</li>
                                    </ol>
                                  </nav>
                        </div>
                    </div>
                    <!-- col-md-6 -->
    
                    <div class="col-md-6 align-self-center text-center">
    <div class="innerHeadImg">
        <img src="/theme-assets/front/images/termsOfServiceImg.png" alt="VS Workplus">
    </div>
                    </div>
                    <!-- col-md-6 -->
                </div>
            </div>
        </div>
    </section>
        <!-- inner-headerSlider-end -->
    
        <section id="privacy_policySec">
            <div class="privacy_policyinner">
                <div class="container">
                    <p>These Terms of Service describe the Services we will provide to you, how we will work together, and other aspects of our business relationship.. We request you to read the terms below carefully before confirming your acceptance thereof. Upon your acceptance, these Terms of Service form a legally binding agreement between you and Myproject-Desk. Our Services are available to you only upon your acceptance of these Terms of Service. In case any of the terms are not acceptable to you, please do not proceed to use any of our Services.
                    </p>
                    <h4>BY ACCESSING OR USING OUR SERVICES IN ANY WAY, YOU AGREE TO BE BOUND BY ALL THE APPLICABLE TERMS OF SERVICE.
    
                    </h4>
                   <p>We periodically update these terms and we will let you know when we do through notification within the Myproject-Desk Application used to access your Subscription Services (if you have one), and by posting a revised copy on our website. You agree to review these Terms of Service on a regular basis and always remain in compliance.
                </p>
                </div>
            </div>
          
          
          
            <div class="privacy_policyinner">
                <div class="container">
                    <h4> DEFINITIONS
    
    
          </h4>
                    <ul class="list-unstyled">
     <li>          
    “Myproject-Desk”, “we”, “us” or “our” shall mean Zanstack Private Limted Limited, a company incorporated under the Companies Act, 1956, with its registered office at 206-207, 2nd Floor, Corporate Zone, C21 Mall, Hoshangabad Road, Misrod, Bhopal, Madhya Pradesh, India.
    </li>
    <li>
    “You”, “your” or “Customer” shall mean an individual or legal entity who is signing up for any kind of Services from us, irrespective of the nature or duration of the Services, including those availing of Free Services. Customer’s details, including name of the contracting entity and the authorized representative, are as provided in the accompanying Order Form.
    </li>
    <li>
    “Billing Cycle” shall mean a duration cycle for which billing is done in one go, as indicated in the Sales Order.
    </li>
    <li>
    “Consulting Services” shall mean the professional services provided by us, which may include training services, installation, integration or consulting services. The details of the Consulting Services shall be set out in the Sales Order Form signed up from time to time under these Terms of Service.
    </li>
    <li>
    “Customer Data” shall mean information pertaining to your clients that you submit or collect via the Subscription Services. Additional information that may be collated by us and provided for your use will not be included within the scope of Customer Data.
    </li>
    <li>
    “Disclosing Party” shall have meaning set out in Clause 6.1.1
    </li>
    <li>
    “Effective Date” shall mean the date of your acceptance of these Terms of Service</li>
    <li>
    “Force Majeure” shall mean an act of war, hostility, sabotage, act of God, electrical, internet
    Telecommunication outage, cyber-attacks, government or regulatory restrictions (including the denial or cancellation of any export or other license), or any other event outside the reasonable control of the obligated Party.</li>
    <li>
    “Free Services” shall mean any products or features, including Subscription Services made available by us to you on an unpaid trial or free basis.
    </li>
    <li>
    “Myproject-Desk Application”, “Software”, or “Platform” shall mean the suite of applications available at https://Myproject-Desk or any of its sub-domains or any other URL/location made available by us.
    </li>
    <li>
    “Sales Order” or “Order Form” shall mean the form submitted based on your requirements, with your details and the Services opted by you, with relevant Service terms, pricing and payment terms being set out accordingly. Separate Order Forms may be submitted for different Subscription Services and Order Forms may be updated or modified from time to time with mutual consent
    </li>
    <li>
    “Party” shall mean either Myproject-Desk or Customer and “Parties” shall mean Myproject-Desk and Customer collectively.
    </li>
    <li>
    “Planned Downtime” shall mean the period during which the Services may be shut down for planned maintenance of the Platform. To the extent possible and reasonable, such downtime will be scheduled during non-business hours for majority of our customers such as weekends and public holidays and at least 24 (twenty-four) hour’s prior notice will be provided.
    </li>
    <li>
    “Privacy Policy” shall mean our privacy policy set out at <a href="privacy-policy.html"> privacy-policy</a></li>
    <li>
    “Receiving Party” shall have the meaning set out in Clause 6.1.1.</li>
    <li>
    “Service Usage Limitations” shall have the meaning set out at Clause 3.3.</li>
    <li>
    “Sensitive Information” shall mean passwords, financial information such as bank account or credit card or debit card or other payment instrument details, Social Security numbers, passport numbers, driver’s license numbers, Aadhar numbers or similar identifiers, information pertaining to racial or ethnic origin, political opinions, religious or philosophical beliefs, or trade union membership, physical, physiological or mental health condition or information, medical records and history, sexual orientation, genetic data, biometric information, or other employment, financial or health information, including any information subject to regulations, laws or industry standards designed to protect data privacy and security, such as the Health Insurance Portability and Accountability Act and the Payment Card Industry Data Security Standards.</li>
    <li>
    “Service Fees” shall mean the amounts you are required to pay for using any of the Services.</li>
    <li>
    “Services” shall mean any service provided by us to you, including but not limited to Subscription Services, Consulting Services and Free Services.
    </li>
    <li>
    “Start Date” shall mean the date of commencement of the Subscription Services.</li>
    <li>
    “Subscription Fees” shall mean the fees payable by you for the Subscription Services.</li>
    <li>
    “Subscription Services” shall mean all of Myproject-Desk’s web and mobile based marketing and sales applications, tools and platforms that you have subscribed to and are developed, operated and maintained by us, accessible via <a href="index.html"> myproject-desk</a> or another designated URL, and any ancillary products and services that we provide to you. The details of the Subscription Services shall be as set out in the Order Form.</li>
    <li>
    “Subscription Term” shall mean the initial term for the subscription to the applicable Subscription Services, as specified in the relevant Order Form, and each subsequent renewal term (if any). For Free Services, the Subscription Term will be the period during which you have an account to access the Free Services</li>
    <li>
    “Terms of Service” shall mean this Terms of Service entered into between Myproject-Desk and you in respect of the Services, along with any modifications that may be notified from time to time.
    </li>
    <li>
    “Users” mean individual people or accounts that are designated and authorized by you to access Subscription Services
    </li>
               </ul>
                </div>
            </div>
          
          
          
            <div class="privacy_policyinner">
                <div class="container">
                    <h4> SCOPE OF SERVICES
    
    
          
          </h4>
                    <ul class="list-unstyled">
                  <li>  Subscription Services
                      <ul class="list-unstyled">
                 <li>   During the Subscription Term, we will provide you access to use the Subscription Services in accordance with these Terms of Service and the relevant Order Form. You may, at any time, subscribe to additional features of the Subscription Services (existing features or new features that may be made available by us from time to time) by executing an additional Order Form. We may update the Platform from time to time, without adversely affecting the Subscription Services. We, however, are under no binding obligation to release new features or updates to the Platform. We make no representations as to future features and functionalities, irrespective of any public announcements or comments in this regard</li>
                 <li>
                    Subscription Services will be made available 24 hours a day, 7 days a week, except for Planned Downtime or Force Majeure.</li>
                </ul>
                  </li>
    
    
                  <li>
                    Consulting Services
                    <ul class="list-unstyle">
                        <li>
                    Consulting Services will be provided by us in accordance with the relevant Order Form. Unless otherwise agreed, Consulting Services will be performed remotely and rendered in English.
                </li>
                </ul>
                  </li>
    
    
                  <li>
                    Third Party Service Providers or Third-Party Software
                    <ul class="list-unstyled">
    
                   <li>
                    We may use third-party service providers, including application service providers and hosting service providers, for rendering any of the Services hereunder without seeking further consent from you, but we will continue to be responsible for such Services. We, will however, not be responsible for any third-party service providers engaged by you or any third-party software that may be procured by you, whether with or without our consent and notwithstanding that the same may be integrated with the Services.
                </li>
                </ul>
                  </li>
                  
                  </ul>
                </div>
            </div>
          
          
          
            <div class="privacy_policyinner">
                <div class="container">
                    <h4>  USE OF SUBSCRIPTION SERVICES
    
    
    
          
          
          </h4>
                    <ul class="list-unstyled">
               <li>
                Grant of Rights
                <ul class="list-unstyled">
                    <li>
                We grant you a non-transferable, non-exclusive, worldwide right to permit Users authorized by you to access and use the Services in accordance with these Terms of Service, the relevant Order Form and all laws and regulations applicable to you.
            </li>
            </ul>   
            </li>
    
            <li>
                Acceptable Use
    <ul class="list-unstyled">
        <h6>
        You will comply with the Acceptable Use Policy. Specifically, you will not:</h6>
        <li>
    Use or launch any automated system, including, “robots”, “spiders”, or “offline readers”, that sends more request messages to our servers in a given period of time than a human can reasonably produce in the same period by using a conventional browser.</li>
    <li>
    Use the Subscription Services in any manner that damages, disables, overburdens, or impairs any of our websites or interferes with any other party’s use of the Subscription Services.
    Attempt to gain unauthorized access to the Subscription Services.</li>
    <li>
    Make the Services available to anyone other than authorized Users.</li>
    <li>
    Sell, resell, rent or lease the Services unless explicitly permitted in the relevant sales Order Form.</li>
    <li>
    Use the Services to store or transmit infringing or otherwise unlawful or tortious material, or to store or transmit material in violation of third-party privacy rights.</li>
    <li>
    Use the Services to store or transmit malicious code.</li>
    <li>
    Access the Subscription Services other than through the interface provided by us.</li>
    <li>
    Create derivative works based on the Services or the Software unless we have been explicitly authorized by you.</li>
    <li>
    Reverse engineer the Services or the Software or access the Services in order to: (a) build a competitive product or service, or (b) copy any features, functions or graphics of the Services.</li>
    <li>
    Use the Subscription Services for any purpose or in any manner that is unlawful under applicable laws or prohibited by under these Terms of Service.</li>
    </ul>
            </li>
    
    
    
            <li>
                Service Overuse
                <ul class="list-unstyled">
    
               <li>
    We reserve the right to monitor and audit your usage of the Services to determine if the use is within relevant Service Usage Limitations. Any overuse of Services, if technically permitted, will be brought to your notice and may lead to pro-rata additional billing or suspension of the Services, or both.
    </li>
    </ul>
    
    
    <li>
        Intimation of Unauthorized Use
        <ul class="list-unstyled">
            <li>
    You are responsible to ensure that the Services are used in accordance with these Terms of Service and will notify us immediately of any unauthorized use of your account or User’s identifications and passwords by sending an email to contact@doomshell.com.
    </li>
    </ul>
    </li>
            </li>
        </ul>
                </div>
            </div>
          
          
            
            <div class="privacy_policyinner">
                <div class="container">
                    <h4> FEES AND PAYMENT TERMS
    
    
    
          
          
          
          </h4>
          <h6>Unless otherwise agreed in the relevant order form, you shall pay us the amounts set out below as fees for the Services:</h6>
                    <ul class="list-unstyled">
               
         <li>
          <strong>  Subscription Fees</strong>
          <ul class="list-unstyled">
              <li>
            Towards Subscription Services, you will pay the Subscription Fees set out in the relevant Order Form. The Subscription Fees will remain fixed during the Subscription Term unless:
    <ul class="list-unstyled">
            
           <li> There is an overuse of the Services, whereby you exceed the maximum contacts, email send limit, visits, User or other applicable limits, as set out in the relevant Service Usage Limitations.</li>
           <li>
            You upgrade products or base packages.</li>
            <li>
            You subscribe to additional or new features or new packages or products, including additional contacts.</li>
        </ul>
        </li>
    
       <li> In case of overuse of Subscription Services, we shall be entitled to charge an additional fee for such overuse on a pro-rata basis. You will also be provided an option to modify the relevant sales order form and enhance the permitted usage limits prospectively</li>
       <li>
        Additional fees for new features or additional Subscription Services will be charged pro-rata for the remainder of the Subscription Term.
    </li>
    <li>
        Subscription enables you to use the Subscription Services during the Subscription Term. In case usage of the Services is below the Service Usage Limitations or in case you discontinue use of the Services during the Subscription Term, we are not liable to refund any Subscription Fees</li>
        <li>
        The Subscription Fees will remain unchanged during the Subscription Term of the Order Form and be subject to escalation only at the time of each renewal, at the rate set out in the relevant Order Form</li>
    
    
    
        </ul>
         </li>    
        
    <li>
      <strong>  Consulting Fees and Expenses</strong>
      <ul class="list-unstyled">
          <li>
    Any fee associated with Consulting Services will be captured in the relevant Order Form.</li>
    <li>
    For Consulting Services performed on-site, you will reimburse us for all costs and expenses incurred in connection with rendering the Services</li>
    </ul>
    </li>
    
    
    
    <li>
       <strong> Payment Terms</strong>
       <ul class="list-unstyled">
           <li>
    All Subscription Fees are due and payable in advance throughout the Subscription Term, prior to the commencement of the relevant Billing Cycle, as set out in the relevant Order Form. All Consulting Fees shall be due and payable prior to the commencement of Services pursuant to the relevant Order Form.</li>
    <li>
    In case Services are being procured for only a portion of a month during initiation of Services, the Subscription Fees will be charged pro-rata</li>
    <li>
    All other payment terms shall be as set out in the relevant Order Form</li>
    <li>
    Service Fees are non-refundable and payment obligations under an Order Form are non-cancellable unless expressly set out otherwise in the relevant Order Form</li>
    </ul>
    </li>
    
    
    
    
    <li>
      <strong>  Payment Information and Authorisations</strong>
      <ul class="list-unstyled">
          <li>
    You will provide accurate credit card, debit card or bank information as may be needed to process the payment of the Service Fees. You will also update us about any change in the payment information that may impact processing of payment in current or subsequent Billing Cycles. We are not responsible for any failures or delays in payment processing due to inaccurate information furnished by you.</li>
    <li>
    If you are paying by credit card, you authorize us to:
    <ul class="list-unstyled">
        <li>
    charge your credit card or bank account for all Service Fees payable during the Subscription Term.</li>
    <li>
    auto-charge for renewal of subscription unless you have made an explicit request to cancel the subscription at least 15 (fifteen) days prior to the renewal date. Any cancellation requests after auto-charge for subscription renewal will not lead to a refund.
    </li>
    <li>
    use a third party to process payments, and you further consent to the disclosure of your payment information to such third party.
    </li>
    </ul>
    </li>
    </ul>
    </li>
    
    
    
    <li>
      <strong>  Invoicing</strong>
      <ul class="list-unstyled">
          <li>
    We will invoice you prior to the beginning of the initial Subscription Term and prior to the delivery of Consulting Services, if any. Thereafter, we will invoice you no more than thirty (30) days before each subsequent Billing Cycle or each renewal of the Subscription Term or at such other times when fees are payable. All amounts invoiced are due and payable within 7 (seven) days from the due date of the invoice, unless otherwise specified in the relevant Order Form.</li>
    <li>
    In case of delayed payments, we will be entitled to apply interest at (i) 1.5% (one-point-five percent) per month; or (ii) the maximum permissible under law, whichever is higher.</li>
    </ul>
    </li>
    
    
    <li>
     <strong>   Taxes</strong>
     <ul class="list-unstyled">
         <li>
    All Service Fees are exclusive of applicable taxes, levies, cesses and other charges applicable thereon, which shall be borne by you.
    You agree to provide us any tax registration numbers held by you that we may require for our records.</li>
    <li>
    If you are required to deduct or withhold any tax, you will pay the amount deducted or withheld as required by law and pay us an additional amount so that we receive payment in full as if there were no deduction or withholding.
    </li>
    </ul>
    </li>
    
    <li>
       <strong> Service Overuse </strong>
       <ul class="list-unstyled">
           <li>
    We reserve the right to monitor and audit your usage of the Services to determine if the use is within relevant Service Usage Limitations. Any overuse of Services, if technically permitted, will be brought to your notice and may lead to pro-rata additional billing or suspension of the Services, or both.
    </li>
    </ul>
    </li>
    
    <li>
       <strong> Intimation of Unauthorized Use </strong>
       <ul class="list-unstyled">
           <li>
    You are responsible to ensure that the Services are used in accordance with these Terms of Service and will notify us immediately of any unauthorized use of your account or Users’ identifications and passwords by sending an email to contact@doomshell.com.
    </li>
    </ul>
    </li>
        </ul>
                </div>
            </div>
          
          
            <div class="privacy_policyinner">
                <div class="container">
                    <h4> OWNERSHIP AND PROPRIETARY RIGHTS
    
    
          
          
          
          </h4>
                    <ul class="list-unstyled">
            <li>
             <strong>   Myproject-Desk Rights</strong>
             <ul class="list-unstyled">
                 <li>
    We own or have rights to all worldwide intellectual property rights in and to the Subscription Services, Consulting Services, Myproject-Desk Application/Platform and Software (including all derivatives or improvements thereof). All suggestions, enhancement requests, feedback, recommendations or other inputs provided by you or any other party relating to the Services or Software shall be owned by us, and you hereby do and shall make all assignments and take all reasonable acts necessary to accomplish the foregoing ownership. Any rights not expressly granted herein are reserved by us.</li>
    <li>
    You agree not to copy, rent, lease, sell, distribute, or create derivative works based on the Subscription Services or the Consulting Services, in whole or in part, by any means, except as expressly authorized in writing by us
    </li>
    </ul>
            </li>
    
            <li>
             <strong>   Your Rights </strong>
             <ul class="list-unstyled">
                 <li>
    You hereby permit us to use your name, website address and logo in our marketing material including website, email campaigns, brochures etc. during and after active engagement.
    </li>
    </ul>
            </li>
    
            <li>
              <strong>  Using your name and logo </strong>
              <ul class="list-unstyled">
                  <li>
    You hereby permit us to use your name, website address and logo in our marketing material including website, email campaigns, brochures etc. during and after active engagement.
    </li>
    </ul>
            </li>
                  </ul>
                </div>
            </div>
          
          
          
            
            <div class="privacy_policyinner">
                <div class="container">
                    <h4> CONFIDENTIALITY
    
    
          
          
          
          
          </h4>
                    <ul class="list-unstyled">
              <li>
              <strong>  Confidential Information</strong>
              <ul class="list-unstyled">
            <li>    As used herein, “Confidential Information” means all confidential information disclosed by a Party (“Disclosing Party”) to the other Party (“Receiving Party”), whether orally or in writing, that is designated as confidential or that reasonably should be understood to be confidential given the nature of the information and the circumstances of disclosure. Your Confidential Information shall include Customer Data; our Confidential Information shall include the Services; and Confidential Information of each Party shall include the terms and conditions of these Terms of Service and all Orders Forms as well as business and marketing plans, technology and technical information, product plans and designs, and business processes disclosed by such Party. However, Confidential Information (other than Customer Data) shall not include any information that (i) is or becomes generally known to the public without breach of any obligation owed to the Disclosing Party; (ii) was known to the Receiving Party prior to its disclosure by the Disclosing Party without breach of any obligation owed to the Disclosing Party; (iii) is received from a third party without breach of any obligation owed to the Disclosing Party; or (iv) was independently developed by the Receiving Party.
            </li>
            </ul>
              </li>
    
              <li>
               <strong> Protection of Confidential Information </strong>
               <ul class="list-unstyled">
              <li>  The Receiving Party shall use the same degree of care to protect Confidential Information that it uses to protect the confidentiality of its own confidential information of like kind (but in no event less than reasonable care). It shall not use any Confidential Information of the Disclosing Party for any purpose outside the scope of these Terms of Service and except as otherwise authorized by the Disclosing Party in writing, limit access to Confidential Information of the Disclosing Party to those of its and its service providers’ employees, consultants, contractors and agents who need such access for purposes consistent with these Terms of Service and who have signed confidentiality agreements with the Receiving Party containing protections no less stringent than those herein.
            </li>
            </ul> 
            </li>
              
          </ul>
                </div>
            </div>
          
          
          
            <div class="privacy_policyinner">
                <div class="container">
                    <h4> CUSTOMER DATA PROTECTION
    
    
          
          
          
          
          
          </h4>
                    <ul class="list-unstyled">
                     <li>  <strong> No Sensitive Information</strong>
                        You represent that you shall not use the Subscription Services to collect, manage or process Sensitive Information and shall be solely responsible with regard to the nature and extent of the information collected from your clients and potential clients.
                    </li>
                    <li>
                      <strong>  Application of EU-GDPR </strong>
                        To the extent we process any Customer Data to which the provisions of the European Union’s General Data Protection Regulation applies, the terms of the Data Protection Addendum will apply. You agree that we may process the Customer Data in any location of Myproject-Desk, its affiliates, partners and service providers, in accordance with the terms of the Data Protection Addendum.
                    </li>
    
                    <li>
                       <strong> Restricted use of Customer Data </strong>
                        We will not use, or allow anyone else to use, Customer Data to contact any individual or company except as directed or otherwise permitted by you. We will use Customer Data only in order to provide the Subscription Services and Consulting Services and only as permitted by applicable law, these Terms of Service and the Privacy Policy, as set out at <a href="privacy-policy.html"> privacy-policy</a>.
                    </li>
    
                    <li>
                      <strong>  Aggregate and anonymised data</strong>
                        We may monitor use of the Subscription Services by all our customers and use the data gathered in an aggregate and anonymous manner. You agree that we may use and publish such information, provided that such information does not incorporate any Customer Data and/or identify you.
                    </li>
    
                    <li>
                     <strong>   Security Measures </strong>
                        We will adopt and maintain appropriate organizational and technical safeguards for the protection of the security, confidentiality and integrity of Customer Data.
                    </li>
          </ul>
                </div>
            </div>
          
          
            <div class="privacy_policyinner">
                <div class="container">
                    <h4>  TERM, RENEWAL, SUSPENSION AND TERMINATION
    
    
          
          </h4>
                    <ul class="list-unstyled">
                      <li>  These Terms of Service shall be effective from the Effective Date and be binding between you and Myproject-Desk till the completion of all the obligations undertaken pursuant here-to, unless terminated earlier in accordance with the terms here-of.</li>
                      <li>
                        The Subscription Term shall commence on the Start Date set out in the relevant Order Form and be valid for the period specified therein. The Subscription Term will renew automatically for a further subscription period or 1 (one) year, whichever is lesser, unless (i) you send a non-renewal notice in writing to sales@doomshell.com at least 15 (fifteen) days prior to the approaching renewal; or (ii) an explicit renewal Order Form captures a different Billing Cycle. If you add new products or functionalities during the Subscription Term, they will renew along with the Subscription Term, unless otherwise indicated in the relevant Order Form</li>
                        <li>
                        The term of Consulting Services will be as set out in the relevant Order Form. If you procure Consulting Services that recur, they will be considered part of the subscription and will renew along with the Subscription Term.</li>
                        <li>
                        Free Services, if made available, will generally be provided for the agreed trial period or the Start Date of the Subscription Services, whichever is earlier. We may, however, suspend or terminate the Free Services for any reason at any time without notice.</li>
                        <li>
                        Accounts pertaining to subscriptions that are not renewed in accordance with these Terms of Service shall be deactivated and permanently deleted after a period of 30 (thirty) days from the date due for renewal.</li>
                        <li>
                        No Termination without Cause</li>
                        <li>
                        Neither Party will terminate these Terms of Service, a Subscription Term or an Order Form for Consultancy Services without cause or for convenience prior to the expiry of the relevant term. In case you choose to stop using any of the Services before the expiry of the relevant term, you may do so, without Myproject-Desk being liable to refund any Services Fees already paid. Not with standing the applicable Billing Cycle, you will be liable to pay all Service Fees payable for the remainder of the Subscription Term</li>
    
                        <li>
                         <strong>   Suspension of Services</strong>
                         <ul class="list-unstyled">
                             <li>
    We may suspend access to your account after giving 15 (fifteen) days prior written notice to you, in case any amounts remain due and payable upon completion of the payment period set out in these Terms of Service or the relevant Order Form.</li>
    <li>
    We may also suspend access to your account with immediate effect if (i) there is unauthorized access to your account; (ii) there is a violation of Acceptable Use Policy; (iii) your use of the Services is in violation of applicable laws or regulations; or (iv) your use of the Services poses a risk to the Platform or other users of the Services.
    </li>
    </ul>
                        </li>
    
                        <li>
                            If the reason for the suspension continues for a period of 15 (fifteen) days, we may proceed to terminate these Terms of Service or the relevant Order Form, without prejudice to other remedies that may be available under these Terms of Service or applicable laws.
    
                        </li>
    
                        <li>
                          <strong>  Termination for Cause</strong>
                          <ul class="list-unstyled">
                              <li>
    Either Party may terminate these Terms of Service or an Order Form for cause: (i) upon 30 (thirty) days’ prior written notice to the other Party on grounds of a material breach, if such breach remains uncured at the expiration of such period; or (ii) immediately, if the other party becomes the subject of insolvency, bankruptcy, liquidation or other such proceedings and the same are not stayed by a competent court within a period of 6 (six) months therefrom.</li>
    </ul>
                        </li>
    
                        <li>
                         <strong>   Consequences of expiry/termination</strong>
                         <ul class="list-unstyled">
                             <li>
    Upon expiry or termination of any of the Services, all payments that are due and payable therefor shall immediately become due and payable, irrespective of the Billing Cycle. We shall not be liable to provide any refunds to you, except, where you have terminated on grounds of our material breach, we shall refund pro-rata any Subscription Fees for the unexpired portion of the Subscription Term.</li>
    <li>
    For a period of 30 (thirty) days following expiry or termination, we will retain the data stored by you on the Platform. Within this period, you can request us to keep the account active for an additional fee or provide a copy of the contacts stored in your account. Upon completion of the afore-mentioned period of 30 (thirty) days, we will permanently delete all data in your account, without retaining any copy thereof. You agree that we are not liable for any such deletion of data.</li>
    <li>
    In respect of Free Services, we do not undertake to provide any access to or copy of the data stored in your account post expiry or termination of the access; all such data will be deleted from the Platform.</li>
    </ul>
                        </li>
    
                        <li>
                            All terms hereof, which by their nature survive termination (including but not limited to terms pertaining to intellectual property rights, data privacy, confidentiality, indemnity and dispute resolution) shall survive the expiry or termination of these Terms of Service.
    
                        </li>
          </ul>
                </div>
            </div>
          
          
            <div class="privacy_policyinner">
                <div class="container">
                    <h4> INDEMNITY
    
          
          </h4>
                    <ul class="list-unstyled">
                      <li>  We shall defend, indemnify and hold you harmless against any loss, damage or costs (including reasonable attorneys’ fees) incurred in connection with claims, demands, suits, or proceedings made or brought against you by a third party alleging that the use of the Services as contemplated hereunder infringes the intellectual property rights of such third party; provided that you (i) promptly give us written notice of the claim; (ii) give us sole control of the defense and settlement of the claim (we shall however not settle any claim unless it unconditionally releases you of all liability); and (c) provide us, at our cost, all reasonable assistance.</li>
                      <li>
                        You shall defend, indemnify and hold us harmless against any loss, damage or costs (including reasonable attorneys’ fees) incurred in connection with claims, demands, suits, or proceedings made or brought against us by a third party alleging that Customer Data or your use of the Services infringes the privacy rights or intellectual property rights of, or has otherwise harmed, a third party or violates any law or regulation; provided, that we (i) promptly give you written notice of the claim; (ii) give you sole control of the defense and settlement of the claim (you shall however not settle any claim unless it unconditionally releases us from all liability); and (c) provide you, at your cost, all reasonable assistance.   </li>
          </ul>
                </div>
            </div>
          
          
            
            <div class="privacy_policyinner">
                <div class="container">
                    <h4>  DISCLAIMERS & LIMITATIONS OF LIABILITY
    
    
          
          
          
          
          
          
          
          
          </h4>
                    <ul class="list-unstyled">
          <li>
           <strong> Disclaimer of Warranties</strong>
           <ul class="list-unstyled">
               <li>
            WE MAKE NO REPRESENTATIONS OR WARRANTIES ABOUT THE SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, SECURITY OR ACCURACY OF THE SUBSCRIPTION SERVICES, DATA MADE AVAILABLE FROM THE SUBSCRIPTION SERVICES, OR THE CONSULTING SERVICES FOR ANY PURPOSE. APPLICATION PROGRAMMING INTERFACES (APIs) MAY NOT BE AVAILABLE AT ALL TIMES. TO THE EXTENT PERMITTED BY LAW, THE SUBSCRIPTION SERVICES AND CONSULTING SERVICES ARE PROVIDED “AS IS” WITHOUT WARRANTY OR CONDITION OF ANY KIND AND WE DISCLAIM ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS, IMPLIED OR STATUTORY, WITH REGARD TO THE SUBSCRIPTION SERVICES AND THE CONSULTING SERVICES, INCLUDING WARRANTIES AS TO MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
        </li>
        </ul>
          </li>
    
    
    
          <li>
          <strong>  Limitation of Liability</strong>
          <ul class="list-unstyled">
              <li>
            IN NO EVENT SHALL EITHER PARTY, ITS DIRECTORS, OFFICERS OR ANY OF ITS AFFILIATES, BE LIABLE FOR ANY SPECIAL, PUNITIVE, INDIRECT, CONSEQUENTIAL OR INCIDENTAL DAMAGES, INCLUDING, BUT NOT LIMITED TO, LOSS OF DATA, LOSS OF BUSINESS OR OTHER LOSS (INCLUDING SUBSTITUTION OF SERVICES) ARISING OUT OF OR RELATING TO THESE TERMS OF SERVICE OR ANY THIRD PARTY SERVICES DELIVERED IN CONNECTION HEREWITH EVEN IF PREVIOUSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES AND REGARDLESS OF WHETHER SUCH LIABILITY ARISES OUT OF CONTRACT, NEGLIGENCE, TORT, STRICT LIABILITY OR ANY OTHER THEORY OF LEGAL LIABILITY; AND IN NO EVENT SHALL EITHER PARTY’S CUMULATIVE LIABILTY HEREUNDER (OTHER THAN FOR CLAIMS FOR INDEMNITY AND PAYMENT OF FEES DUE) EXCEED THE AMOUNT PAID OR PAYABLE BY YOU TO Myproject-Desk IN THE 6 (SIX) MONTH PERIOD IMMEDIATELY PRECEDING ANY SUCH CLAIM OR INR 10000, WHICHEVER IS LESSER.
        </li>
        </ul>
          </li>
    
          </ul>
                </div>
            </div>
          
          
          
            <div class="privacy_policyinner">
                <div class="container">
                    <h4>  GENERAL PROVISIONS
    
    
          
          
          
          
          
          
          
          
          
          </h4>
                    <ul class="list-unstyled">
                      <li>  FORCE MAJEURE. Neither Party shall be responsible for failure or delay in performance if caused by Force Majeure, except in respect of payment obligations hereunder. Each Party will use reasonable efforts to mitigate the effect of a Force Majeure event.</li>
                      <li>
                        COMPELLED DISCLOSURE. We reserve the right at all times to disclose any information, including Customer Data and Confidential Information, when compelled to so by any applicable law, regulation, legal process or governmental request; however, we shall, if permissible, provide you notice of the same.</li>
                        <li>
                        SEVERABILITY. If any provision of these Terms of Service is held by a court of competent jurisdiction to be contrary to law, or for any reason invalid, void or unenforceable, the remainder of the provisions shall, to the extent practicable, remain in full force and effect and Parties will negotiate in good faith to amend such invalid, void or unenforceable provision to give effect to the intended purpose of such provision in accordance with applicable laws.</li>
                        <li>
                        RELATIONSHIP BETWEEN THE PARTIES. No joint venture, partnership, employment, or agency relationship is created between you and Myproject-Desk as a result of these Terms of Service or use of the Services.</li>
                        <li>
                        ASSIGNMENT. You may assign your rights here under in the event of a merger or acquisition of all or substantially all of your assets; in all other cases, our prior written approval shall be required for assignment and the same shall not be unreasonably withheld. We may assign these Terms of Service to any affiliate or in the event of merger, reorganization, sale of all or substantially all of our assets, change of control or operation of law; in all other cases, your prior written approval shall be required for assignment and the same shall not be unreasonably withheld.</li>
                        <li>
                        NO WAIVER. The failure of either Party to enforce any right or provision in these Terms of Service shall not constitute a waiver of such right or provision unless acknowledged and agreed to by such Party in writing.</li>
                        <li>
                        NOTICE. Any notice or other communication required or permitted under these Terms of Service shall be given in writing to the other Party at the address set out below via hand delivery or by registered post acknowledgment due. Notices shall be effective upon receipt. However, notices pertaining to the use of the Services, including overuse and payments, may be sent by email only to the address set out below.</li>
                  </ul>
          
                  <h6 class="mt-3">
                    Name: Doomshell Software Pvt. Ltd. Address: A3, Mall Rd, near Radhey Bakers, Sector-3, Naya Khera, Vidyadhar Nagar, Jaipur, Rajasthan, India Email: sales@doomshell.com Attn: Legal Department – Myproject-Desk. <strong> GENERAL PROVISIONS:</strong>
    
                  </h6>
    
                  <h6 class="">
                    These Terms of Service shall be governed by and construed in accordance with the laws of India. Parties shall try to resolve any dispute arising out of or in relation to these Terms of Service by mutual discussions, failing which the same shall be submitted to arbitration under the provisions of the Arbitration and Conciliation Act, 1996. The place of arbitration shall be Bhopal and the language of arbitration, English. Subject to the foregoing, the courts at Bhopal, India shall have exclusive jurisdiction. <strong> ENTIRE AGREEMENT:</strong>
    
                  </h6>
    
                  <p>
                    These Terms of Service, including its Order Forms, the Privacy Policy, the Acceptable Use Policy and any additional Order Forms, modifications or addenda that may be agreed to from time to time constitutes the entire agreement between the Parties and supersedes all prior and contemporaneous agreements, proposals or representations, written or oral, concerning its subject matter. Any additional or different terms set out in a purchase order or any future correspondence shall not be binding on us. Any modification to these Terms of Service shall be notified to you within the Myproject-Desk Application used to access your Subscription Services and by posting a revised copy on our website. Any modification to an Order Form shall be as mutually agreed to by the Parties. ORDER OF PRECEDENCE. In the event of any conflict between these Terms of Service and the terms of an Order Form, the Order Form shall prevail solely with respect to the subject matter thereof. CONTACT INFORMATION. You can contact us at contact@doomshell.com.  
    
                  </p>
                </div>
            </div>
          
          
            <div class="privacy_policyinner">
                <div class="container">
                    <h4>LIMITER LICENSE
    
    
          </h4>
    <p>
        Obliging to T&C’s mentioned on this page, we give limited rights to you for displaying the contents/ materials of this application/page, however you should make sure that this will not interrupt the operation of the website/application in anyway.
    
    </p>
                </div>
            </div>
    
    
    
          </section>
    
    
<%- include('../partials/front/footer'); %>