<%- include('../partials/front/header'); %>
   

    <!-- inner-headerSlider-start -->
    <section id="innerHeadSliderSec">
        <img src="/theme-assets/front/images/elementHead1.png" alt="element" class="element1 hang">
        <img src="/theme-assets/front/images/elementHead02.png" alt="element" class="element2 hang">
        <img src="/theme-assets/front/images/elementHead2.png" alt="element" class="element3 hang">
        <img src="/theme-assets/front/images/elementHead4.png" alt="element" class="element4 hang">
        <img src="/theme-assets/front/images/elementHead5.png" alt="element" class="element5 hang">
        <div class="innerHeadSliderSecinner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <div class="innerHeadCnt">
                            <h1>Comparisions</h1>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                      <li class="breadcrumb-item"><a href="<%= process.env.APP_URL %>/">Home</a></li>
                                     
                                      <li class="breadcrumb-item active" aria-current="page">VS Desktime</li>
                                    </ol>
                                  </nav>
                        </div>
                    </div>
                    <!-- col-md-6 -->
    
                    <div class="col-md-6 align-self-center text-center">
    <div class="innerHeadImg">
        <img src="/theme-assets/front/images/vsDesktime.png" alt="VS Desktime">
    </div>
                    </div>
                    <!-- col-md-6 -->
                </div>
            </div>
        </div>
    </section>
        <!-- inner-headerSlider-end -->
    
    <!-- price-plan-section-start -->
    <section id="pricePlanSec" class="comparisionSec">
        <img src="/theme-assets/front/images/elementHead02.png" alt="element" class="element1 hang">
    <div class="pricePlanSecinner">
        <div class="container">
            <hgroup class="lightW">
                <h2>
                    Side by Side Feature Comparison of DeskTime
    
    
                </h2>
                <p>Myproject-Desk and DeskTime are similar tools, so we’ve created a side-by-side comparison of their main characteristics.  Take a look at them, and then we’ll show you more detailed reasons to choose Myproject-Desk over DeskTime .
    
    
                </p>
            </hgroup>
            <div class="row g-0">
                <div class="col-md-4">
    <div class="pricePBx">
    <div class="pricePBXHeadFeild">
        <div class="priceBxHead">
            <h4>Compare</h4>
        </div>
    
        <ul class="list-unstyled">
       <li>     Simple Installation
    </li>
       <li>Productivity Measurement
    </li>
        <li>Project Management
        </li>
            <li>Jots
            </li>
                <li>Automated Screenshots
                </li>
                    <li>Time and Attendance
                    </li>
                        <li>Trial Period
                        </li>
                            <li>API</li>
                                <li>Kanban Task management
                                </li>
                                    <li>BI Dashboards
                                    </li>
                                        <li>In Depth Screenshot Insights
                                        </li>
                                            <li>Live Product Training
                                            </li>
                                                <li>Dedicated Account Manager
                                                </li>
                                                    <li>On permise Deployment
                                                    </li>
                                                        <li>24 x 7 Support over calls
                                                        </li>
                                                            <li>Quick User Import<br><small>( Import with CSV/XLS within Minutes)
                                                            </small>
                                                            </li>
                                                                <li>Price/user/month
                                                                </li>
        </ul>
    </div>
    </div>
    <!-- pricePBx -->
                </div>
                <!-- col-md-3 -->
    
    <div class="col-md-8">
    <div class="priceBxDataFeildmn priceBxDataFeildmnCompare">
        <div class="priceBxDataFeildinnermn">
            <div class="row g-0">
    <div class="col">
    <div class="priceBxDataFeild">
        <div class="priceBxDataHead">
           
          <div class="text-center comparisionImgDv">
              <img src="/theme-assets/front/images/logo.png" alt="Logo">
          </div>
        </div>
        <!--  -->
    <ul class="list-unstyled">
        <li><span class="flaticon-checked
            "></span></li>
    
            <li><span class="flaticon-checked
                "></span></li>
                <li><span class="flaticon-checked
                    "></span></li>
                    <li><span class="flaticon-checked
                        "></span></li>
                        <li><span class="flaticon-checked
                            "></span></li>
                            <li><span class="flaticon-checked
                                "></span></li>
                                <li>
                                   <h6> 7 Days</h6>
                                </li>
                                    <li><span class="flaticon-checked
                                        "></span></li>
                                        <li><span class="flaticon-checked
                                            "></span></li>
                                            <li><span class="flaticon-checked
                                                "></span></li>
                                                <li><span class="flaticon-checked
                                                    "></span></li>
                                                    <li><span class="flaticon-checked
                                                        "></span></li>
                                                        <li><span class="flaticon-checked
                                                            "></span></li>
                                                            <li><span class="flaticon-checked
                                                                "></span></li>
                                                                <li><span class="flaticon-checked
                                                                    "></span></li>
                                                                    <li><span class="flaticon-checked
                                                                        "></span></li>
                                                                        <li>
                                                                            <h6>222/- INR Flat</h6>
                                                                        </li>
    </ul>
    
    </div>
    </div>
    <!-- col -->
    
    
    <div class="col">
        <div class="priceBxDataFeild">
            <div class="priceBxDataHead priceBxDataHead2">
                
                <div class="text-center comparisionImgDv">
                    <img src="/theme-assets/front/images/desktimeLogo.png" alt="">
                </div>
            </div>
            <!--  -->
        <ul class="list-unstyled">
            <li><i class="far fa-times-circle"></i></li>
            <li><span class="flaticon-checked
                "></span></li>
        
                <li><span class="flaticon-checked
                    "></span></li>
                    
                        <li><i class="far fa-times-circle"></i></li>
                            <li><span class="flaticon-checked
                                "></span></li>
                                <li><span class="flaticon-checked
                                    "></span></li>
                                    <li>
                                        <h6>14 Days</h6>
                                    </li>
                                        <li><span class="flaticon-checked
                                            "></span></li>
                                            <li><i class="far fa-times-circle"></i></li>
                                            <li><i class="far fa-times-circle"></i></li>
                                                
                                                    <li><i class="far fa-times-circle"></i></li>
                                                        <li><i class="far fa-times-circle"></i></li>
                                                            <li><i class="far fa-times-circle"></i></li>
                                                                <li><i class="far fa-times-circle"></i></li>
                                                                
                                                                        <li><i class="far fa-times-circle"></i></li>
                                                                        <li><span class="flaticon-checked
                                                                            "></span></li>
                                                                            <li>
                                                                                <h6>513-1466/- INR</h6>
                                                                            </li>
        </ul>
    
        </div>
        </div>
        <!-- col -->
    
            </div>
            <!-- row -->
        </div>
    </div>
    </div>
    <!-- col-md-9 -->
    
            </div>
        </div>
    </div>
    </section>
    <!-- price-plan-section-end -->
    
    
    
    
    <!--  -->
    <section id="yourProductivitySec">
        <div class="yourProductivitySecinner">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <hgroup class="align-self-center">
                        <h3>Still Not Sure Myproject-Desk Is for You?
                        </h3>
                        <p>Get 14 days for trial, test out all the features, then make your decision.
                        </p>
                    </hgroup>
        
                    <div class="align-self-center">
                        <a href="javascript:void(0);" class="site_btn">Start free Trial</a>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
        </section>
    <!--  -->
    
    
    
    <!-- faq-section-start -->
    <section id="topReasonsSec">
        <img src="/theme-assets/front/images/elementHead02.png" alt="element" class="element1 hang">
        <img src="/theme-assets/front/images/elementHead02.png" alt="element" class="element2 hang">
        <div class="topReasonsSecInner">
            <div class="container">
                <hgroup>
           
                    <h2>Top Reasons to Select Myproject-Desk
    
                    </h2>
                </hgroup>
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <div class="faqImg">
        <img src="/theme-assets/front/images/faqImg.png" alt="FAQ">
                        </div>
                    </div>
                    <!-- col-md-6 -->
        
        <div class="col-md-6 align-self-center">
            <div class="faqCnt">
        
        <p>Installation of Myproject-Desk is much simpler than DeskTime, because Myproject-Desk contains one small installation file and you can either invite your employees through email to install it, or you can use an active directory and install it on all office computers at once.
    
        </p>
    
        <p>On the other hand, DeskTime requires that you invite employees to join you and install additional browser extension so you can track URLs. Their interface isn’t as friendly as Myproject-Desk’s. Some information is only accessible through a few confusing steps, instead of through one click.
    
        </p>
    
        <p>Additionally, Myproject-Desk prides itself in having a stellar customer support team which is available every day, and usually responds within 10 minutes. We tried contacting DeskTime support through chat, and we waited 80 hours for a response! To be fair, the weekend was included, but still – we know that not every client has weekends off, and if anything goes sideways on a Saturday or even Sundays, you can count on Myproject-Desk to fix it.
    
        </p>
    
        <p>
            <strong>
                If you want to use a remote employee time tracking app, we recommend that you give Myproject-Desk a try since it is perfectly tailored for remote teams, and it’s a simpler and more affordable solution than its counterparts.
    
            </strong>
        </p>
          <!--  -->
            </div>
        </div>
        <!-- col-md-6 -->
        
                </div>
            </div>
        </div>
        </section>
        <!-- faq-section-end -->
        
    
<!-- testimonials-section-start -->
    
    <section id="our_verticlesec" class="bg-light">
        <div class="our_verticlesectop">
          <div class="container">
         <hgroup>
             <h2>What Our Clients Say ?</h2>
         </hgroup>
          </div>
        </div>
    
    
        <div class="our_verticlesecbottom">
          <div class="container">
            <div class="our_verticlesecbottominner">
              <div class="owl-carousel owl-theme owl-loaded our_verticlowl">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        <div class="owl-item">
                          <div class="verticle_bx">
                            <div class="verticle_bxinner">
                            <div class="text-center">
                              <img src="/theme-assets/front/images/testimonial_user.jpg">
                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                         <h5>Maria Kloop</h5>
                         <h6>Developer</h6>
                          </div>
                        </div>
                      </div>
    
                      <div class="owl-item">
                        <div class="verticle_bx">
                          <div class="verticle_bxinner">
                          <div class="text-center">
                            <img src="/theme-assets/front/images/testimonial_user.jpg">
                          </div>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                       <h5>Maria Kloop</h5>
                       <h6>Developer</h6>
                        </div>
                      </div>
                    </div>
    
                    <div class="owl-item">
                      <div class="verticle_bx">
                        <div class="verticle_bxinner">
                        <div class="text-center">
                          <img src="/theme-assets/front/images/testimonial_user.jpg">
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                     <h5>Maria Kloop</h5>
                     <h6>Developer</h6>
                      </div>
                    </div>
                  </div>
    
                  <div class="owl-item">
                    <div class="verticle_bx">
                      <div class="verticle_bxinner">
                      <div class="text-center">
                        <img src="/theme-assets/front/images/testimonial_user.jpg">
                      </div>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                   <h5>Maria Kloop</h5>
                   <h6>Developer</h6>
                    </div>
                  </div>
                </div>
                        
                    </div>
                </div>
                </div>
            </div>
          </div>
        </div>
      </section>
    
    <!-- testimonials-section-end -->
    
    
    
    
    
    <!-- get-in-touch-section-start -->
    <section id="getInTouchSec">
        <div class="getInTouchSecinner">
            <div class="container">
                <hgroup>
                    <h2>
                        Get in Touch
                    </h2>
                    <p>Know How You Can Increase Employee Productivity with Myproject-Desk.
        
                    </p>
                </hgroup>
                <div class="row">
                    <div class="col-md-4">
                        <div class="getTouchBx wow fadeInUp">
        <div class="text-center">
            <span class="flaticon-location-1
        
            "></span>
        </div>
        <!--  -->
        <h4>Address</h4>
        <p>
            <a href="javascript:void(0);">A-3 Maal Road, Vidhyadhar Nagar, Jaipur</a>
        </p>
                          </div>
                    </div>
                    <!--  -->
        
        
                    <div class="col-md-4">
                        <div class="getTouchBx wow fadeInUp">
        <div class="text-center">
            <span class="flaticon-phone-call
        
            "></span>
        </div>
        <!--  -->
        <h4>Phone</h4>
        <p>
            <a href="tel:++91 9828732221">+91 9828732221</a>
        </p>
        
        
                        </div>
                    </div>
                    <!--  -->
        
                    <div class="col-md-4">
                        <div class="getTouchBx wow fadeInUp">
        <div class="text-center">
            <span class="flaticon-email
        
            "></span>
        </div>
        <!--  -->
        <p>
            <a href="mailto:sales@doomshell.com">sales@doomshell.com</a>
        </p>
        
        <p>
            <a href="mailto:contact@doomshell.com">contact@doomshell.com</a>
        </p>
                        </div>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
        
        <!-- form -->
        
        <div class="sendYourMessageSec">
            <div class="sendYourMessageSecinner">
                <hgroup>
                    <h2>Send Your Message</h2>
                </hgroup>
        
                <form action="">
                    <div class="row">
                        <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput1" placeholder="Your Name">
                        <label for="floatingInput1">Your Name</label>
                      </div>
                    </div>
                    <!--  -->
        
                    <div class="col-md-6">
                      <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput2" placeholder="Email Address">
                        <label for="floatingInput2">Email Address</label>
                      </div>
                    </div>
                    <!--  -->
        
        
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput3" placeholder="Your Subject">
                            <label for="floatingInput3">Your Subject</label>
                          </div>
                        </div>
                        <!--  -->
            
                        <div class="col-md-6">
                          <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInput4" placeholder="Your Phone">
                            <label for="floatingInput4">Your Phone</label>
                          </div>
                        </div>
                        <!--  -->
        
                        <div class="col-md-12">
                            <div class="form-floating">
                              <textarea class="form-control" id="floatingInput5" placeholder="Write Message"></textarea>
                              <label for="floatingInput5">Write Message</label>
                            </div>
                          </div>
                          <!--  -->
                        
                    </div>
                    <!--  -->
                    <div class="text-center mt-3">
                        <button type="submit" class="site_btn2 border-0">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
        
        </section>
        <!-- get-in-touch-section-end -->
             
        <%- include('../partials/front/footer'); %>