<%- include('../partials/front/header'); %>



<section id="howItWorkPage">
    <!-- ------------------slider ------------------------>
    <div class="hiwSlider">
        <div class="serv_elemento1">
            <img src="https://esmartech.ae/webroot/front//theme-assets/images/serv_elementright.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6  align-self-center">
                    <div class="slider-contant">
                        <h1>How It Works</h1>
                        <p>With SpyMyCell you can track app usage, monitor calls and messages, and download photos or videos from the device.</p>
                        <h6>Let’s see how it works!</h6>
                        <ul class="d-flex">
                            <li>
                                <a href="<%= process.env.APP_URL %>/pricing" class="site_a" >Buy Now</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="slider-contant">
                        <img src="/theme-assets/images/slider_image.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="graphics_6"></div>
    </div>
    <!-- ------------------contant ------------------------>
    <div id="track_Steps">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center ">
                    <div class="image_section">
                        <img src="/theme-assets/images/process (1).png">
                    </div>
                </div>
                <div class="col-md-6 align-self-center ">
                    <div class="contant_section">
                        <h1>Part-1 </h1>
                        <h3>Buy the App</h3>
                        <p>Click the Buy Now button below.</p>
                       
                    </div>
                </div>
            </div>
            <div class="row align-content-center arroe_img">
                <img src="/theme-assets/images/arrow1.png">
            </div>
        </div>
    </div>
    <!-- --------------------------------------2--------------------------------------- -->
    <div id="track_Steps">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center ">
                    <div class="contant_section">
                        <h1>Part-2 </h1>
                        <h3>Install The App</h3>
                        <p>You’ll be immediately e-mailed a receipt with your registration code after the order is finished. You also receive log in and password for your personal SpyMyCell account as well as the licence code. There you will find guidelines on how to get the App. Once the app is downloaded you can run the installation procedure. It takes less than a minute!</p>
                    </div>
                </div>
                <div class="col-md-6 align-self-center ">
                    <div class="image_section">
                        <img src="/theme-assets/images/process (2).png">
                    </div>
                </div>
            </div>
            <div class="row align-content-center arroe_img">
                <img src="/theme-assets/images/arrow2.png">
            </div>
        </div>
    </div>
    <!-- -----------------------------------3------------------------------------------ -->
    <div id="track_Steps">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center ">
                    <div class="image_section">
                        <img src="/theme-assets/images/process (3).png">
                    </div>
                </div>
                <div class="col-md-6 align-self-center order-sm-last order-first">
                    <div class="contant_section">
                        <h1>Part-3 </h1>
                        <h3>Configure The App</h3>
                        <p>Once you installed the app on the phone, open it and type the license code and choose which activity you want to track and then select the option to begin tracking.</p>
                    </div>
                </div>
            </div>
            <div class="row align-content-center arroe_img">
                <img src="/theme-assets/images/arrow1.png">
            </div>
        </div>
    </div>
    <!-- -----------------------------------4------------------------------------------ -->
    <div id="track_Steps">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-self-center ">
                    <div class="contant_section">
                        <h1>Part-4 </h1>
                        <h3>Log in to View Activities</h3>
                        <p>The application will start to work in a stealth mode right after installation. It will still stay active even in the event the SpyMyCell target phone is turned off for some time. All the logs will be uploaded once phone gets
                            Internet connection. You can login to your personal SpyMyCell account to review the info. Tracking Features are categorized in the log entries located on the left side.</p>
                    </div>
                </div>
                <div class="col-md-6 align-self-center ">
                    <div class="image_section">
                        <img src="/theme-assets/images/process (4).png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ---------------------------------------More Features of Ezypayroll----------------- -->
    <div id="More_Features">
        <div class="container">
            <div class="features">
                <h2>Stop Worrying About Your Kids or Employees Activities</h2>
               
            </div>
        </div>
    </div>
</section>


    <section id="selectPackage">
        <div class="container">
            <div class="row align-items-lg-center">
                <div class="col-sm-5">
                    <h3 class="sectionHeading">Chose your Plan</h3>
                    <p>Start Monitoring & Stop Worrying Now!</p>
                </div>
                <div class="col-sm-7">
                    <ul class="d-flex justify-content-end h-100 align-items-center">
                        <li class="tryButton"><a href="<%= process.env.APP_URL %>/pricing">Buy Now</a></li>
        
                    </ul>
                </div>
            </div>
        </div>
    </section>
                <%- include('../partials/front/footer'); %>
