<%- include('../partials/header'); %>

    <!-- For Left Sidebar include body-> data-menu="vertical-menu" class="vertical-layout vertical-menu content-left-sidebar menu-expanded"-->

    <style>
        html body .content .content-wrapper {
           background-size: cover;
            height: 100vh;
        }
        
        .card-body {
            text-align: center;
        }
        
        .card {
            margin-top: 10vh;
        }
        
        footer.footer-light {
            background: #fff;
            position: fixed;
            bottom: 0px;
            width: 100%;
            text-align: center;
        }
        
        footer.footer-light span {
            display: block;
            text-align: center;
        }
    </style>

    <body>
        <!-- BEGIN Content-->
        <div class="content modern-content container-fluid">
            <div class="content-wrapper">
                <!-- content header-->
                <div class="content-header row">

                </div>
                <!-- content header-->

                <!-- content body-->
                <div class="content-body">



                    <section class="basic-inputs h-100">

                        <div class="row match-height h-100 justify-content-center align-items-center">
                            <div class="col-xl-4 col-md-4">
                                <form action="/forgot" method="post" class="form needs-validation" novalidate>

                                    <div class="card">
                                        <div class="card-content">
                                            <div class="card-body">

                                                <style>
                                                    .brand-logo {
                                                        width: 284px;
                                                    }
 </style>
                      <a href="<%= process.env.APP_URL %>"> <img class="brand-logo" alt="Admin logo" src="/theme-assets/images/logo/logo.png" />
                                                    </a>

                                            </div>
                                            <div class="card-body">
                                                <% if (locals.messages) { %>
                                                    <div class="alert alert__success " style="color:red; ">
                                                        <%= messages.error %>
                                                    </div>
                                                    <% } %>
                                                        <div class="form-body">
                                                            <h1>Forgot Password</h1>
                                                           
                               <div class="form-group">
                               <label for="donationinput3" class="sr-only">E-mail</label>
                 <input type="email" id="donationinput3" class="form-control" required placeholder="Enter E-mail ID" name="email">
                     <div class="valid-feedback">Valid.</div>
                     <div class="invalid-feedback">Please fill out this field.</div>
                                                                
                       </div>


 </div>
                          

                       <div class="d-flex justify-content-between align-items-center list-unstyled w-100">
                         <div>
                            
                                                            </div>
                                                            <div class="form-actions center">
                                                                <button type="submit" class="btn btn-primary">Submit</button>

                                                            </div>
                                                        </div>



                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>


                        </div>
                    </section>


                </div>

                <!-- content body-->

            </div>
        </div>
        <!-- START FOOTER DARK-->
      
<style>
    .loader {
        display: none;
        top: 50%;
        left: 50%;
        position: fixed;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.8);
        height: 100%;
        text-align: center;
        width: 100%;
        z-index: 99999999;
    }
    
    .loading {
        border: 2px solid #ccc;
        width: 60px;
        height: 60px;
        margin: auto;
        border-radius: 50%;
        border-top-color: #1ecd97;
        border-left-color: #1ecd97;
        animation: spin 1s infinite ease-in;
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
<div class="loader">
    <div class="loader-inner" style="position: relative;height: 100%;width: 100%;">
        <div class="loading">
        </div>
    </div>
</div>
<script>
    // Disable form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Get the forms we want to add validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            document.getElementsByClassName("loader")[0].style.display = "block";
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
              document.getElementsByClassName("loader")[0].style.display = "none";
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>
    
        <%- include('../partials/footer'); %>

            <!-- END Content-->
